## Clean and merge data linea 123 files
Carolina Tovar Castiblanco

In [1]:
import os
import sys
import logging
import pandas as pd

from pandas_profiling import ProfileReport


project_dir = os.path.dirname(os.path.abspath('.')) # get the path of the project, if doesn't work use os.getcwd() instead and use rfind to find the project dir
sys.path.append(os.path.join(project_dir, 'src', 'data'))

from data_manipulator import get_input_data

bucket = 'ctovar_espbigdata'
directory = 'BigData'

## Read Metadata
-----
General info for each relevant column

In [2]:
file = 'gs://{}/{}/data/metadatos-llamadas-urg-y-emer.csv'.format(bucket, directory)
df_metadata = pd.read_csv(file, encoding='latin1', sep=';')
df_metadata

,NOMBRE,DESCRIPCION
0,FECHA_INCIDENTE,Es la fecha el cual se registra la llamada del...
1,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,Es la fecha el cual se inicia el desplazamient...
2,CODIGO LOCALIDAD,Es el código de las 20 localidades de la ciuda...
3,LOCALIDAD,Es la localidad donde sucede el incidente.
4,EDAD,La edad del paciente.
5,UNIDAD,"La descripción de la edad si es en horas, días..."
6,GENERO,Es la distinción de genero del paciente
7,RED,Es la localización a nivel bogota de la red de...
8,TIPO_INCIDENTE,Es la descripción inicial que tipifica el cent...
9,PRIORIDAD,Es la tipificación según la prioridad del inci...
10,MES,Es el mes el cual ocurrió el incidente.
11,CLASIFICACION FINAL,Es la clasificación final que entrega el centr...

## Get raw data of all of months

In [3]:
raw_data_julio = get_input_data(
    bucket = bucket,
    initial_directory = directory,
    filename = 'datos-abiertos-julio-2019.csv'
    )
print(raw_data_julio.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14560 entries, 0 to 14559
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   FECHA_INCIDENTE                    14560 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO-MOVIL  14560 non-null  object
 2   CODIGO DE LOCALIDAD                14560 non-null  int64
 3   LOCALIDAD                          14560 non-null  object
 4   EDAD                               14560 non-null  object
 5   UNIDAD                             14560 non-null  object
 6   GENERO                             14560 non-null  object
 7   RED                                14560 non-null  object
 8   TIPO_INCIDENTE                     14560 non-null  object
 9   PRIORIDAD                          14560 non-null  object
 10  MES                                14560 non-null  object
 11  CLASIFICACION FINAL                13035 non-null  object
dtypes: int64(1), object(11)
memory usage: 1.3+ MB
None

In [4]:
raw_data_agosto = get_input_data(
    bucket = bucket,
    initial_directory = directory,
    filename = 'datos-abiertos-agosto-2019.csv'
    )
print(raw_data_agosto.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18141 entries, 0 to 18140
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   18141 non-null  int64
 1   FECHA_INICIO_DESPLAZAMIENTO-MOVIL  18141 non-null  object
 2   CODIGO DE LOCALIDAD                18141 non-null  int64
 3   LOCALIDAD                          18141 non-null  object
 4   EDAD                               18141 non-null  object
 5   UNIDAD                             18141 non-null  object
 6   GENERO                             18141 non-null  object
 7   RED                                18141 non-null  object
 8   TIPO DE INCIDIDENT                 18141 non-null  object
 9   PRIORIDAD                          18141 non-null  object
 10  MES                                18141 non-null  object
 11  CLASIFICACION FINAL                18138 non-null  object
dtypes: int64(2), object(10)
memory usage: 1.7+ MB
None

In [5]:
raw_data_septiembre = get_input_data(
    bucket = bucket,
    initial_directory = directory,
    filename = 'datos-abiertos-septiembre-2019.csv'
    )
print(raw_data_septiembre.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17018 entries, 0 to 17017
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   17018 non-null  int64
 1   FECHA_INICIO_DESPLAZAMIENTO-MOVIL  17018 non-null  object
 2   CODIGO DE LOCALIDAD                17018 non-null  int64
 3   LOCALIDAD                          17018 non-null  object
 4   EDAD                               17018 non-null  int64
 5   UNIDAD                             9371 non-null   object
 6   GENERO                             17018 non-null  object
 7   RED                                17018 non-null  object
 8   TIPO_INCIDENTE                     17018 non-null  object
 9   PRIORIDAD                          17018 non-null  object
dtypes: int64(3), object(7)
memory usage: 1.3+ MB
None

In [6]:
raw_data_octubre = get_input_data(
    bucket = bucket,
    initial_directory = directory,
    filename = 'datos-abiertos-octubre-2019.csv'
    )
print(raw_data_octubre.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18195 entries, 0 to 18194
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NUMERO_INCIDENTE     18195 non-null  int64
 1   FECHA_DESPACHO_518   18195 non-null  object
 2   CODIGO DE LOCALIDAD  18195 non-null  int64
 3   LOCALIDAD            18195 non-null  object
 4   EDAD                 18195 non-null  object
 5   UNIDAD               9503 non-null   object
 6   GENERO               9543 non-null   object
 7   RED                  18195 non-null  object
 8   TIPO_INCIDENTE       18195 non-null  object
 9   PRIORIDAD            18195 non-null  object
dtypes: int64(2), object(8)
memory usage: 1.4+ MB
None

In [7]:
raw_data_noviembre = get_input_data(
    bucket = bucket,
    initial_directory = directory,
    filename = 'datos-abiertos-noviembre_2019.csv'
    )
print(raw_data_noviembre.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15926 entries, 0 to 15925
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   15926 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO-MOVIL  15926 non-null  object
 2   CODIGO DE LOCALIDAD                15926 non-null  int64
 3   LOCALIDAD                          15926 non-null  object
 4   EDAD                               15926 non-null  int64
 5   UNIDAD                             15926 non-null  object
 6   GENERO                             15926 non-null  object
 7   RED                                15926 non-null  object
 8   TIPO_INCIDENTE                     15926 non-null  object
 9   PRIORIDAD                          15926 non-null  object
dtypes: int64(2), object(8)
memory usage: 1.2+ MB
None

In [8]:
raw_data_diciembre = get_input_data(
    bucket = bucket,
    initial_directory = directory,
    filename = 'datos_abiertos_cons_diciembre_2019.csv'
    )
print(raw_data_diciembre.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16243 entries, 0 to 16242
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NUMERO_INCIDENTE     16243 non-null  object
 1   FECHA_DESPACHO_518   16243 non-null  object
 2   CODIGO DE LOCALIDAD  16243 non-null  int64
 3   LOCALIDAD            16243 non-null  object
 4   EDAD                 16243 non-null  int64
 5   UNIDAD               16243 non-null  object
 6   GENERO               16243 non-null  object
 7   RED                  16243 non-null  object
 8   TIPO_INCIDENTE       16243 non-null  object
 9   PRIORIDAD            16243 non-null  object
dtypes: int64(2), object(8)
memory usage: 1.2+ MB
None

In [9]:
raw_data_enero = get_input_data(
    bucket = bucket,
    initial_directory = directory,
    filename = 'datos-abiertos-enero_2020.csv'
    )
print(raw_data_enero.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15304 entries, 0 to 15303
Data columns (total 37 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NUMERO_INCIDENTE     15304 non-null  object
 1   FECHA_DESPACHO_518   15304 non-null  object
 2   CODIGO DE LOCALIDAD  15304 non-null  int64
 3   LOCALIDAD            15304 non-null  object
 4   EDAD                 15304 non-null  int64
 5   UNIDAD               15304 non-null  object
 6   GENERO               15304 non-null  object
 7   RED                  15304 non-null  object
 8   TIPO_INCIDENTE       15304 non-null  object
 9   PRIORIDAD            15304 non-null  int64
 10  Unnamed: 10          0 non-null      float64
 11  Unnamed: 11          0 non-null      float64
 12  Unnamed: 12          0 non-null      float64
 13  Unnamed: 13          0 non-null      float64
 14  Unnamed: 14          0 non-null      float64
 15  Unnamed: 15          0 non-null      float64
 16  Unnamed: 16          0 non-null      float64
 17  Unnamed: 17          0 non-null      float64
 18  Unnamed: 18          0 non-null      float64
 19  Unnamed: 19          0 non-null      float64
 20  Unnamed: 20          0 non-null      float64
 21  Unnamed: 21          0 non-null      float64
 22  Unnamed: 22          0 non-null      float64
 23  Unnamed: 23          0 non-null      float64
 24  Unnamed: 24          0 non-null      float64
 25  Unnamed: 25          0 non-null      float64
 26  Unnamed: 26          0 non-null      float64
 27  Unnamed: 27          0 non-null      float64
 28  Unnamed: 28          0 non-null      float64
 29  Unnamed: 29          0 non-null      float64
 30  Unnamed: 30          0 non-null      float64
 31  Unnamed: 31          0 non-null      float64
 32  Unnamed: 32          0 non-null      float64
 33  Unnamed: 33          0 non-null      float64
 34  Unnamed: 34          0 non-null      float64
 35  Unnamed: 35          0 non-null      float64
 36  Unnamed: 36          0 non-null      float64
dtypes: float64(27), int64(3), object(7)
memory usage: 4.3+ MB
None

### Rename Columns of all of months

In [10]:
raw_data_julio.rename(
    columns = {
        'FECHA_INICIO_DESPLAZAMIENTO-MOVIL' : 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL',
        'CODIGO DE LOCALIDAD'               : 'CODIGO_LOCALIDAD',
        'CLASIFICACION FINAL'               : 'CLASIFICACION_FINAL'
    },
    inplace=True
)
raw_data_julio.head()

,FECHA_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,MES,CLASIFICACION_FINAL
0,2019-07-01 00:05:08,2019-07-01 00:11:02,8,Kennedy,39,Años,FEMENINO,Norte,Dificultad Respiratoria,ALTA,JULIO,Traslado
1,2019-07-01 00:06:57,2019-07-01 00:12:56,19,Ciudad Bolivar,69,Años,MASCULINO,Sur,Inconsciente/Paro Cardiorrespiratorio,ALTA,JULIO,NaN
2,2019-07-01 00:09:26,2019-07-01 00:10:26,6,Tunjuelito,25,Años,MASCULINO,Sur,Enfermo,MEDIA,JULIO,Traslado
3,2019-07-01 00:14:42,2019-07-01 00:15:47,8,Kennedy,65,Años,MASCULINO,Sur,Lesiones personales,MEDIA,JULIO,Traslado
4,2019-07-01 00:17:13,2019-07-01 00:31:13,10,Engativa,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Enfermo,MEDIA,JULIO,Cancelado

In [11]:
raw_data_agosto.rename(
    columns = {
        'FECHA_INICIO_DESPLAZAMIENTO-MOVIL' : 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL',
        'CODIGO DE LOCALIDAD'               : 'CODIGO_LOCALIDAD',
        'TIPO DE INCIDIDENT'                : 'TIPO_INCIDENTE',
        'CLASIFICACION FINAL'               : 'CLASIFICACION_FINAL'
    },
    inplace=True
)
raw_data_agosto.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,MES,CLASIFICACION_FINAL
0,809224194,1/08/2019 0:28,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA,AGOSTO,Cancelado
1,809224194,1/08/2019 0:28,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA,AGOSTO,Cancelado
2,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado
3,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado
4,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado

In [12]:
raw_data_septiembre.rename(
    columns = {
        'FECHA_INICIO_DESPLAZAMIENTO-MOVIL' : 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL',
        'CODIGO DE LOCALIDAD'               : 'CODIGO_LOCALIDAD'
    },
    inplace=True
)
raw_data_septiembre.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD
0,538006196,2019-09-01 00:05:32,18,Rafael Uribe Uribe,53,Años,MASCULINO,Sur,ACCIDENTE DE TRÁNSITO CON HERIDOS/MUERTOS,ALTA
1,538024196,2019-09-01 00:12:07,11,Suba,0,NaN,SIN_DATO,Norte,ACCIDENTE DE TRÁNSITO CON HERIDOS/MUERTOS,ALTA
2,538031196,2019-09-01 00:05:39,8,Kennedy,26,Años,MASCULINO,Norte,ACCIDENTE DE TRÁNSITO CON HERIDOS/MUERTOS,ALTA
3,538084196,2019-09-01 00:13:39,11,Suba,24,Años,MASCULINO,Norte,ACCIDENTE DE TRÁNSITO CON HERIDOS/MUERTOS,ALTA
4,538123196,2019-09-01 00:20:31,2,Chapinero,0,NaN,SIN_DATO,Norte,INCONSCIENTE/PARO CARDIORRESPIRATORIO,ALTA

In [13]:
raw_data_octubre.rename(
    columns = {
        'FECHA_DESPACHO_518' : 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL',
        'CODIGO DE LOCALIDAD': 'CODIGO_LOCALIDAD'
    },
    inplace=True
)
raw_data_octubre.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD
0,868419196,2019-10-01 00:06:29,9,Fontibon,SIN_DATO,NaN,NaN,Norte,Dolor torácico,ALTA
1,868421196,2019-10-01 00:19:40,10,Engativa,67,Años,MASCULINO,Norte,Heridos,ALTA
2,868438196,2019-10-01 00:13:20,4,San Cristobal,SIN_DATO,NaN,NaN,Sur,Inconsciente/Paro Cardiorrespiratorio,ALTA
3,944374194,2019-10-01 05:30:23,16,Puente Aranda,SIN_DATO,NaN,NaN,Privada,Convulsiones,ALTA
4,868476196,2019-10-01 00:42:45,5,Usme,5,Años,FEMENINO,Sur,Dificultad Respiratoria,ALTA

In [14]:
raw_data_noviembre.rename(
    columns = {
        'FECHA_INICIO_DESPLAZAMIENTO-MOVIL' : 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL',
        'CODIGO DE LOCALIDAD': 'CODIGO_LOCALIDAD'
    },
    inplace=True
)
raw_data_noviembre.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD
0,1129118194,2019-11-01 00:01:16,18,Rafael Uribe Uribe,0,SIN_DATO,SIN_DATO,Sur,Lesiones personales,ALTA
1,1129198194,2019-11-01 00:14:45,11,Suba,47,Años,MASCULINO,Norte,Accidente cerebro vascular,ALTA
2,1129241194,2019-11-01 00:16:15,2,Chapinero,33,Años,MASCULINO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA
3,1129253194,2019-11-01 00:11:37,7,Bosa,5,Años,FEMENINO,Sur,Dificultad Respiratoria,ALTA
4,1129258194,2019-11-01 00:16:28,11,Suba,43,Años,FEMENINO,Norte,Dolor torácico,ALTA

In [15]:
raw_data_diciembre.rename(
    columns = {
        'FECHA_DESPACHO_518' : 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL',
        'CODIGO DE LOCALIDAD': 'CODIGO_LOCALIDAD'
    },
    inplace=True
)
raw_data_diciembre.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD
0,1178693196,2019-12-01 03:18:23,8,Kennedy,14,Años,MASCULINO,Privada,Accidente Tránsito con Heridos/Muertos,ALTA
1,1176480196,2019-12-01 00:05:59,5,Usme,0,SIN/DATO,SIN/DATO,Sur,Accidente Tránsito con Heridos/Muertos,ALTA
2,1180282196,2019-12-01 05:37:10,7,Bosa,32,Años,MASCULINO,Privada,Accidente Tránsito con Heridos/Muertos,ALTA
3,1176520196,2019-12-01 00:07:43,3,Santa Fe,0,SIN/DATO,SIN/DATO,Norte,Lesiones Personales,ALTA
4,1180873196,2019-12-01 07:14:08,5,Usme,53,Años,FEMENINO,Privada,Accidente Tránsito con Heridos/Muertos,ALTA

In [16]:
raw_data_enero.rename(
    columns = {
        'FECHA_DESPACHO_518' : 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL',
        'CODIGO DE LOCALIDAD': 'CODIGO_LOCALIDAD'
    },
    inplace=True
)
raw_data_enero.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,...,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,CRU-00000002-20,2020-01-01 00:13:40,19,Ciudad Bolívar,0,SIN_DATO,SIN_DATO,Sur,Heridos,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CRU-00000002-20,2020-01-01 00:13:40,19,Ciudad Bolívar,0,SIN_DATO,SIN_DATO,Sur,Heridos,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CRU-00000005-20,2020-01-01 00:15:14,14,Los Mártires,0,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CRU-00000024-20,2020-01-01 00:20:50,11,Suba,58,Años,MASCULINO,Norte,Inconsciente/Paro Cardiorrespiratorio,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CRU-00000036-20,2020-01-01 00:26:05,10,Engativá,0,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Drop "Unnamed" Columns of January

In [17]:
list_cols_to_drop = ['Unnamed: {}'.format(i) for i in range(10, 37)]
list_cols_to_drop
raw_data_enero = raw_data_enero.drop(list_cols_to_drop, axis= 'columns')
print(raw_data_enero.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15304 entries, 0 to 15303
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   15304 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  15304 non-null  object
 2   CODIGO_LOCALIDAD                   15304 non-null  int64
 3   LOCALIDAD                          15304 non-null  object
 4   EDAD                               15304 non-null  int64
 5   UNIDAD                             15304 non-null  object
 6   GENERO                             15304 non-null  object
 7   RED                                15304 non-null  object
 8   TIPO_INCIDENTE                     15304 non-null  object
 9   PRIORIDAD                          15304 non-null  int64
dtypes: int64(3), object(7)
memory usage: 1.2+ MB
None

### Remove duplicates

In [18]:
print('Number of rows before cleaning julio:', raw_data_julio.shape[0] )
raw_data_julio.drop_duplicates(inplace=True)
print('Number of rows after cleaning julio:', raw_data_julio.shape[0] )
print('Number of rows before cleaning agosto:', raw_data_agosto.shape[0] )
raw_data_agosto.drop_duplicates(inplace=True)
print('Number of rows after cleaning agosto:', raw_data_agosto.shape[0] )
print('Number of rows before cleaning septiembre:', raw_data_septiembre.shape[0] )
raw_data_septiembre.drop_duplicates(inplace=True)
print('Number of rows after cleaning septiembre:', raw_data_septiembre.shape[0] )
print('Number of rows before cleaning octubre:', raw_data_octubre.shape[0] )
raw_data_octubre.drop_duplicates(inplace=True)
print('Number of rows after cleaning octubre:', raw_data_octubre.shape[0] )
print('Number of rows before cleaning noviembre:', raw_data_noviembre.shape[0] )
raw_data_noviembre.drop_duplicates(inplace=True)
print('Number of rows after cleaning noviembre:', raw_data_noviembre.shape[0] )
print('Number of rows before cleaning diciembre:', raw_data_diciembre.shape[0] )
raw_data_diciembre.drop_duplicates(inplace=True)
print('Number of rows after cleaning diciembre:', raw_data_diciembre.shape[0] )
print('Number of rows before cleaning enero:', raw_data_enero.shape[0] )
raw_data_julio.drop_duplicates(inplace=True)
print('Number of rows after cleaning enero:', raw_data_enero.shape[0] )

Number of rows before cleaning julio: 14560
Number of rows after cleaning julio: 13842
Number of rows before cleaning agosto: 18141
Number of rows after cleaning agosto: 16807
Number of rows before cleaning septiembre: 17018
Number of rows after cleaning septiembre: 16267
Number of rows before cleaning octubre: 18195
Number of rows after cleaning octubre: 16559
Number of rows before cleaning noviembre: 15926
Number of rows after cleaning noviembre: 15886
Number of rows before cleaning diciembre: 16243
Number of rows after cleaning diciembre: 16162
Number of rows before cleaning enero: 15304
Number of rows after cleaning enero: 15304

# Convert to datetime data type columns must be

In [19]:
raw_data_julio["FECHA_INCIDENTE"]= pd.to_datetime(raw_data_julio["FECHA_INCIDENTE"])
raw_data_julio["FECHA_INICIO_DESPLAZAMIENTO_MOVIL"]= pd.to_datetime(raw_data_julio["FECHA_INICIO_DESPLAZAMIENTO_MOVIL"])
raw_data_julio.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13842 entries, 0 to 14559
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   FECHA_INCIDENTE                    13842 non-null  datetime64[ns]
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13842 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13842 non-null  int64
 3   LOCALIDAD                          13842 non-null  object
 4   EDAD                               13842 non-null  object
 5   UNIDAD                             13842 non-null  object
 6   GENERO                             13842 non-null  object
 7   RED                                13842 non-null  object
 8   TIPO_INCIDENTE                     13842 non-null  object
 9   PRIORIDAD                          13842 non-null  object
 10  MES                                13842 non-null  object
 11  CLASIFICACION_FINAL                12333 non-null  object
dtypes: datetime64[ns](2), int64(1), object(9)
memory usage: 1.4+ MB

In [20]:
raw_data_agosto["FECHA_INICIO_DESPLAZAMIENTO_MOVIL"]= pd.to_datetime(raw_data_agosto["FECHA_INICIO_DESPLAZAMIENTO_MOVIL"])
raw_data_agosto.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16807 entries, 0 to 18140
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   16807 non-null  int64
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  16807 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   16807 non-null  int64
 3   LOCALIDAD                          16807 non-null  object
 4   EDAD                               16807 non-null  object
 5   UNIDAD                             16807 non-null  object
 6   GENERO                             16807 non-null  object
 7   RED                                16807 non-null  object
 8   TIPO_INCIDENTE                     16807 non-null  object
 9   PRIORIDAD                          16807 non-null  object
 10  MES                                16807 non-null  object
 11  CLASIFICACION_FINAL                16804 non-null  object
dtypes: datetime64[ns](1), int64(2), object(9)
memory usage: 1.7+ MB

In [103]:
raw_data_septiembre["FECHA_INICIO_DESPLAZAMIENTO_MOVIL"]= pd.to_datetime(raw_data_septiembre["FECHA_INICIO_DESPLAZAMIENTO_MOVIL"])
raw_data_septiembre.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16267 entries, 0 to 17017
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   16267 non-null  int64
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  16267 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   16267 non-null  int64
 3   LOCALIDAD                          16267 non-null  object
 4   EDAD                               16267 non-null  int64
 5   UNIDAD                             9346 non-null   object
 6   GENERO                             16267 non-null  object
 7   RED                                16267 non-null  object
 8   TIPO_INCIDENTE                     16267 non-null  object
 9   PRIORIDAD                          16267 non-null  object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 1.4+ MB

In [21]:
raw_data_octubre["FECHA_INICIO_DESPLAZAMIENTO_MOVIL"]= pd.to_datetime(raw_data_octubre["FECHA_INICIO_DESPLAZAMIENTO_MOVIL"])
raw_data_octubre.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16559 entries, 0 to 18194
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   16559 non-null  int64
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  16559 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   16559 non-null  int64
 3   LOCALIDAD                          16559 non-null  object
 4   EDAD                               16559 non-null  object
 5   UNIDAD                             9460 non-null   object
 6   GENERO                             9495 non-null   object
 7   RED                                16559 non-null  object
 8   TIPO_INCIDENTE                     16559 non-null  object
 9   PRIORIDAD                          16559 non-null  object
dtypes: datetime64[ns](1), int64(2), object(7)
memory usage: 1.4+ MB

In [22]:
raw_data_noviembre["FECHA_INICIO_DESPLAZAMIENTO_MOVIL"]= pd.to_datetime(raw_data_noviembre["FECHA_INICIO_DESPLAZAMIENTO_MOVIL"])
raw_data_noviembre.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15886 entries, 0 to 15925
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   15886 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  15886 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   15886 non-null  int64
 3   LOCALIDAD                          15886 non-null  object
 4   EDAD                               15886 non-null  int64
 5   UNIDAD                             15886 non-null  object
 6   GENERO                             15886 non-null  object
 7   RED                                15886 non-null  object
 8   TIPO_INCIDENTE                     15886 non-null  object
 9   PRIORIDAD                          15886 non-null  object
dtypes: datetime64[ns](1), int64(2), object(7)
memory usage: 1.3+ MB

In [23]:
raw_data_diciembre["FECHA_INICIO_DESPLAZAMIENTO_MOVIL"]= pd.to_datetime(raw_data_diciembre["FECHA_INICIO_DESPLAZAMIENTO_MOVIL"])
raw_data_diciembre.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16162 entries, 0 to 16242
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   16162 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  16162 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   16162 non-null  int64
 3   LOCALIDAD                          16162 non-null  object
 4   EDAD                               16162 non-null  int64
 5   UNIDAD                             16162 non-null  object
 6   GENERO                             16162 non-null  object
 7   RED                                16162 non-null  object
 8   TIPO_INCIDENTE                     16162 non-null  object
 9   PRIORIDAD                          16162 non-null  object
dtypes: datetime64[ns](1), int64(2), object(7)
memory usage: 1.4+ MB

In [25]:
raw_data_enero["FECHA_INICIO_DESPLAZAMIENTO_MOVIL"]= pd.to_datetime(raw_data_enero["FECHA_INICIO_DESPLAZAMIENTO_MOVIL"])
raw_data_enero.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15304 entries, 0 to 15303
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   15304 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  15304 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   15304 non-null  int64
 3   LOCALIDAD                          15304 non-null  object
 4   EDAD                               15304 non-null  int64
 5   UNIDAD                             15304 non-null  object
 6   GENERO                             15304 non-null  object
 7   RED                                15304 non-null  object
 8   TIPO_INCIDENTE                     15304 non-null  object
 9   PRIORIDAD                          15304 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 1.2+ MB

## Check values per field

In [26]:
#localidad
raw_data_julio['LOCALIDAD'].value_counts(dropna=False)
raw_data_agosto['LOCALIDAD'].value_counts(dropna=False)
raw_data_septiembre['LOCALIDAD'].value_counts(dropna=False)
raw_data_octubre['LOCALIDAD'].value_counts(dropna=False)
raw_data_noviembre['LOCALIDAD'].value_counts(dropna=False)
raw_data_diciembre['LOCALIDAD'].value_counts(dropna=False)
raw_data_enero['LOCALIDAD'].value_counts(dropna=False)

 Kennedy              2116
 Engativá             1473
 Suba                 1465
 Bosa                 1072
 Ciudad Bolívar       1022
 Puente Aranda         942
 Fontibón              812
Usaquén                786
 San Cristóbal         746
Rafael Uribe Uribe     737
Usme                   678
Tunjuelito             550
Santa Fe               541
 Teusaquillo           527
 Barrios Unidos        506
Chapinero              498
 Los Mártires          446
 Antonio Nariño        320
 La Candelaria          64
Sumapaz                  3
Name: LOCALIDAD, dtype: int64

In [27]:
raw_data_julio['LOCALIDAD'].apply(
    lambda x: x.strip()        
).value_counts()

Kennedy               1502
Suba                  1480
Engativa              1444
Bosa                  1076
Ciudad Bolivar         944
San Cristobal          744
Usaquen                740
Rafael Uribe Uribe     706
Fontibon               686
Puente Aranda          646
Usme                   609
Chapinero              562
Barrios Unidos         493
Los Martires           492
Santa Fe               462
Tunjuelito             446
Teusaquillo            436
Antonio Nariño         284
La Candelaria           89
Sumapaz                  1
Name: LOCALIDAD, dtype: int64

In [28]:
raw_data_agosto['LOCALIDAD'].apply(
    lambda x: x.strip()        
).value_counts()

Kennedy               2443
Engativa              1679
Suba                  1573
Bosa                  1193
Ciudad Bolivar        1141
Puente Aranda          891
San Cristobal          842
Rafael Uribe Uribe     837
Usaquen                834
Fontibon               825
Chapinero              652
Santa Fe               636
Usme                   612
Teusaquillo            552
Tunjuelito             551
Barrios Unidos         550
Los Martires           543
Antonio Nariño         346
La Candelaria          106
Sumapaz                  1
Name: LOCALIDAD, dtype: int64

In [29]:
raw_data_septiembre['LOCALIDAD'].apply(
    lambda x: x.strip()        
).value_counts()

Kennedy               2274
Suba                  1566
Engativa              1556
Bosa                  1235
Ciudad Bolivar        1096
Puente Aranda          886
Rafael Uribe Uribe     827
San Cristobal          798
Usaquen                794
Fontibon               779
Chapinero              706
Barrios Unidos         583
Tunjuelito             575
Los Martires           570
Usme                   560
Santa Fe               517
Teusaquillo            514
Antonio Nariño         349
La Candelaria           82
Name: LOCALIDAD, dtype: int64

In [30]:
raw_data_octubre['LOCALIDAD'].apply(
    lambda x: x.strip()        
).value_counts()

Kennedy               2311
Engativa              1617
Suba                  1572
Bosa                  1220
Ciudad Bolivar        1062
Puente Aranda          889
Rafael Uribe Uribe     872
Usaquen                806
Fontibon               793
San Cristobal          782
Chapinero              682
Santa Fe               631
Los Martires           628
Barrios Unidos         619
Usme                   557
Tunjuelito             533
Teusaquillo            484
Antonio Nariño         384
La Candelaria          112
Sumapaz                  5
Name: LOCALIDAD, dtype: int64

In [31]:
raw_data_noviembre['LOCALIDAD'].apply(
    lambda x: x.strip()        
).value_counts()

Kennedy               2191
Engativa              1564
Suba                  1419
Bosa                  1185
Ciudad Bolivar        1123
Puente Aranda          851
Rafael Uribe Uribe     834
Usaquen                807
Fontibon               785
San Cristobal          756
Santa Fe               612
Chapinero              577
Usme                   575
Los Martires           557
Tunjuelito             546
Teusaquillo            544
Barrios Unidos         519
Antonio Nariño         338
La Candelaria          102
Sumapaz                  1
Name: LOCALIDAD, dtype: int64

In [32]:
raw_data_diciembre['LOCALIDAD'].apply(
    lambda x: x.strip()        
).value_counts()

Kennedy               2310
Engativá              1633
Suba                  1460
Bosa                  1177
Ciudad Bolívar        1118
Puente Aranda          898
Fontibón               859
San Cristóbal          835
Rafael Uribe Uribe     769
Usaquén                766
Usme                   626
Tunjuelito             611
Santa Fe               584
Chapinero              553
Los Mártires           524
Barrios Unidos         510
Teusaquillo            496
Antonio Nariño         372
La Candelaria           60
Sumapaz                  1
Name: LOCALIDAD, dtype: int64

In [33]:
raw_data_enero['LOCALIDAD'].apply(
    lambda x: x.strip()        
).value_counts()

Kennedy               2116
Engativá              1473
Suba                  1465
Bosa                  1072
Ciudad Bolívar        1022
Puente Aranda          942
Fontibón               812
Usaquén                786
San Cristóbal          746
Rafael Uribe Uribe     737
Usme                   678
Tunjuelito             550
Santa Fe               541
Teusaquillo            527
Barrios Unidos         506
Chapinero              498
Los Mártires           446
Antonio Nariño         320
La Candelaria           64
Sumapaz                  3
Name: LOCALIDAD, dtype: int64

In [35]:
raw_data_julio['LOCALIDAD'] = raw_data_julio['LOCALIDAD'].apply(lambda x: x.strip())
raw_data_julio.head()

,FECHA_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,MES,CLASIFICACION_FINAL
0,2019-07-01 00:05:08,2019-07-01 00:11:02,8,Kennedy,39,Años,FEMENINO,Norte,Dificultad Respiratoria,ALTA,JULIO,Traslado
1,2019-07-01 00:06:57,2019-07-01 00:12:56,19,Ciudad Bolivar,69,Años,MASCULINO,Sur,Inconsciente/Paro Cardiorrespiratorio,ALTA,JULIO,NaN
2,2019-07-01 00:09:26,2019-07-01 00:10:26,6,Tunjuelito,25,Años,MASCULINO,Sur,Enfermo,MEDIA,JULIO,Traslado
3,2019-07-01 00:14:42,2019-07-01 00:15:47,8,Kennedy,65,Años,MASCULINO,Sur,Lesiones personales,MEDIA,JULIO,Traslado
4,2019-07-01 00:17:13,2019-07-01 00:31:13,10,Engativa,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Enfermo,MEDIA,JULIO,Cancelado

In [36]:
raw_data_agosto['LOCALIDAD'] = raw_data_agosto['LOCALIDAD'].apply(lambda x: x.strip())
raw_data_agosto.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,MES,CLASIFICACION_FINAL
0,809224194,2019-01-08 00:28:00,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA,AGOSTO,Cancelado
2,809240194,2019-01-08 00:15:00,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado
5,809244194,2019-01-08 00:10:00,13,Teusaquillo,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente de tránsito con heridos/Muertos,ALTA,AGOSTO,Cancelado
7,809253194,2019-01-08 00:12:00,8,Kennedy,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente de tránsito con heridos/Muertos,ALTA,AGOSTO,Cancelado
9,809261194,2019-01-08 00:13:00,11,Suba,71,Años,FEMENINO,Norte,Dificultad Respiratoria,ALTA,AGOSTO,Traslado

In [37]:
raw_data_septiembre['LOCALIDAD'] = raw_data_septiembre['LOCALIDAD'].apply(lambda x: x.strip())
raw_data_septiembre.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD
0,538006196,2019-09-01 00:05:32,18,Rafael Uribe Uribe,53,Años,MASCULINO,Sur,ACCIDENTE DE TRÁNSITO CON HERIDOS/MUERTOS,ALTA
1,538024196,2019-09-01 00:12:07,11,Suba,0,NaN,SIN_DATO,Norte,ACCIDENTE DE TRÁNSITO CON HERIDOS/MUERTOS,ALTA
2,538031196,2019-09-01 00:05:39,8,Kennedy,26,Años,MASCULINO,Norte,ACCIDENTE DE TRÁNSITO CON HERIDOS/MUERTOS,ALTA
3,538084196,2019-09-01 00:13:39,11,Suba,24,Años,MASCULINO,Norte,ACCIDENTE DE TRÁNSITO CON HERIDOS/MUERTOS,ALTA
4,538123196,2019-09-01 00:20:31,2,Chapinero,0,NaN,SIN_DATO,Norte,INCONSCIENTE/PARO CARDIORRESPIRATORIO,ALTA

In [38]:
raw_data_octubre['LOCALIDAD'] = raw_data_octubre['LOCALIDAD'].apply(lambda x: x.strip())
raw_data_octubre.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD
0,868419196,2019-10-01 00:06:29,9,Fontibon,SIN_DATO,NaN,NaN,Norte,Dolor torácico,ALTA
1,868421196,2019-10-01 00:19:40,10,Engativa,67,Años,MASCULINO,Norte,Heridos,ALTA
2,868438196,2019-10-01 00:13:20,4,San Cristobal,SIN_DATO,NaN,NaN,Sur,Inconsciente/Paro Cardiorrespiratorio,ALTA
3,944374194,2019-10-01 05:30:23,16,Puente Aranda,SIN_DATO,NaN,NaN,Privada,Convulsiones,ALTA
4,868476196,2019-10-01 00:42:45,5,Usme,5,Años,FEMENINO,Sur,Dificultad Respiratoria,ALTA

In [39]:
raw_data_noviembre['LOCALIDAD'] = raw_data_noviembre['LOCALIDAD'].apply(lambda x: x.strip())
raw_data_noviembre.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD
0,1129118194,2019-11-01 00:01:16,18,Rafael Uribe Uribe,0,SIN_DATO,SIN_DATO,Sur,Lesiones personales,ALTA
1,1129198194,2019-11-01 00:14:45,11,Suba,47,Años,MASCULINO,Norte,Accidente cerebro vascular,ALTA
2,1129241194,2019-11-01 00:16:15,2,Chapinero,33,Años,MASCULINO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA
3,1129253194,2019-11-01 00:11:37,7,Bosa,5,Años,FEMENINO,Sur,Dificultad Respiratoria,ALTA
4,1129258194,2019-11-01 00:16:28,11,Suba,43,Años,FEMENINO,Norte,Dolor torácico,ALTA

In [40]:
raw_data_diciembre['LOCALIDAD'] = raw_data_diciembre['LOCALIDAD'].apply(lambda x: x.strip())
raw_data_diciembre.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD
0,1178693196,2019-12-01 03:18:23,8,Kennedy,14,Años,MASCULINO,Privada,Accidente Tránsito con Heridos/Muertos,ALTA
1,1176480196,2019-12-01 00:05:59,5,Usme,0,SIN/DATO,SIN/DATO,Sur,Accidente Tránsito con Heridos/Muertos,ALTA
2,1180282196,2019-12-01 05:37:10,7,Bosa,32,Años,MASCULINO,Privada,Accidente Tránsito con Heridos/Muertos,ALTA
3,1176520196,2019-12-01 00:07:43,3,Santa Fe,0,SIN/DATO,SIN/DATO,Norte,Lesiones Personales,ALTA
4,1180873196,2019-12-01 07:14:08,5,Usme,53,Años,FEMENINO,Privada,Accidente Tránsito con Heridos/Muertos,ALTA

In [41]:
raw_data_enero['LOCALIDAD'] = raw_data_enero['LOCALIDAD'].apply(lambda x: x.strip())
raw_data_enero.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD
0,CRU-00000002-20,2020-01-01 00:13:40,19,Ciudad Bolívar,0,SIN_DATO,SIN_DATO,Sur,Heridos,2
1,CRU-00000002-20,2020-01-01 00:13:40,19,Ciudad Bolívar,0,SIN_DATO,SIN_DATO,Sur,Heridos,2
2,CRU-00000005-20,2020-01-01 00:15:14,14,Los Mártires,0,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,1
3,CRU-00000024-20,2020-01-01 00:20:50,11,Suba,58,Años,MASCULINO,Norte,Inconsciente/Paro Cardiorrespiratorio,1
4,CRU-00000036-20,2020-01-01 00:26:05,10,Engativá,0,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,1

In [43]:
col = 'GENERO'
raw_data_julio[col] = raw_data_julio[col].apply(lambda x: x.strip())
raw_data_julio[col].value_counts(dropna=False)

SIN_DATO     5938
MASCULINO    4172
FEMENINO     3732
Name: GENERO, dtype: int64

In [44]:
col = 'GENERO'
raw_data_agosto[col] = raw_data_agosto[col].apply(lambda x: x.strip())
raw_data_agosto[col].value_counts(dropna=False)

SIN_DATO     7326
MASCULINO    5120
FEMENINO     4361
Name: GENERO, dtype: int64

In [45]:
col = 'GENERO'
raw_data_septiembre[col] = raw_data_septiembre[col].apply(lambda x: x.strip())
raw_data_septiembre[col].value_counts(dropna=False)

SIN_DATO     6906
MASCULINO    5068
FEMENINO     4293
Name: GENERO, dtype: int64

In [47]:
col = 'GENERO'
raw_data_noviembre[col] = raw_data_noviembre[col].apply(lambda x: x.strip())
raw_data_noviembre[col].value_counts(dropna=False)

SIN_DATO     6998
MASCULINO    4841
FEMENINO     4047
Name: GENERO, dtype: int64

In [48]:
col = 'GENERO'
raw_data_diciembre[col] = raw_data_diciembre[col].apply(lambda x: x.strip())
raw_data_diciembre[col].value_counts(dropna=False)

SIN/DATO     8241
MASCULINO    4383
FEMENINO     3538
Name: GENERO, dtype: int64

In [49]:
col = 'GENERO'
raw_data_enero[col] = raw_data_enero[col].apply(lambda x: x.strip())
raw_data_enero[col].value_counts(dropna=False)

SIN_DATO     7003
MASCULINO    4521
FEMENINO     3780
Name: GENERO, dtype: int64

In [50]:
col = 'TIPO_INCIDENTE'
raw_data_julio[col] = raw_data_julio[col].apply(lambda x: x.strip())
raw_data_julio[col].value_counts(dropna=False)

Accidente de tránsito con heridos/Muertos    3993
Inconsciente/Paro Cardiorrespiratorio        1540
Dificultad Respiratoria                      1364
Enfermo                                      1078
Convulsiones                                  961
Heridos                                       722
Trastorno mental                              684
Dolor torácico                                587
Intento de suicidio                           508
Lesiones personales                           502
Patología Gineco - obstétrica                 411
Síntomas gastrointestinales                   333
Accidente cerebro vascular                    313
Caída                                         306
Intoxicaciones                                126
Ideas de suicidio                             107
Violencia Sexual                               40
SIN_DATO                                       37
Muerte Natural                                 36
Incendio estructural                           27
Solicitud Apoyo / Desacato                     26
Sangrado Vaginal                               19
Accidente Tránsito Simple                      14
Riña                                           11
Amenaza de Ruina                               10
Quemaduras                                      9
Incendio Vehicular                              7
Rescates                                        6
Abrir domicilio                                 6
Elemento caído y/o en peligro de caer.          6
Electrocución / Rescate                         5
Fuga de Gas Natural o Propano                   5
MATPEL (Materiales peligrosos)                  5
Animal Peligroso                                5
Maltrato                                        5
Disparos                                        4
Muerto                                          3
Persona Pidiendo Auxilio                        3
Explosión                                       3
Deslizamiento                                   3
Embriaguez                                      3
Persona tendida en la vía                       2
Habitante de la Calle                           2
Extraviados / Desaparecidos                     1
Incidente rescate acuático                      1
Venta o Consumo alcohol u otro en Menor         1
Atraco / Hurto en Proces                        1
Rescates Montaña                                1
Name: TIPO_INCIDENTE, dtype: int64

In [51]:
col = 'TIPO_INCIDENTE'
raw_data_agosto[col] = raw_data_agosto[col].apply(lambda x: x.strip())
raw_data_agosto[col].value_counts(dropna=False)

Accidente de tránsito con heridos/Muertos    6181
Inconsciente/Paro Cardiorrespiratorio        1763
Dificultad Respiratoria                      1443
Enfermo                                      1166
Convulsiones                                 1046
Heridos                                       801
Trastorno mental                              657
Lesiones personales                           649
Dolor torácico                                592
Intento de suicidio                           515
Síntomas gastrointestinales                   395
Accidente cerebro vascular                    368
Patología Gineco - obstétrica                 329
Caída                                         278
Intoxicaciones                                170
Ideas de suicidio                              94
SIN_DATO                                       50
Incendio estructural                           47
Violencia Sexual                               33
Muerte Natural                                 31
Riña                                           21
Solicitud Apoyo / Desacato                     20
Accidente Tránsito Simple                      18
Sangrado Vaginal                               14
Quemaduras                                     14
Electrocución / Rescate                         9
Abrir domicilio                                 8
Fuga de Gas Natural o Propano                   8
Incidente rescate acuático                      7
Elemento caído y/o en peligro de caer.          7
Manifestación / Motín                           7
MATPEL (Materiales peligrosos)                  7
Maltrato                                        6
Animal Peligroso                                5
Embriaguez                                      5
Rescates                                        5
Explosión                                       4
Deslizamiento                                   3
Disparos                                        3
Muerto                                          3
Hurto Efectuado                                 3
Abejas                                          3
Persona tendida en la vía                       3
Extraviados / Desaparecidos                     3
Menor o persona Abandonada                      2
Amenaza de Ruina                                2
Atraco / Hurto en Proces                        2
Incendio Vehicular                              2
Incendio con MATPEL                             2
Habitante de la Calle                           1
Incendio                                        1
Persona Pidiendo Auxilio                        1
Name: TIPO_INCIDENTE, dtype: int64

In [52]:
col = 'TIPO_INCIDENTE'
raw_data_septiembre[col] = raw_data_septiembre[col].apply(lambda x: x.strip())
raw_data_septiembre[col].value_counts(dropna=False)

ACCIDENTE DE TRÁNSITO CON HERIDOS/MUERTOS    5956
INCONSCIENTE/PARO CARDIORRESPIRATORIO        1661
DIFICULTAD RESPIRATORIA                      1342
ENFERMO                                      1098
CONVULSIONES                                  987
HERIDOS                                       813
INTENTO DE SUICIDIO                           631
TRASTORNO MENTAL                              604
DOLOR TORÁCICO                                598
LESIONES PERSONALES                           564
PATOLOGÍA GINECO - OBSTÉTRICA                 406
SÍNTOMAS GASTROINTESTINALES                   350
ACCIDENTE CEREBRO VASCULAR                    344
CAÍDA                                         324
INTOXICACIONES                                150
IDEAS DE SUICIDIO                             113
VIOLENCIA SEXUAL                               46
INCENDIO ESTRUCTURAL                           38
SIN_DATO                                       32
SANGRADO VAGINAL                               25
ACCIDENTE TRÁNSITO SIMPLE                      23
RESCATES                                       19
MUERTE NATURAL                                 18
ELEMENTO CAÍDO Y/O EN PELIGRO DE CAER.         16
SOLICITUD APOYO / DESACATO                     15
RIÑA                                           13
EXPLOSIÓN                                      10
ABRIR DOMICILIO                                 8
QUEMADURAS                                      7
FUGA DE GAS NATURAL O PROPANO                   6
ELECTROCUCIÓN / RESCATE                         5
PERSONA PIDIENDO AUXILIO                        5
ANIMAL PELIGROSO                                4
MANIFESTACIÓN / MOTÍN                           4
INCIDENTE RESCATE ACUÁTICO                      4
INCENDIO VEHICULAR                              3
MALTRATO                                        3
EMBRIAGUEZ                                      3
ATRACO / HURTO EN PROCES                        3
INUNDACIÓN                                      2
PERSONA TENDIDA EN LA VÍA                       2
DAÑOS EN SERVICIOS                              2
MUERTO                                          2
INCENDIO                                        1
VERIFICAR SITUACIÓN                             1
RESCATES MONTAÑA                                1
HABITANTE DE LA CALLE                           1
PREVENCIÓN                                      1
INCENDIO FORESTAL                               1
DESLIZAMIENTO                                   1
DELINCUENTE CAPTURADO POR CIVIL                 1
Name: TIPO_INCIDENTE, dtype: int64

In [53]:
col = 'TIPO_INCIDENTE'
raw_data_octubre[col] = raw_data_octubre[col].apply(lambda x: x.strip())
raw_data_octubre[col].value_counts(dropna=False)

Accidente de tránsito con heridos/Muertos    6015
Inconsciente/Paro Cardiorrespiratorio        1622
Dificultad Respiratoria                      1420
Enfermo                                      1194
Convulsiones                                 1035
Heridos                                       772
Dolor torácico                                675
Trastorno mental                              627
Intento de suicidio                           594
Lesiones personales                           560
Accidente cerebro vascular                    374
Patología Gineco - obstétrica                 362
Síntomas gastrointestinales                   359
Caída                                         300
Intoxicaciones                                159
Ideas de suicidio                             101
SIN_DATO                                       54
Incendio estructural                           41
Muerte Natural                                 33
Solicitud Apoyo / Desacato                     30
Violencia Sexual                               29
Quemaduras                                     27
Sangrado Vaginal                               19
Explosión                                      17
Electrocución / Rescate                        16
Rescates                                       16
Riña                                           13
Accidente Tránsito Simple                      10
Verificar Situación                            10
Fuga de Gas Natural o Propano                   8
Incendio Vehicular                              7
Persona Pidiendo Auxilio                        7
Abrir domicilio                                 6
Incidente rescate acuático                      6
Atraco / Hurto en Proces                        5
MATPEL (Materiales peligrosos)                  5
Maltrato                                        4
Menor o persona Abandonada                      4
Elemento caído y/o en peligro de caer.          3
Manifestación / Motín                           3
PSICOLOGIA                                      2
Muerto                                          2
Vehiculo Hurtado                                2
Disparos                                        2
Prevención                                      2
Incendio con MATPEL                             2
Abejas                                          1
Embriaguez                                      1
Incendio                                        1
Animal Peligroso                                1
Extraviados / Desaparecidos                     1
Name: TIPO_INCIDENTE, dtype: int64

In [54]:
col = 'TIPO_INCIDENTE'
raw_data_noviembre[col] = raw_data_noviembre[col].apply(lambda x: x.strip())
raw_data_noviembre[col].value_counts(dropna=False)

Accidente de tránsito con heridos/Muertos    5568
Inconsciente/Paro Cardiorrespiratorio        1584
Dificultad Respiratoria                      1399
Enfermo                                      1064
Convulsiones                                  977
Heridos                                       727
Lesiones personales                           673
Trastorno mental                              599
Intento de suicidio                           598
Dolor torácico                                576
Patología Gineco - obstétrica                 372
Síntomas gastrointestinales                   353
Caída                                         345
Accidente cerebro vascular                    317
Intoxicaciones                                134
SIN_DATO                                      120
Ideas de suicidio                              90
Solicitud Apoyo / Desacato                     82
Incendio estructural                           48
Muerte Natural                                 41
Violencia Sexual                               24
Quemaduras                                     21
Sangrado Vaginal                               18
Rescates                                       16
MATPEL (Materiales peligrosos)                 14
Incidente rescate acuático                     13
Riña                                           13
Electrocución / Rescate                         9
Accidente Tránsito Simple                       9
Incendio Vehicular                              8
Elemento caído y/o en peligro de caer.          7
Explosión                                       7
Persona Pidiendo Auxilio                        7
Fuga de Gas Natural o Propano                   6
Manifestación / Motín                           6
Atraco / Hurto en Proces                        6
Animal Peligroso                                5
Abrir domicilio                                 5
Menor o persona Abandonada                      4
Persona tendida en la vía                       4
Muerto                                          4
Embriaguez                                      3
Disparos                                        3
PSICOLOGIA                                      2
Maltrato                                        2
Verificar Situación                             1
Delincuente capturado por civil                 1
Deslizamiento                                   1
Name: TIPO_INCIDENTE, dtype: int64

In [55]:
col = 'TIPO_INCIDENTE'
raw_data_diciembre[col] = raw_data_diciembre[col].apply(lambda x: x.strip())
raw_data_diciembre[col].value_counts(dropna=False)

Heridos accidentales                      7346
Inconsciente / paro cardiorespiratorio    1738
Evento respiratorio                       1399
Convulsión                                1024
Enfermo                                    868
Trastorno mental                           646
Dolor torácico                             610
Intento de Suicidio                        538
Caída de Altura                            376
Patología ginecobstétrica                  368
Accidente Cerebro\nVascular                365
Síntomas gastrointestinales                275
Intoxicación                               152
S/D                                        136
Accidente Tránsito con Heridos/Muertos     108
Amenaza de\nSuicidio                        94
Violencia Sexual                            28
Sangrado Vaginal                            24
Lesiones Personales                         23
Quemaduras                                  16
Electrocución / Rescate                      9
Accidente Cerebro Vascular (ACV)             7
Maltrato                                     7
Incendio estructural                         2
Muerte Natural                               2
Accidente de Aviación                        1
Name: TIPO_INCIDENTE, dtype: int64

In [56]:
col = 'TIPO_INCIDENTE'
raw_data_enero[col] = raw_data_enero[col].apply(lambda x: x.strip())
raw_data_enero[col].value_counts(dropna=False)

Heridos                                  6849
Inconsciente/Paro Cardiorrespiratorio    1520
Dificultad Respiratoria                  1359
Enfermo                                  1045
Convulsiones                              994
Trastorno mental                          661
Dolor torácico                            634
Intento de suicidio                       503
Accidente cerebro vascular                374
Patología Gineco - obstétrica             331
Síntomas gastrointestinales               331
Caída                                     320
Intoxicaciones                            138
Ideas de suicidio                          99
SIN_DATO                                   80
Violencia Sexual                           34
Quemaduras                                 10
Sangrado Vaginal                            8
Maltrato                                    7
Electrocución / Rescate                     7
Name: TIPO_INCIDENTE, dtype: int64

In [57]:
col = 'CLASIFICACION_FINAL'
raw_data_julio[col].value_counts(dropna=False)

Traslado                       6143
Cancelado                      3221
NaN                            1509
Trasladado por Otro Recurso    1365
Falsa Alarma                   1183
No Ubica                        192
Desistimiento                   137
No Amerita Traslado              64
Fallecido                        28
Name: CLASIFICACION_FINAL, dtype: int64

In [58]:
col = 'CLASIFICACION_FINAL'
raw_data_agosto[col].value_counts(dropna=False)

Traslado                       7287
Cancelado                      4147
Trasladado por Otro Recurso    1573
Falsa Alarma                   1503
Desistimiento                  1442
No Amerita Traslado             443
Fallecido                       205
No Ubica                        204
NaN                               3
Name: CLASIFICACION_FINAL, dtype: int64

In [64]:
raw_data_julio[col].fillna('SIN_DATO').value_counts()

Traslado                       6143
Cancelado                      3221
SIN_DATO                       1509
Trasladado por Otro Recurso    1365
Falsa Alarma                   1183
No Ubica                        192
Desistimiento                   137
No Amerita Traslado              64
Fallecido                        28
Name: CLASIFICACION_FINAL, dtype: int64

In [65]:
raw_data_agosto[col].fillna('SIN_DATO').value_counts()

Traslado                       7287
Cancelado                      4147
Trasladado por Otro Recurso    1573
Falsa Alarma                   1503
Desistimiento                  1442
No Amerita Traslado             443
Fallecido                       205
No Ubica                        204
SIN_DATO                          3
Name: CLASIFICACION_FINAL, dtype: int64

In [66]:
col = 'CLASIFICACION_FINAL'
raw_data_julio[col].fillna('SIN_DATO', inplace=True)
raw_data_julio[col] = raw_data_julio[col].apply(lambda x: x.strip())
raw_data_julio.head()

,FECHA_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,MES,CLASIFICACION_FINAL
0,2019-07-01 00:05:08,2019-07-01 00:11:02,8,Kennedy,39,Años,FEMENINO,Norte,Dificultad Respiratoria,ALTA,JULIO,Traslado
1,2019-07-01 00:06:57,2019-07-01 00:12:56,19,Ciudad Bolivar,69,Años,MASCULINO,Sur,Inconsciente/Paro Cardiorrespiratorio,ALTA,JULIO,SIN_DATO
2,2019-07-01 00:09:26,2019-07-01 00:10:26,6,Tunjuelito,25,Años,MASCULINO,Sur,Enfermo,MEDIA,JULIO,Traslado
3,2019-07-01 00:14:42,2019-07-01 00:15:47,8,Kennedy,65,Años,MASCULINO,Sur,Lesiones personales,MEDIA,JULIO,Traslado
4,2019-07-01 00:17:13,2019-07-01 00:31:13,10,Engativa,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Enfermo,MEDIA,JULIO,Cancelado

In [67]:
col = 'CLASIFICACION_FINAL'
raw_data_agosto[col].fillna('SIN_DATO', inplace=True)
raw_data_agosto[col] = raw_data_agosto[col].apply(lambda x: x.strip())
raw_data_agosto.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,MES,CLASIFICACION_FINAL
0,809224194,2019-01-08 00:28:00,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA,AGOSTO,Cancelado
2,809240194,2019-01-08 00:15:00,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado
5,809244194,2019-01-08 00:10:00,13,Teusaquillo,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente de tránsito con heridos/Muertos,ALTA,AGOSTO,Cancelado
7,809253194,2019-01-08 00:12:00,8,Kennedy,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente de tránsito con heridos/Muertos,ALTA,AGOSTO,Cancelado
9,809261194,2019-01-08 00:13:00,11,Suba,71,Años,FEMENINO,Norte,Dificultad Respiratoria,ALTA,AGOSTO,Traslado

## Remove accents

In [92]:
def normalize(s):
    replacements = (
        ("á", "a"),
        ("é", "e"),
        ("í", "i"),
        ("ó", "o"),
        ("ú", "u"),
    )
    for a, b in replacements:
        s = s.replace(a, b).replace(a.upper(), b.upper())
    return s

In [95]:
print(normalize(raw_data_agosto[col]))

0            Inconsciente/Paro Cardiorrespiratorio
2                       Accidente cerebro vascular
5        Accidente de tránsito con heridos/Muertos
7        Accidente de tránsito con heridos/Muertos
9                          Dificultad Respiratoria
                           ...
18136    Accidente de tránsito con heridos/Muertos
18137                                      Heridos
18138    Accidente de tránsito con heridos/Muertos
18139    Accidente de tránsito con heridos/Muertos
18140    Accidente de tránsito con heridos/Muertos
Name: TIPO_INCIDENTE, Length: 16807, dtype: object

# Profile of the Data

In [97]:
profile = ProfileReport(df=raw_data_julio)
profile.to_file(output_file=project_dir + '/reports/'+'profile_raw_data_julio_2019.html')

Summarize dataset:   0%|          | 0/26 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [100]:
profile = ProfileReport(df=raw_data_agosto)
profile.to_file(output_file=project_dir + '/reports/'+'profile_raw_data_agosto_2019.html')

Summarize dataset:   0%|          | 0/26 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [101]:
profile = ProfileReport(df=raw_data_septiembre)
profile.to_file(output_file=project_dir + '/reports/'+'profile_raw_data_septiembre_2019.html')

Summarize dataset:   0%|          | 0/24 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [102]:
profile = ProfileReport(df=raw_data_octubre)
profile.to_file(output_file=project_dir + '/reports/'+'profile_raw_data_octubre_2019.html')

Summarize dataset:   0%|          | 0/24 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [103]:
profile = ProfileReport(df=raw_data_noviembre)
profile.to_file(output_file=project_dir + '/reports/'+'profile_raw_data_noviembre_2019.html')

Summarize dataset:   0%|          | 0/24 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [104]:
profile = ProfileReport(df=raw_data_diciembre)
profile.to_file(output_file=project_dir + '/reports/'+'profile_raw_data_diciembre_2019.html')

Summarize dataset:   0%|          | 0/24 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [106]:
profile = ProfileReport(df=raw_data_enero)
profile.to_file(output_file=project_dir + '/reports/'+'profile_raw_data_enero_2020.html')

Summarize dataset:   0%|          | 0/23 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

## Save table for each month

In [128]:
raw_data_julio.to_csv(project_dir + '/data/processed/' +'clean_llamadas_123_julio_2019.csv', encoding='latin1', sep=';', index=False)
raw_data_agosto.to_csv(project_dir + '/data/processed/' +'clean_llamadas_123_agosto_2019.csv', encoding='latin1', sep=';', index=False)
raw_data_septiembre.to_csv(project_dir + '/data/processed/' +'clean_llamadas_123_septiembre_2019.csv', encoding='latin1', sep=';', index=False)
raw_data_octubre.to_csv(project_dir + '/data/processed/' +'clean_llamadas_123_octubre_2019.csv', encoding='latin1', sep=';', index=False)
raw_data_noviembre.to_csv(project_dir + '/data/processed/' +'clean_llamadas_123_noviembre_2019.csv', encoding='latin1', sep=';', index=False)
raw_data_diciembre.to_csv(project_dir + '/data/processed/' +'clean_llamadas_123_diciembre_2019.csv', encoding='latin1', sep=';', index=False)
raw_data_enero.to_csv(project_dir + '/data/processed/' +'clean_llamadas_123_enero_2020.csv', encoding='latin1', sep=';', index=False)