# Read and clean a single file

In [1]:
import os
import sys
import logging
import pandas as pd

from pandas_profiling import ProfileReport
# %load_ext autoreload

project_dir = os.path.dirname(os.path.abspath('.')) # get the path of the project, if doesn't work use os.getcwd() instead and use rfind to find the project dir
sys.path.append(os.path.join(project_dir, 'src', 'data'))

from data_manipulator import get_input_data

bucket = 'espbigdata'
directory = 'BigData'

## Read Metadata
-----
General info for each relevant column

In [2]:
file = 'gs://{}/{}/Data/metadatos-llamadas-urg-y-emer.csv'.format(bucket, directory)
df_metadata = pd.read_csv(file, encoding='latin1', sep=';')
df_metadata

,NOMBRE,DESCRIPCION
0,FECHA_INCIDENTE,Es la fecha el cual se registra la llamada del...
1,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,Es la fecha el cual se inicia el desplazamient...
2,CODIGO LOCALIDAD,Es el código de las 20 localidades de la ciuda...
3,LOCALIDAD,Es la localidad donde sucede el incidente.
4,EDAD,La edad del paciente.
5,UNIDAD,"La descripción de la edad si es en horas, días..."
6,GENERO,Es la distinción de genero del paciente
7,RED,Es la localización a nivel bogota de la red de...
8,TIPO_INCIDENTE,Es la descripción inicial que tipifica el cent...
9,PRIORIDAD,Es la tipificación según la prioridad del inci...
10,MES,Es el mes el cual ocurrió el incidente.
11,CLASIFICACION FINAL,Es la clasificación final que entrega el centr...

The final data must contains this and only this columns with that specific headers in order to standarize the data, this is a type of data dictionary but it also must include the data types (**schema**) of each field (**column**)

## Get raw data

In [40]:
raw_data = get_input_data(
    bucket = bucket, 
    initial_directory = directory, 
    filename = 'datos-abiertos-octubre-2019.csv')
print(raw_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18195 entries, 0 to 18194
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NUMERO_INCIDENTE     18195 non-null  int64
 1   FECHA_DESPACHO_518   18195 non-null  object
 2   CODIGO DE LOCALIDAD  18195 non-null  int64
 3   LOCALIDAD            18195 non-null  object
 4   EDAD                 18195 non-null  object
 5   UNIDAD               9503 non-null   object
 6   GENERO               9543 non-null   object
 7   RED                  18195 non-null  object
 8   TIPO_INCIDENTE       18195 non-null  object
 9   PRIORIDAD            18195 non-null  object
dtypes: int64(2), object(8)
memory usage: 1.4+ MB
None

It seems that this file contains already the fields, but need to rename them

### Rename Columns

In [3]:
# Don't let white spaces between headers to avoid errors during the pipeline
# This is sometimes called a recipe for etl
raw_data.rename(
    columns = {
      #  'FECHA_INICIO_DESPLAZAMIENTO-MOVIL' : 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL',
       'CODIGO DE LOCALIDAD'               : 'CODIGO_LOCALIDAD',
       # 'CLASIFICACION FINAL'               : 'CLASIFICACION_FINAL',
       # 'TIPO_INCIDIDENTE'               : 'TIPO_INCIDENTE',
        #'FECHA_INICIO_DESPLAZAMIENTO-MOVIL':'FECHA_INICIO_DESPLAZAMIENTO_MOVIL'
    },
    inplace=True  #Npo sobre escribe 
)
raw_data.head()

,NUMERO_INCIDENTE,FECHA_DESPACHO_518,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD
0,868419196,2019-10-01 00:06:29,9,Fontibon,SIN_DATO,NaN,NaN,Norte,Dolor torácico,ALTA
1,868421196,2019-10-01 00:19:40,10,Engativa,67,Años,MASCULINO,Norte,Heridos,ALTA
2,868438196,2019-10-01 00:13:20,4,San Cristobal,SIN_DATO,NaN,NaN,Sur,Inconsciente/Paro Cardiorrespiratorio,ALTA
3,944374194,2019-10-01 05:30:23,16,Puente Aranda,SIN_DATO,NaN,NaN,Privada,Convulsiones,ALTA
4,868476196,2019-10-01 00:42:45,5,Usme,5,Años,FEMENINO,Sur,Dificultad Respiratoria,ALTA

### Check values per field
--------
1. LOCALIDAD
2. GENERO

In [4]:
raw_data['LOCALIDAD'].value_counts(dropna=False) ## dropna en true no muestra  los campos nullos en false los muestra por defecto viene en true

 Kennedy               2546
 Engativa              1791
 Suba                  1742
 Bosa                  1334
 Ciudad Bolivar        1141
 Puente Aranda          989
 Rafael Uribe Uribe     949
Usaquen                 888
 Fontibon               863
San Cristobal           844
 Chapinero              763
 Los Martires           697
 Santa Fe               689
 Barrios Unidos         680
 Usme                   609
 Tunjuelito             589
 Teusaquillo            536
 Antonio Nariño         419
 La Candelaria          120
 Sumapaz                  6
Name: LOCALIDAD, dtype: int64

It seems that in some fields exist a white space at the begining of the values, probably at the end too, lets clean them all

In [5]:
# Let's use the function strip(), this property works for string objects in python that removes whitespaces
raw_data['LOCALIDAD'].apply(
    lambda x: x.strip()        # here we use a lambda function, exclusively for python. Is a one-line function
).value_counts()

Kennedy               2546
Engativa              1791
Suba                  1742
Bosa                  1334
Ciudad Bolivar        1141
Puente Aranda          989
Rafael Uribe Uribe     949
Usaquen                888
Fontibon               863
San Cristobal          844
Chapinero              763
Los Martires           697
Santa Fe               689
Barrios Unidos         680
Usme                   609
Tunjuelito             589
Teusaquillo            536
Antonio Nariño         419
La Candelaria          120
Sumapaz                  6
Name: LOCALIDAD, dtype: int64

In [6]:
raw_data['LOCALIDAD'] = raw_data['LOCALIDAD'].apply(lambda x: x.strip()) # we assign the output of the function apply to the same column

In [46]:
raw_data.head()

,NUMERO_INCIDENTE,FECHA_DESPACHO_518,CODIGO DE LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD
0,868419196,2019-10-01 00:06:29,9,Fontibon,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Dolor torácico,ALTA
1,868421196,2019-10-01 00:19:40,10,Engativa,67,Años,MASCULINO,Norte,Heridos,ALTA
2,868438196,2019-10-01 00:13:20,4,San Cristobal,SIN_DATO,SIN_DATO,SIN_DATO,Sur,Inconsciente/Paro Cardiorrespiratorio,ALTA
3,944374194,2019-10-01 05:30:23,16,Puente Aranda,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Convulsiones,ALTA
4,868476196,2019-10-01 00:42:45,5,Usme,5,Años,FEMENINO,Sur,Dificultad Respiratoria,ALTA

In [41]:
col = 'GENERO'
raw_data[col] = raw_data[col].astype(str)
raw_data[col] = raw_data[col].apply(lambda x: x.strip())
raw_data[col].value_counts(dropna=False)   # here we could apply the same technique as before to avoid errors

nan          8652
MASCULINO    5145
FEMENINO     4370
SIN_DATO       28
Name: GENERO, dtype: int64

In [35]:
col = 'GENERO'
raw_data[col].fillna('SIN_DATO').value_counts()  #reemplaza null por sin dato

nan          8652
MASCULINO    5145
FEMENINO     4370
SIN_DATO       28
Name: GENERO, dtype: int64

In [45]:
col = 'GENERO'
raw_data[col]=raw_data[col].replace('nan','SIN_DATO')

In [42]:
col = 'UNIDAD'
raw_data[col].fillna('SIN_DATO').value_counts()  #reemplaza null por sin dato

Años        9447
SIN_DATO    8692
Meses         36
Horas         12
Dias           8
Name: UNIDAD, dtype: int64

In [44]:
col = 'UNIDAD'
raw_data[col].fillna('SIN_DATO', inplace=True)
raw_data[col] = raw_data[col].apply(lambda x: x.strip())
raw_data.head()

,NUMERO_INCIDENTE,FECHA_DESPACHO_518,CODIGO DE LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD
0,868419196,2019-10-01 00:06:29,9,Fontibon,SIN_DATO,SIN_DATO,nan,Norte,Dolor torácico,ALTA
1,868421196,2019-10-01 00:19:40,10,Engativa,67,Años,MASCULINO,Norte,Heridos,ALTA
2,868438196,2019-10-01 00:13:20,4,San Cristobal,SIN_DATO,SIN_DATO,nan,Sur,Inconsciente/Paro Cardiorrespiratorio,ALTA
3,944374194,2019-10-01 05:30:23,16,Puente Aranda,SIN_DATO,SIN_DATO,nan,Privada,Convulsiones,ALTA
4,868476196,2019-10-01 00:42:45,5,Usme,5,Años,FEMENINO,Sur,Dificultad Respiratoria,ALTA

In [47]:
raw_data[col] = raw_data[col].apply(lambda x: x.strip())
raw_data[col].value_counts(dropna=False)   # here we could apply the same technique as before to avoid errors

SIN_DATO     8680
MASCULINO    5145
FEMENINO     4370
Name: GENERO, dtype: int64

In [48]:
col = 'TIPO_INCIDENTE'
raw_data[col] = raw_data[col].apply(lambda x: x.strip())
raw_data[col].value_counts(dropna=False)

Accidente de tránsito con heridos/Muertos    6778
Inconsciente/Paro Cardiorrespiratorio        1768
Dificultad Respiratoria                      1497
Enfermo                                      1276
Convulsiones                                 1130
Heridos                                       828
Dolor torácico                                735
Intento de suicidio                           668
Lesiones personales                           657
Trastorno mental                              654
Accidente cerebro vascular                    396
Patología Gineco - obstétrica                 378
Síntomas gastrointestinales                   375
Caída                                         322
Intoxicaciones                                179
Ideas de suicidio                             111
SIN_DATO                                       60
Incendio estructural                           51
Muerte Natural                                 39
Violencia Sexual                               32
Quemaduras                                     32
Solicitud Apoyo / Desacato                     30
Electrocución / Rescate                        20
Sangrado Vaginal                               20
Explosión                                      18
Rescates                                       16
Riña                                           15
Accidente Tránsito Simple                      10
Verificar Situación                            10
Persona Pidiendo Auxilio                       10
Fuga de Gas Natural o Propano                   9
Incendio Vehicular                              8
Abrir domicilio                                 7
Incidente rescate acuático                      7
MATPEL (Materiales peligrosos)                  6
Atraco / Hurto en Proces                        6
Muerto                                          5
Maltrato                                        5
Menor o persona Abandonada                      4
Disparos                                        3
Incendio con MATPEL                             3
Manifestación / Motín                           3
Elemento caído y/o en peligro de caer.          3
Prevención                                      2
PSICOLOGIA                                      2
Vehiculo Hurtado                                2
Abejas                                          1
Embriaguez                                      1
Incendio                                        1
Animal Peligroso                                1
Extraviados / Desaparecidos                     1
Name: TIPO_INCIDENTE, dtype: int64

In [12]:
#col = 'CLASIFICACION_FINAL'
# raw_data[col] = raw_data[col].apply(lambda x: x.strip())
#raw_data[col].value_counts(dropna=False)

Here this columns contains a null value, aka NaN (this is numeric value that is Null), lets replace them first
* NaN --> SIN_DATO

In [49]:
raw_data[col].fillna('SIN_DATO').value_counts()  #reemplaza null por sin dato

Accidente de tránsito con heridos/Muertos    6778
Inconsciente/Paro Cardiorrespiratorio        1768
Dificultad Respiratoria                      1497
Enfermo                                      1276
Convulsiones                                 1130
Heridos                                       828
Dolor torácico                                735
Intento de suicidio                           668
Lesiones personales                           657
Trastorno mental                              654
Accidente cerebro vascular                    396
Patología Gineco - obstétrica                 378
Síntomas gastrointestinales                   375
Caída                                         322
Intoxicaciones                                179
Ideas de suicidio                             111
SIN_DATO                                       60
Incendio estructural                           51
Muerte Natural                                 39
Violencia Sexual                               32
Quemaduras                                     32
Solicitud Apoyo / Desacato                     30
Electrocución / Rescate                        20
Sangrado Vaginal                               20
Explosión                                      18
Rescates                                       16
Riña                                           15
Accidente Tránsito Simple                      10
Verificar Situación                            10
Persona Pidiendo Auxilio                       10
Fuga de Gas Natural o Propano                   9
Incendio Vehicular                              8
Abrir domicilio                                 7
Incidente rescate acuático                      7
MATPEL (Materiales peligrosos)                  6
Atraco / Hurto en Proces                        6
Muerto                                          5
Maltrato                                        5
Menor o persona Abandonada                      4
Disparos                                        3
Incendio con MATPEL                             3
Manifestación / Motín                           3
Elemento caído y/o en peligro de caer.          3
Prevención                                      2
PSICOLOGIA                                      2
Vehiculo Hurtado                                2
Abejas                                          1
Embriaguez                                      1
Incendio                                        1
Animal Peligroso                                1
Extraviados / Desaparecidos                     1
Name: TIPO_INCIDENTE, dtype: int64

In [50]:
#col = 'CLASIFICACION_FINAL'
#raw_data[col].fillna('SIN_DATO', inplace=True)
#raw_data[col] = raw_data[col].apply(lambda x: x.strip())
raw_data.head()

,NUMERO_INCIDENTE,FECHA_DESPACHO_518,CODIGO DE LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD
0,868419196,2019-10-01 00:06:29,9,Fontibon,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Dolor torácico,ALTA
1,868421196,2019-10-01 00:19:40,10,Engativa,67,Años,MASCULINO,Norte,Heridos,ALTA
2,868438196,2019-10-01 00:13:20,4,San Cristobal,SIN_DATO,SIN_DATO,SIN_DATO,Sur,Inconsciente/Paro Cardiorrespiratorio,ALTA
3,944374194,2019-10-01 05:30:23,16,Puente Aranda,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Convulsiones,ALTA
4,868476196,2019-10-01 00:42:45,5,Usme,5,Años,FEMENINO,Sur,Dificultad Respiratoria,ALTA

# Profile of the Data
------
first install pandas profiling, from a terminal

````
pip install pandas-profiling
````

In [9]:
profile = ProfileReport(df=raw_data)
profile.to_file(output_file=project_dir + '/reports/'+'profile_raw_data_julio_2019.html')

Summarize dataset:   0%|          | 0/25 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Form the initial report of the file we see that are duplicates rows in the table, we need to subtract them

### Remove duplicates

In [51]:
print('Number of rows before cleaning:', raw_data.shape[0] )
raw_data.drop_duplicates(inplace=True)
print('Number of rows after cleaning:', raw_data.shape[0] )

Number of rows before cleaning: 18195
Number of rows after cleaning: 16559

In [56]:
raw_data.head()

,NUMERO_INCIDENTE,FECHA_DESPACHO_518,CODIGO DE LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD
0,868419196,2019-10-01 00:06:29,9,Fontibon,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Dolor torácico,ALTA
1,868421196,2019-10-01 00:19:40,10,Engativa,67,Años,MASCULINO,Norte,Heridos,ALTA
2,868438196,2019-10-01 00:13:20,4,San Cristobal,SIN_DATO,SIN_DATO,SIN_DATO,Sur,Inconsciente/Paro Cardiorrespiratorio,ALTA
3,944374194,2019-10-01 05:30:23,16,Puente Aranda,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Convulsiones,ALTA
4,868476196,2019-10-01 00:42:45,5,Usme,5,Años,FEMENINO,Sur,Dificultad Respiratoria,ALTA

In [57]:
import  datetime
raw_data['FECHA_DESPACHO_518'] = raw_data['FECHA_DESPACHO_518'].apply(lambda _: datetime.datetime.strptime(_,"%Y-%m-%d %H:%M:%S"))
#import  datetime
#raw_data.head()
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16559 entries, 0 to 18194
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NUMERO_INCIDENTE     16559 non-null  int64
 1   FECHA_DESPACHO_518   16559 non-null  datetime64[ns]
 2   CODIGO DE LOCALIDAD  16559 non-null  int64
 3   LOCALIDAD            16559 non-null  object
 4   EDAD                 16559 non-null  object
 5   UNIDAD               16559 non-null  object
 6   GENERO               16559 non-null  object
 7   RED                  16559 non-null  object
 8   TIPO_INCIDENTE       16559 non-null  object
 9   PRIORIDAD            16559 non-null  object
dtypes: datetime64[ns](1), int64(2), object(7)
memory usage: 1.4+ MB

### Save the final table
use to_csv to save the table

In [58]:
# saving in a local directory
raw_data.to_csv('/home/jupyter/BigData/data/processed/' +'clean_llamadas_123_octubre_2019.csv', encoding='latin1', sep=';', index=False)
#raw_data.to_csv(project_dir + '/data/processed/' +'clean_llamadas_123_julio_2019.csv', encoding='latin1', sep=';', index=False)