In [1]:
import os
import sys
import logging
import pandas as pd
from datetime import datetime, timedelta


from pandas_profiling import ProfileReport


project_dir = os.path.dirname(os.path.abspath('.')) # get the path of the project, if doesn't work use os.getcwd() instead and use rfind to find the project dir
sys.path.append(os.path.join(project_dir, 'src', 'data'))

from data_manipulator_proc import get_input_data

bucket = 'fredo7'
directory = 'BigData'

In [2]:
raw_data1 = get_input_data(
    bucket=bucket,
    initial_directory=directory,
    filename = 'clean_llamadas_123_agosto_2019.csv')
print(raw_data1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16807 entries, 0 to 16806
Data columns (total 13 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   16807 non-null  int64
 1   FECHA_INCIDENTE                    16807 non-null  object
 2   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  16807 non-null  object
 3   CODIGO_LOCALIDAD                   16807 non-null  int64
 4   LOCALIDAD                          16807 non-null  object
 5   EDAD                               16807 non-null  object
 6   UNIDAD                             16807 non-null  object
 7   GENERO                             16807 non-null  object
 8   RED                                16807 non-null  object
 9   TIPO_INCIDENTE                     16807 non-null  object
 10  PRIORIDAD                          16807 non-null  object
 11  MES                                16807 non-null  object
 12  CLASIFICACION_FINAL                16807 non-null  object
dtypes: int64(2), object(11)
memory usage: 1.7+ MB
None

In [3]:
raw_data2 = get_input_data(
    bucket=bucket,
    initial_directory=directory,
    filename = 'clean_llamadas_123_diciembre_2019.csv')
print(raw_data2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16243 entries, 0 to 16242
Data columns (total 13 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   16243 non-null  object
 1   FECHA_INCIDENTE                    16243 non-null  object
 2   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  16243 non-null  object
 3   CODIGO_LOCALIDAD                   16243 non-null  int64
 4   LOCALIDAD                          16243 non-null  object
 5   EDAD                               16243 non-null  int64
 6   UNIDAD                             16243 non-null  object
 7   GENERO                             16243 non-null  object
 8   RED                                16243 non-null  object
 9   TIPO_INCIDENTE                     16243 non-null  object
 10  PRIORIDAD                          16243 non-null  object
 11  MES                                16243 non-null  object
 12  CLASIFICACION_FINAL                16243 non-null  object
dtypes: int64(2), object(11)
memory usage: 1.6+ MB
None

In [4]:
raw_data3 = get_input_data(
    bucket=bucket,
    initial_directory=directory,
    filename = 'clean_llamadas_123_enero_2020.csv')
print(raw_data3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15240 entries, 0 to 15239
Data columns (total 13 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   15240 non-null  object
 1   FECHA_INCIDENTE                    15240 non-null  object
 2   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  15240 non-null  object
 3   CODIGO_LOCALIDAD                   15240 non-null  int64
 4   LOCALIDAD                          15240 non-null  object
 5   EDAD                               15240 non-null  int64
 6   UNIDAD                             15240 non-null  object
 7   GENERO                             15240 non-null  object
 8   RED                                15240 non-null  object
 9   TIPO_INCIDENTE                     15240 non-null  object
 10  PRIORIDAD                          15240 non-null  int64
 11  MES                                15240 non-null  object
 12  CLASIFICACION_FINAL                15240 non-null  object
dtypes: int64(3), object(10)
memory usage: 1.5+ MB
None

In [5]:
raw_data4 = get_input_data(
    bucket=bucket,
    initial_directory=directory,
    filename = 'clean_llamadas_123_julio_2019.csv')
print(raw_data4.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13842 entries, 0 to 13841
Data columns (total 13 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   13842 non-null  int64
 1   FECHA_INCIDENTE                    13842 non-null  object
 2   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13842 non-null  object
 3   CODIGO_LOCALIDAD                   13842 non-null  int64
 4   LOCALIDAD                          13842 non-null  object
 5   EDAD                               13842 non-null  object
 6   UNIDAD                             13842 non-null  object
 7   GENERO                             13842 non-null  object
 8   RED                                13842 non-null  object
 9   TIPO_INCIDENTE                     13842 non-null  object
 10  PRIORIDAD                          13842 non-null  object
 11  MES                                13842 non-null  object
 12  CLASIFICACION_FINAL                13842 non-null  object
dtypes: int64(2), object(11)
memory usage: 1.4+ MB
None

In [6]:
raw_data5 = get_input_data(
    bucket=bucket,
    initial_directory=directory,
    filename = 'clean_llamadas_123_noviembre_2019.csv')
print(raw_data5.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15926 entries, 0 to 15925
Data columns (total 13 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   15926 non-null  object
 1   FECHA_INCIDENTE                    15926 non-null  object
 2   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  15926 non-null  object
 3   CODIGO_LOCALIDAD                   15926 non-null  int64
 4   LOCALIDAD                          15926 non-null  object
 5   EDAD                               15926 non-null  int64
 6   UNIDAD                             15926 non-null  object
 7   GENERO                             15926 non-null  object
 8   RED                                15926 non-null  object
 9   TIPO_INCIDENTE                     15926 non-null  object
 10  PRIORIDAD                          15926 non-null  object
 11  MES                                15926 non-null  object
 12  CLASIFICACION_FINAL                15926 non-null  object
dtypes: int64(2), object(11)
memory usage: 1.6+ MB
None

In [7]:
raw_data6 = get_input_data(
    bucket=bucket,
    initial_directory=directory,
    filename = 'clean_llamadas_123_octubre_2019.csv')
print(raw_data5.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15926 entries, 0 to 15925
Data columns (total 13 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   15926 non-null  object
 1   FECHA_INCIDENTE                    15926 non-null  object
 2   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  15926 non-null  object
 3   CODIGO_LOCALIDAD                   15926 non-null  int64
 4   LOCALIDAD                          15926 non-null  object
 5   EDAD                               15926 non-null  int64
 6   UNIDAD                             15926 non-null  object
 7   GENERO                             15926 non-null  object
 8   RED                                15926 non-null  object
 9   TIPO_INCIDENTE                     15926 non-null  object
 10  PRIORIDAD                          15926 non-null  object
 11  MES                                15926 non-null  object
 12  CLASIFICACION_FINAL                15926 non-null  object
dtypes: int64(2), object(11)
memory usage: 1.6+ MB
None

In [8]:
raw_data7 = get_input_data(
    bucket=bucket,
    initial_directory=directory,
    filename = 'clean_llamadas_123_septiembre_2019.csv')
print(raw_data7.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17018 entries, 0 to 17017
Data columns (total 13 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   17018 non-null  int64
 1   FECHA_INCIDENTE                    17018 non-null  object
 2   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  17018 non-null  object
 3   CODIGO_LOCALIDAD                   17018 non-null  int64
 4   LOCALIDAD                          17018 non-null  object
 5   EDAD                               17018 non-null  int64
 6   UNIDAD                             9371 non-null   object
 7   GENERO                             17018 non-null  object
 8   RED                                17018 non-null  object
 9   TIPO_INCIDENTE                     17018 non-null  object
 10  PRIORIDAD                          17018 non-null  object
 11  MES                                17018 non-null  object
 12  CLASIFICACION_FINAL                17018 non-null  object
dtypes: int64(3), object(10)
memory usage: 1.7+ MB
None

In [9]:
raw_data8 = get_input_data(
    bucket=bucket,
    initial_directory=directory,
    filename = 'clean_llamadas_123_otros_2019.csv')
print(raw_data8.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127314 entries, 0 to 127313
Data columns (total 13 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   NUMERO_INCIDENTE                   127314 non-null  object
 1   FECHA_INCIDENTE                    127314 non-null  object
 2   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  127314 non-null  object
 3   CODIGO_LOCALIDAD                   127314 non-null  object
 4   LOCALIDAD                          127314 non-null  object
 5   EDAD                               127314 non-null  object
 6   UNIDAD                             127314 non-null  object
 7   GENERO                             127314 non-null  object
 8   RED                                127314 non-null  object
 9   TIPO_INCIDENTE                     127314 non-null  object
 10  PRIORIDAD                          127286 non-null  object
 11  MES                                127314 non-null  object
 12  CLASIFICACION_FINAL                127314 non-null  object
dtypes: object(13)
memory usage: 12.6+ MB
None

In [10]:
raw_dataT = pd.concat([raw_data1, raw_data2, raw_data3, raw_data4, raw_data5, raw_data6, raw_data7, raw_data8])
raw_dataT.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 240585 entries, 0 to 127313
Data columns (total 13 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   NUMERO_INCIDENTE                   240585 non-null  object
 1   FECHA_INCIDENTE                    240585 non-null  object
 2   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  240585 non-null  object
 3   CODIGO_LOCALIDAD                   240585 non-null  object
 4   LOCALIDAD                          240585 non-null  object
 5   EDAD                               240585 non-null  object
 6   UNIDAD                             224246 non-null  object
 7   GENERO                             231933 non-null  object
 8   RED                                240585 non-null  object
 9   TIPO_INCIDENTE                     240585 non-null  object
 10  PRIORIDAD                          240557 non-null  object
 11  MES                                240585 non-null  object
 12  CLASIFICACION_FINAL                240585 non-null  object
dtypes: object(13)
memory usage: 25.7+ MB

In [11]:
# Columna NUMERO INCIDENTE
# Se validan hay datos nullos 
# Si hay datos nullos se reemplazan por SIN_DATO
# Retiramos todos los espacios en blanco que existan
raw_dataT['NUMERO_INCIDENTE'].value_counts(dropna=False)

SIN_DATO           127314
0                   13842
1026850196             73
789977196              30
1096036194             24
                    ...
CRU-00004140-20         1
CRU-00004132-20         1
CRU-00004095-20         1
CRU-00004127-20         1
1136893194              1
Name: NUMERO_INCIDENTE, Length: 85860, dtype: int64

In [12]:
# Columna FECHA INCIDENTE
# Se validan hay datos nullos 
# Si hay datos nullos se reemplazan por SIN_DATO
# Retiramos todos los espacios en blanco que existan
raw_dataT['FECHA_INCIDENTE'].value_counts(dropna=False)

22/02/2019 11:51       38
20/03/2019 6:13        32
10/05/2019 12:39       30
29/03/2019 16:04       28
3/04/2019 10:19        28
                       ..
2019-11-05 14:50:24     1
2019-11-05 15:30:05     1
2019-11-05 15:26:02     1
2019-11-05 14:50:28     1
30/06/2019 23:56        1
Name: FECHA_INCIDENTE, Length: 172022, dtype: int64

In [13]:
raw_dataT['LOCALIDAD'].value_counts(dropna=False, ascending=True)

Sumapaz                    5
 Sumapaz                  25
La Candelaria            325
 Los Martires            697
 Usaquen                 829
 Fontibon                863
Antonio Nariño           962
Los Mártires            1042
 La Candelaria          1184
Barrios Unidos          1579
 San Cristobal          1668
Teusaquillo             1851
Ciudad Bolivar          2085
Los Martires            2188
San Cristóbal           2253
San Cristobal           2346
 Tunjuelito             2699
Ciudad Bolívar          3029
Fontibon                3107
Fontibón                3120
Bosa                    3247
Usaquen                 3270
 Ciudad Bolivar         3402
 Engativa               3470
 Usaquén                3525
Santa Fe                3714
 Fontibón               4012
Usme                    4233
 Antonio Nariño         4237
 Los Mártires           4254
Rafael Uribe Uribe      4490
Engativa                4646
 Chapinero              4666
 Engativá               4674
Puente Aranda           4676
Chapinero               4677
Usaquén                 4736
 Santa Fe               5045
Tunjuelito              5386
 Usme                   5418
 Teusaquillo            5769
 San Cristóbal          6083
 Barrios Unidos         6687
Kennedy                 7168
 Rafael Uribe Uribe     7815
 Ciudad Bolívar         7858
 Puente Aranda          8123
Suba                    8915
Engativá               11782
 Bosa                  14185
 Suba                  15578
 Kennedy               22987
Name: LOCALIDAD, dtype: int64

In [14]:
raw_dataT['LOCALIDAD']= raw_dataT['LOCALIDAD'].apply(
    lambda x:x.strip()        
)
raw_dataT.head()
raw_dataT['LOCALIDAD'].value_counts(dropna=False, ascending=True)

Sumapaz                  30
La Candelaria          1509
Los Martires           2885
Fontibon               3970
San Cristobal          4014
Usaquen                4099
Antonio Nariño         5199
Los Mártires           5296
Ciudad Bolivar         5487
Fontibón               7132
Teusaquillo            7620
Tunjuelito             8085
Engativa               8116
Usaquén                8261
Barrios Unidos         8266
San Cristóbal          8336
Santa Fe               8759
Chapinero              9343
Usme                   9651
Ciudad Bolívar        10887
Rafael Uribe Uribe    12305
Puente Aranda         12799
Engativá              16456
Bosa                  17432
Suba                  24493
Kennedy               30155
Name: LOCALIDAD, dtype: int64

In [16]:
def normalize(s):
    replacements = (
        ("á", "a"),
        ("é", "e"),
        ("í", "i"),
        ("ó", "o"),
        ("ú", "u"),
    )
    for a, b in replacements:
        s = s.replace(a, b).replace(a.upper(), b.upper())
    return s


def fechas(x):
    objDate = datetime.strptime(x, '%m/%d/%y')
    return objDate

In [17]:
raw_dataT['LOCALIDAD']= raw_dataT['LOCALIDAD'].apply(
    lambda x:normalize(x)        
)
raw_dataT['LOCALIDAD'].value_counts(dropna=False, ascending=True)

Sumapaz                  30
La Candelaria          1509
Antonio Nariño         5199
Teusaquillo            7620
Tunjuelito             8085
Los Martires           8181
Barrios Unidos         8266
Santa Fe               8759
Chapinero              9343
Usme                   9651
Fontibon              11102
Rafael Uribe Uribe    12305
San Cristobal         12350
Usaquen               12360
Puente Aranda         12799
Ciudad Bolivar        16374
Bosa                  17432
Suba                  24493
Engativa              24572
Kennedy               30155
Name: LOCALIDAD, dtype: int64

In [18]:
raw_dataT.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 240585 entries, 0 to 127313
Data columns (total 13 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   NUMERO_INCIDENTE                   240585 non-null  object
 1   FECHA_INCIDENTE                    240585 non-null  object
 2   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  240585 non-null  object
 3   CODIGO_LOCALIDAD                   240585 non-null  object
 4   LOCALIDAD                          240585 non-null  object
 5   EDAD                               240585 non-null  object
 6   UNIDAD                             224246 non-null  object
 7   GENERO                             231933 non-null  object
 8   RED                                240585 non-null  object
 9   TIPO_INCIDENTE                     240585 non-null  object
 10  PRIORIDAD                          240557 non-null  object
 11  MES                                240585 non-null  object
 12  CLASIFICACION_FINAL                240585 non-null  object
dtypes: object(13)
memory usage: 25.7+ MB

In [23]:
print('Number of rows before cleaning:', raw_dataT.shape[0] )
raw_dataT.drop_duplicates(inplace=True)
print('Number of rows after cleaning:', raw_dataT.shape[0] )

Number of rows before cleaning: 240585
Number of rows after cleaning: 194817

In [24]:
profile = ProfileReport(df=raw_dataT)
profile.to_file(output_file=project_dir + '/reports/'+'profile_clean_data_total_123.html')

Summarize dataset:   0%|          | 0/27 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [25]:
# saving in a local directory

import data_manipulator_proc

raw_dataT.to_csv(project_dir + '/data/processed/' +'Total_llamadas_2019.csv', encoding='latin1', sep=';', index=False)