#Lectura y limpieza

In [1]:
import os
import sys
import logging
import pandas as pd

from pandas_profiling import ProfileReport


project_dir = os.path.dirname(os.path.abspath('.')) # get the path of the project, if doesn't work use os.getcwd() instead and use rfind to find the project dir
sys.path.append(os.path.join(project_dir, 'src', 'data'))

from data_manipulator import get_input_data

bucket = 'especializacion_daba'
directory = 'BigData'

In [2]:
get_input_data?

Signature:
get_input_data(
    bucket='esp-big-data',
    initial_directory='BigData',
    filename='datos-abiertos-agosto-2019.csv',
)
Docstring:
Read a csv file in a bucket of GCS, the file must use latin1 encoding and the separator is a semicolon (;)

Args:
    bucket (str, optional): Name of the bucket. Defaults to 'esp-big-data'.
    initial_directory (str, optional): project directory. Defaults to 'BigData'.
    filename (str, optional):csv file to read. Defaults to 'datos-abiertos-agosto-2019.csv'.

Returns:
    pandas.dataframe: dataframe with the raw data
File:      ~/ESEIT_BigData/src/data/data_manipulator.py
Type:      function

In [3]:
raw_data_ago = get_input_data(bucket='especializacion_daba',filename ='datos-abiertos-agosto-2019.csv')
print(raw_data_ago.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18141 entries, 0 to 18140
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   18141 non-null  int64
 1   FECHA_INICIO_DESPLAZAMIENTO-MOVIL  18141 non-null  object
 2   CODIGO DE LOCALIDAD                18141 non-null  int64
 3   LOCALIDAD                          18141 non-null  object
 4   EDAD                               18141 non-null  object
 5   UNIDAD                             18141 non-null  object
 6   GENERO                             18141 non-null  object
 7   RED                                18141 non-null  object
 8   TIPO DE INCIDIDENT                 18141 non-null  object
 9   PRIORIDAD                          18141 non-null  object
 10  MES                                18141 non-null  object
 11  CLASIFICACION FINAL                18138 non-null  object
dtypes: int64(2), object(10)
memory usage: 1.7+ MB
None

In [4]:
raw_data_ago.rename(
    columns = {
        'FECHA_INICIO_DESPLAZAMIENTO-MOVIL' : 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL',
        'CODIGO DE LOCALIDAD'               : 'CODIGO_DE_LOCALIDAD',
        'TIPO DE INCIDIDENT'               : 'TIPO_DE_INCIDENTE',
        'CLASIFICACION FINAL'               : 'CLASIFICACION_FINAL',
        'FECHA_DESPACHO_518'               : 'FECHA_DE_DESPACHO'
    },
    inplace=True
)
raw_data_ago.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_DE_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_DE_INCIDENTE,PRIORIDAD,MES,CLASIFICACION_FINAL
0,809224194,1/08/2019 0:28,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA,AGOSTO,Cancelado
1,809224194,1/08/2019 0:28,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA,AGOSTO,Cancelado
2,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado
3,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado
4,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado

In [5]:
raw_data_ago['LOCALIDAD'].value_counts(dropna=False)

raw_data_ago['LOCALIDAD'].apply(
    lambda x: x.strip()        
).value_counts()

Kennedy               2717
Engativa              1805
Suba                  1678
Bosa                  1264
Ciudad Bolivar        1220
Puente Aranda          977
San Cristobal          906
Usaquen                894
Rafael Uribe Uribe     892
Fontibon               878
Chapinero              707
Santa Fe               682
Usme                   637
Barrios Unidos         608
Teusaquillo            599
Tunjuelito             595
Los Martires           593
Antonio Nariño         369
La Candelaria          119
Sumapaz                  1
Name: LOCALIDAD, dtype: int64

In [6]:
from datetime import datetime, timedelta
from pandas import DataFrame

In [7]:
raw_data_ago['FECHA_INICIO_DESPLAZAMIENTO_MOVIL'].value_counts(dropna=False)

8/08/2019 14:00     19
27/08/2019 17:07    13
13/08/2019 6:52     12
12/08/2019 22:38     9
7/08/2019 19:13      8
                    ..
12/08/2019 20:34     1
12/08/2019 20:47     1
12/08/2019 20:35     1
12/08/2019 21:28     1
8/08/2019 19:29      1
Name: FECHA_INICIO_DESPLAZAMIENTO_MOVIL, Length: 13752, dtype: int64

In [8]:
date_time='01/08/2019 12:00:00'
date_time=pd.to_datetime(date_time, format='%d/%m/%Y %H:%M:%S')
print (date_time, type (date_time))

2019-08-01 12:00:00 <class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [9]:
col = 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL'
raw_data_ago[col] = pd.to_datetime(raw_data_ago[col], format='%d/%m/%Y %H:%M') 
raw_data_ago[col].value_counts
# raw_data_ago.head()

<bound method IndexOpsMixin.value_counts of 0       2019-08-01 00:28:00
1       2019-08-01 00:28:00
2       2019-08-01 00:15:00
3       2019-08-01 00:15:00
4       2019-08-01 00:15:00
                ...
18136   2019-08-08 17:26:00
18137   2019-08-08 18:18:00
18138   2019-08-08 19:29:00
18139   2019-08-08 19:19:00
18140   2019-08-08 19:16:00
Name: FECHA_INICIO_DESPLAZAMIENTO_MOVIL, Length: 18141, dtype: datetime64[ns]>

In [10]:
raw_data_ago.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_DE_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_DE_INCIDENTE,PRIORIDAD,MES,CLASIFICACION_FINAL
0,809224194,2019-08-01 00:28:00,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA,AGOSTO,Cancelado
1,809224194,2019-08-01 00:28:00,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA,AGOSTO,Cancelado
2,809240194,2019-08-01 00:15:00,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado
3,809240194,2019-08-01 00:15:00,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado
4,809240194,2019-08-01 00:15:00,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado

In [11]:

col = 'GENERO'
raw_data_ago[col] = raw_data_ago[col].apply(lambda x: x.strip())
raw_data_ago[col].value_counts(dropna=False)

SIN_DATO     8617
MASCULINO    5143
FEMENINO     4381
Name: GENERO, dtype: int64

In [12]:
col = 'TIPO_DE_INCIDENTE'
raw_data_ago[col] = raw_data_ago[col].apply(lambda x: x.strip())
raw_data_ago[col].value_counts(dropna=False)

Accidente de tránsito con heridos/Muertos    6827
Inconsciente/Paro Cardiorrespiratorio        1875
Dificultad Respiratoria                      1504
Enfermo                                      1233
Convulsiones                                 1135
Heridos                                       847
Lesiones personales                           718
Trastorno mental                              670
Dolor torácico                                628
Intento de suicidio                           555
Síntomas gastrointestinales                   418
Accidente cerebro vascular                    401
Patología Gineco - obstétrica                 353
Caída                                         295
Intoxicaciones                                181
Ideas de suicidio                             102
SIN_DATO                                       58
Incendio estructural                           51
Muerte Natural                                 35
Violencia Sexual                               33
Riña                                           24
Solicitud Apoyo / Desacato                     21
Accidente Tránsito Simple                      20
Sangrado Vaginal                               15
Quemaduras                                     15
MATPEL (Materiales peligrosos)                  9
Fuga de Gas Natural o Propano                   9
Elemento caído y/o en peligro de caer.          9
Electrocución / Rescate                         9
Abrir domicilio                                 8
Incidente rescate acuático                      7
Manifestación / Motín                           7
Embriaguez                                      6
Maltrato                                        6
Animal Peligroso                                5
Rescates                                        5
Incendio con MATPEL                             4
Menor o persona Abandonada                      4
Explosión                                       4
Extraviados / Desaparecidos                     3
Deslizamiento                                   3
Disparos                                        3
Persona Pidiendo Auxilio                        3
Hurto Efectuado                                 3
Incendio Vehicular                              3
Persona tendida en la vía                       3
Habitante de la Calle                           3
Muerto                                          3
Abejas                                          3
Amenaza de Ruina                                2
Atraco / Hurto en Proces                        2
Incendio                                        1
Name: TIPO_DE_INCIDENTE, dtype: int64

In [13]:
col = 'UNIDAD'
raw_data_ago[col] = raw_data_ago[col].apply(lambda x: x.strip())
raw_data_ago[col].value_counts(dropna=False)

Años        9447
SIN_DATO    8637
Meses         42
Dias           9
Horas          6
Name: UNIDAD, dtype: int64

In [14]:
col = 'RED'
raw_data_ago[col] = raw_data_ago[col].apply(lambda x: x.strip())
raw_data_ago[col].value_counts(dropna=False)

Norte      7925
Sur        6507
Privada    3709
Name: RED, dtype: int64

In [15]:
col = 'PRIORIDAD'
raw_data_ago[col] = raw_data_ago[col].apply(lambda x: x.strip())
raw_data_ago[col].value_counts(dropna=False)

ALTA        15314
MEDIA        2539
BAJA          246
SIN_DATO       42
Name: PRIORIDAD, dtype: int64

In [16]:
col = 'MES'
raw_data_ago[col] = raw_data_ago[col].apply(lambda x: x.strip())
raw_data_ago[col].value_counts(dropna=False)

AGOSTO    18141
Name: MES, dtype: int64

In [17]:
col = 'CLASIFICACION_FINAL'
raw_data_ago[col].value_counts(dropna=False) 
raw_data_ago[col].fillna('SIN_DATO').value_counts()

Traslado                       7311
Cancelado                      4935
Trasladado por Otro Recurso    1813
Falsa Alarma                   1738
Desistimiento                  1449
No Amerita Traslado             452
No Ubica                        235
Fallecido                       205
SIN_DATO                          3
Name: CLASIFICACION_FINAL, dtype: int64

In [18]:
col = 'CLASIFICACION_FINAL'
raw_data_ago[col].fillna('SIN_DATO', inplace=True)
raw_data_ago[col] = raw_data_ago[col].apply(lambda x: x.strip())
raw_data_ago.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_DE_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_DE_INCIDENTE,PRIORIDAD,MES,CLASIFICACION_FINAL
0,809224194,2019-08-01 00:28:00,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA,AGOSTO,Cancelado
1,809224194,2019-08-01 00:28:00,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA,AGOSTO,Cancelado
2,809240194,2019-08-01 00:15:00,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado
3,809240194,2019-08-01 00:15:00,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado
4,809240194,2019-08-01 00:15:00,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado

In [19]:
profile = ProfileReport(df=raw_data_ago)
profile.to_file(output_file=project_dir + '/reports/'+'profile_raw_datos_abiertos_agosto_2019.html')

Summarize dataset:   0%|          | 0/25 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

FileNotFoundError: [Errno 2] No such file or directory: '/home/jupyter/ESEIT_BigData/reports/profile_raw_datos_abiertos_agosto_2019.html'

In [ ]:
print('Number of rows before cleaning:', raw_data_ago.shape[0] )
raw_data_ago.drop_duplicates(inplace=True)
print('Number of rows after cleaning:', raw_data_ago.shape[0] )

In [21]:
raw_data_sep = get_input_data(bucket='especializacion_daba',filename ='datos-abiertos-septiembre-2019.csv')
print(raw_data_sep.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17018 entries, 0 to 17017
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   17018 non-null  int64
 1   FECHA_INICIO_DESPLAZAMIENTO-MOVIL  17018 non-null  object
 2   CODIGO DE LOCALIDAD                17018 non-null  int64
 3   LOCALIDAD                          17018 non-null  object
 4   EDAD                               17018 non-null  int64
 5   UNIDAD                             9371 non-null   object
 6   GENERO                             17018 non-null  object
 7   RED                                17018 non-null  object
 8   TIPO_INCIDENTE                     17018 non-null  object
 9   PRIORIDAD                          17018 non-null  object
dtypes: int64(3), object(7)
memory usage: 1.3+ MB
None

In [22]:
raw_data_sep.rename(
    columns = {
        'FECHA_INICIO_DESPLAZAMIENTO-MOVIL' : 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL',
        'CODIGO DE LOCALIDAD'               : 'CODIGO_DE_LOCALIDAD',
        'TIPO_INCIDENTE'               : 'TIPO_DE_INCIDENTE',
        'CLASIFICACION FINAL'               : 'CLASIFICACION_FINAL',
        'FECHA_DESPACHO_518'               : 'FECHA_DE_DESPACHO'
    },
    inplace=True
)
raw_data_sep.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_DE_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_DE_INCIDENTE,PRIORIDAD
0,538006196,2019-09-01 00:05:32,18,Rafael Uribe Uribe,53,Años,MASCULINO,Sur,ACCIDENTE DE TRÁNSITO CON HERIDOS/MUERTOS,ALTA
1,538024196,2019-09-01 00:12:07,11,Suba,0,NaN,SIN_DATO,Norte,ACCIDENTE DE TRÁNSITO CON HERIDOS/MUERTOS,ALTA
2,538031196,2019-09-01 00:05:39,8,Kennedy,26,Años,MASCULINO,Norte,ACCIDENTE DE TRÁNSITO CON HERIDOS/MUERTOS,ALTA
3,538084196,2019-09-01 00:13:39,11,Suba,24,Años,MASCULINO,Norte,ACCIDENTE DE TRÁNSITO CON HERIDOS/MUERTOS,ALTA
4,538123196,2019-09-01 00:20:31,2,Chapinero,0,NaN,SIN_DATO,Norte,INCONSCIENTE/PARO CARDIORRESPIRATORIO,ALTA

In [23]:
raw_data_sep['LOCALIDAD'].value_counts(dropna=False)

raw_data_sep['LOCALIDAD'].apply(
    lambda x: x.strip()        
).value_counts()

Kennedy               2398
Suba                  1634
Engativa              1631
Bosa                  1294
Ciudad Bolivar        1138
Puente Aranda          938
Rafael Uribe Uribe     854
Usaquen                829
San Cristobal          826
Fontibon               809
Chapinero              749
Barrios Unidos         616
Tunjuelito             603
Los Martires           593
Usme                   572
Santa Fe               549
Teusaquillo            540
Antonio Nariño         362
La Candelaria           83
Name: LOCALIDAD, dtype: int64

In [24]:
raw_data_sep['FECHA_INICIO_DESPLAZAMIENTO_MOVIL'].value_counts(dropna=False)

2019-09-18 05:09:15    9
2019-09-06 14:47:18    8
2019-09-07 18:29:25    7
2019-09-26 15:06:05    7
2019-09-06 07:53:53    6
                      ..
2019-09-11 10:10:04    1
2019-09-11 10:19:54    1
2019-09-11 10:34:31    1
2019-09-11 10:24:38    1
2019-09-30 23:50:06    1
Name: FECHA_INICIO_DESPLAZAMIENTO_MOVIL, Length: 15925, dtype: int64

In [25]:
date_time='2019/09/01 12:00:00'
date_time=pd.to_datetime(date_time, format='%Y/%m/%d %H:%M:%S')
print (date_time, type (date_time))

2019-09-01 12:00:00 <class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [26]:
col = 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL'
raw_data_sep[col] = pd.to_datetime(raw_data_sep[col], format='%Y/%m/%d %H:%M:%S') 
raw_data_sep[col].value_counts
# raw_data_ago.head()

<bound method IndexOpsMixin.value_counts of 0       2019-09-01 00:05:32
1       2019-09-01 00:12:07
2       2019-09-01 00:05:39
3       2019-09-01 00:13:39
4       2019-09-01 00:20:31
                ...
17013   2019-09-30 23:12:24
17014   2019-09-30 23:22:18
17015   2019-09-30 23:28:36
17016   2019-09-30 23:30:30
17017   2019-09-30 23:50:06
Name: FECHA_INICIO_DESPLAZAMIENTO_MOVIL, Length: 17018, dtype: datetime64[ns]>

In [27]:
col = 'GENERO'
raw_data_sep[col] = raw_data_sep[col].apply(lambda x: x.strip())
raw_data_sep[col].value_counts(dropna=False)

SIN_DATO     7632
MASCULINO    5082
FEMENINO     4304
Name: GENERO, dtype: int64

In [28]:
col = 'TIPO_DE_INCIDENTE'
raw_data_sep[col] = raw_data_sep[col].apply(lambda x: x.strip())
raw_data_sep[col].value_counts(dropna=False)

ACCIDENTE DE TRÁNSITO CON HERIDOS/MUERTOS    6333
INCONSCIENTE/PARO CARDIORRESPIRATORIO        1720
DIFICULTAD RESPIRATORIA                      1386
ENFERMO                                      1137
CONVULSIONES                                 1039
HERIDOS                                       834
INTENTO DE SUICIDIO                           653
DOLOR TORÁCICO                                629
TRASTORNO MENTAL                              621
LESIONES PERSONALES                           593
PATOLOGÍA GINECO - OBSTÉTRICA                 421
SÍNTOMAS GASTROINTESTINALES                   360
ACCIDENTE CEREBRO VASCULAR                    352
CAÍDA                                         334
INTOXICACIONES                                156
IDEAS DE SUICIDIO                             113
VIOLENCIA SEXUAL                               48
INCENDIO ESTRUCTURAL                           40
SIN_DATO                                       32
SANGRADO VAGINAL                               25
ACCIDENTE TRÁNSITO SIMPLE                      23
RESCATES                                       20
MUERTE NATURAL                                 18
ELEMENTO CAÍDO Y/O EN PELIGRO DE CAER.         16
SOLICITUD APOYO / DESACATO                     15
RIÑA                                           13
EXPLOSIÓN                                      10
ABRIR DOMICILIO                                 8
QUEMADURAS                                      8
FUGA DE GAS NATURAL O PROPANO                   6
MALTRATO                                        6
ANIMAL PELIGROSO                                5
ELECTROCUCIÓN / RESCATE                         5
PERSONA PIDIENDO AUXILIO                        5
MANIFESTACIÓN / MOTÍN                           4
INCIDENTE RESCATE ACUÁTICO                      4
INCENDIO VEHICULAR                              3
EMBRIAGUEZ                                      3
ATRACO / HURTO EN PROCES                        3
INCENDIO                                        2
INUNDACIÓN                                      2
PERSONA TENDIDA EN LA VÍA                       2
DAÑOS EN SERVICIOS                              2
MUERTO                                          2
VERIFICAR SITUACIÓN                             1
RESCATES MONTAÑA                                1
HABITANTE DE LA CALLE                           1
PREVENCIÓN                                      1
INCENDIO FORESTAL                               1
DESLIZAMIENTO                                   1
DELINCUENTE CAPTURADO POR CIVIL                 1
Name: TIPO_DE_INCIDENTE, dtype: int64

In [29]:
col = 'UNIDAD'
raw_data_sep[col].value_counts(dropna=False) 
raw_data_sep[col].fillna('SIN_DATO').value_counts()

Años        9311
SIN_DATO    7647
Meses         42
Dias          10
Horas          8
Name: UNIDAD, dtype: int64

In [30]:
col = 'RED'
raw_data_sep[col] = raw_data_sep[col].apply(lambda x: x.strip())
raw_data_sep[col].value_counts(dropna=False)

Norte      7343
Sur        6360
Privada    3315
Name: RED, dtype: int64

In [31]:
col = 'PRIORIDAD'
raw_data_sep[col] = raw_data_sep[col].apply(lambda x: x.strip())
raw_data_sep[col].value_counts(dropna=False) 
raw_data_sep[col].fillna('SIN_DATO, SIN_D').value_counts()

ALTA        14243
MEDIA        2550
BAJA          204
SIN_D          15
SIN_DATO        6
Name: PRIORIDAD, dtype: int64

In [32]:
print('Number of rows before cleaning:', raw_data_sep.shape[0] )
raw_data_sep.drop_duplicates(inplace=True)
print('Number of rows after cleaning:', raw_data_sep.shape[0] )

Number of rows before cleaning: 17018
Number of rows after cleaning: 16267

In [33]:
raw_data_oct = get_input_data(bucket='especializacion_daba',filename ='datos-abiertos-octubre-2019.csv')
print(raw_data_oct.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18195 entries, 0 to 18194
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NUMERO_INCIDENTE     18195 non-null  int64
 1   FECHA_DESPACHO_518   18195 non-null  object
 2   CODIGO DE LOCALIDAD  18195 non-null  int64
 3   LOCALIDAD            18195 non-null  object
 4   EDAD                 18195 non-null  object
 5   UNIDAD               9503 non-null   object
 6   GENERO               9543 non-null   object
 7   RED                  18195 non-null  object
 8   TIPO_INCIDENTE       18195 non-null  object
 9   PRIORIDAD            18195 non-null  object
dtypes: int64(2), object(8)
memory usage: 1.4+ MB
None

In [34]:
raw_data_oct.rename(
    columns = {
        'FECHA_INICIO_DESPLAZAMIENTO-MOVIL' : 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL',
        'CODIGO DE LOCALIDAD'               : 'CODIGO_DE_LOCALIDAD',
        'TIPO_INCIDENTE'               : 'TIPO_DE_INCIDENTE',
        'CLASIFICACION FINAL'               : 'CLASIFICACION_FINAL',
        'FECHA_DESPACHO_518'               : 'FECHA_DE_DESPACHO'
    },
    inplace=True
)
raw_data_ago.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_DE_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_DE_INCIDENTE,PRIORIDAD,MES,CLASIFICACION_FINAL
0,809224194,2019-08-01 00:28:00,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA,AGOSTO,Cancelado
1,809224194,2019-08-01 00:28:00,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA,AGOSTO,Cancelado
2,809240194,2019-08-01 00:15:00,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado
3,809240194,2019-08-01 00:15:00,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado
4,809240194,2019-08-01 00:15:00,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado

In [35]:
raw_data_oct['LOCALIDAD'].value_counts(dropna=False)

raw_data_oct['LOCALIDAD'].apply(
    lambda x: x.strip()        
).value_counts()

Kennedy               2546
Engativa              1791
Suba                  1742
Bosa                  1334
Ciudad Bolivar        1141
Puente Aranda          989
Rafael Uribe Uribe     949
Usaquen                888
Fontibon               863
San Cristobal          844
Chapinero              763
Los Martires           697
Santa Fe               689
Barrios Unidos         680
Usme                   609
Tunjuelito             589
Teusaquillo            536
Antonio Nariño         419
La Candelaria          120
Sumapaz                  6
Name: LOCALIDAD, dtype: int64

In [36]:
raw_data_oct['FECHA_DE_DESPACHO'].value_counts(dropna=False)

2019-10-23 12:54:36    11
2019-10-29 08:09:42    11
2019-10-18 16:51:18    10
2019-10-28 07:39:15     9
2019-10-17 07:53:20     8
                       ..
2019-10-12 18:03:04     1
2019-10-12 17:54:47     1
2019-10-12 18:03:11     1
2019-10-12 10:42:19     1
2019-10-03 20:23:50     1
Name: FECHA_DE_DESPACHO, Length: 16197, dtype: int64

In [37]:
date_time='2019/09/01 12:00:00'
date_time=pd.to_datetime(date_time, format='%Y/%m/%d %H:%M:%S')
print (date_time, type (date_time))

2019-09-01 12:00:00 <class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [38]:
col = 'FECHA_DE_DESPACHO'
raw_data_oct[col] = pd.to_datetime(raw_data_oct[col], format='%Y/%m/%d %H:%M:%S') 
raw_data_oct[col].value_counts
# raw_data_ago.head()

<bound method IndexOpsMixin.value_counts of 0       2019-10-01 00:06:29
1       2019-10-01 00:19:40
2       2019-10-01 00:13:20
3       2019-10-01 05:30:23
4       2019-10-01 00:42:45
                ...
18190   2019-10-31 23:23:45
18191   2019-10-31 23:29:29
18192   2019-10-18 13:33:43
18193   2019-10-10 18:50:51
18194   2019-10-03 20:23:50
Name: FECHA_DE_DESPACHO, Length: 18195, dtype: datetime64[ns]>

In [39]:
col = 'GENERO'
raw_data_oct[col].value_counts(dropna=False) 
raw_data_oct[col].fillna('SIN_DATO').value_counts()

SIN_DATO     8680
MASCULINO    5145
FEMENINO     4370
Name: GENERO, dtype: int64

In [40]:
col = 'TIPO_DE_INCIDENTE'
raw_data_oct[col] = raw_data_oct[col].apply(lambda x: x.strip())
raw_data_oct[col].value_counts(dropna=False)

Accidente de tránsito con heridos/Muertos    6778
Inconsciente/Paro Cardiorrespiratorio        1768
Dificultad Respiratoria                      1497
Enfermo                                      1276
Convulsiones                                 1130
Heridos                                       828
Dolor torácico                                735
Intento de suicidio                           668
Lesiones personales                           657
Trastorno mental                              654
Accidente cerebro vascular                    396
Patología Gineco - obstétrica                 378
Síntomas gastrointestinales                   375
Caída                                         322
Intoxicaciones                                179
Ideas de suicidio                             111
SIN_DATO                                       60
Incendio estructural                           51
Muerte Natural                                 39
Violencia Sexual                               32
Quemaduras                                     32
Solicitud Apoyo / Desacato                     30
Electrocución / Rescate                        20
Sangrado Vaginal                               20
Explosión                                      18
Rescates                                       16
Riña                                           15
Accidente Tránsito Simple                      10
Verificar Situación                            10
Persona Pidiendo Auxilio                       10
Fuga de Gas Natural o Propano                   9
Incendio Vehicular                              8
Abrir domicilio                                 7
Incidente rescate acuático                      7
MATPEL (Materiales peligrosos)                  6
Atraco / Hurto en Proces                        6
Muerto                                          5
Maltrato                                        5
Menor o persona Abandonada                      4
Disparos                                        3
Incendio con MATPEL                             3
Manifestación / Motín                           3
Elemento caído y/o en peligro de caer.          3
Prevención                                      2
PSICOLOGIA                                      2
Vehiculo Hurtado                                2
Abejas                                          1
Embriaguez                                      1
Incendio                                        1
Animal Peligroso                                1
Extraviados / Desaparecidos                     1
Name: TIPO_DE_INCIDENTE, dtype: int64

In [41]:
col = 'UNIDAD'
raw_data_oct[col].value_counts(dropna=False) 
raw_data_oct[col].fillna('SIN_DATO').value_counts()

Años        9447
SIN_DATO    8692
Meses         36
Horas         12
Dias           8
Name: UNIDAD, dtype: int64

In [42]:
col = 'RED'
raw_data_oct[col] = raw_data_oct[col].apply(lambda x: x.strip())
raw_data_oct[col].value_counts(dropna=False)

Norte      7994
Sur        6513
Privada    3688
Name: RED, dtype: int64

In [43]:
col = 'PRIORIDAD'
raw_data_oct[col] = raw_data_oct[col].apply(lambda x: x.strip())
raw_data_oct[col].value_counts(dropna=False) 
raw_data_oct[col].fillna('SIN_DATO, SIN_D').value_counts()

ALTA        15190
MEDIA        2733
BAJA          228
SIN_DATO       44
Name: PRIORIDAD, dtype: int64

In [44]:
print('Number of rows before cleaning:', raw_data_oct.shape[0] )
raw_data_oct.drop_duplicates(inplace=True)
print('Number of rows after cleaning:', raw_data_oct.shape[0] )

Number of rows before cleaning: 18195
Number of rows after cleaning: 16559

In [45]:
raw_data_nov = get_input_data(bucket='especializacion_daba',filename ='datos-abiertos-noviembre_2019.csv')
print(raw_data_nov.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15926 entries, 0 to 15925
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   15926 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO-MOVIL  15926 non-null  object
 2   CODIGO DE LOCALIDAD                15926 non-null  int64
 3   LOCALIDAD                          15926 non-null  object
 4   EDAD                               15926 non-null  int64
 5   UNIDAD                             15926 non-null  object
 6   GENERO                             15926 non-null  object
 7   RED                                15926 non-null  object
 8   TIPO_INCIDENTE                     15926 non-null  object
 9   PRIORIDAD                          15926 non-null  object
dtypes: int64(2), object(8)
memory usage: 1.2+ MB
None

In [46]:
raw_data_nov.rename(
    columns = {
        'FECHA_INICIO_DESPLAZAMIENTO-MOVIL' : 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL',
        'CODIGO DE LOCALIDAD'               : 'CODIGO_DE_LOCALIDAD',
        'TIPO_INCIDENTE'               : 'TIPO_DE_INCIDENTE',
        'CLASIFICACION FINAL'               : 'CLASIFICACION_FINAL',
        'FECHA_DESPACHO_518'               : 'FECHA_DE_DESPACHO'
    },
    inplace=True
)
raw_data_nov.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_DE_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_DE_INCIDENTE,PRIORIDAD
0,1129118194,2019-11-01 00:01:16,18,Rafael Uribe Uribe,0,SIN_DATO,SIN_DATO,Sur,Lesiones personales,ALTA
1,1129198194,2019-11-01 00:14:45,11,Suba,47,Años,MASCULINO,Norte,Accidente cerebro vascular,ALTA
2,1129241194,2019-11-01 00:16:15,2,Chapinero,33,Años,MASCULINO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA
3,1129253194,2019-11-01 00:11:37,7,Bosa,5,Años,FEMENINO,Sur,Dificultad Respiratoria,ALTA
4,1129258194,2019-11-01 00:16:28,11,Suba,43,Años,FEMENINO,Norte,Dolor torácico,ALTA

In [47]:
raw_data_nov['LOCALIDAD'].value_counts(dropna=False)

raw_data_nov['LOCALIDAD'].apply(
    lambda x: x.strip()        
).value_counts()

Kennedy               2192
Engativa              1571
Suba                  1424
Bosa                  1189
Ciudad Bolivar        1123
Puente Aranda          854
Rafael Uribe Uribe     835
Usaquen                808
Fontibon               787
San Cristobal          758
Santa Fe               613
Chapinero              577
Usme                   577
Los Martires           560
Tunjuelito             551
Teusaquillo            546
Barrios Unidos         520
Antonio Nariño         338
La Candelaria          102
Sumapaz                  1
Name: LOCALIDAD, dtype: int64

In [48]:
date_time='01/11/2019 12:00:00'
date_time=pd.to_datetime(date_time, format='%d/%m/%Y %H:%M:%S')
print (date_time, type (date_time))

2019-11-01 12:00:00 <class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [49]:
col = 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL'
raw_data_nov[col] = pd.to_datetime(raw_data_nov[col], format='%Y/%m/%d %H:%M:%S') 
raw_data_nov[col].value_counts
# raw_data_ago.head()

<bound method IndexOpsMixin.value_counts of 0       2019-11-01 00:01:16
1       2019-11-01 00:14:45
2       2019-11-01 00:16:15
3       2019-11-01 00:11:37
4       2019-11-01 00:16:28
                ...
15921   2019-11-30 23:59:33
15922   2019-11-30 23:56:11
15923   2019-11-30 23:55:55
15924   2019-12-01 00:49:00
15925   2019-12-01 00:04:47
Name: FECHA_INICIO_DESPLAZAMIENTO_MOVIL, Length: 15926, dtype: datetime64[ns]>

In [50]:
col = 'GENERO'
raw_data_nov[col].value_counts(dropna=False) 
raw_data_nov[col].fillna('SIN_DATO').value_counts()

SIN_DATO     7011
MASCULINO    4856
FEMENINO     4059
Name: GENERO, dtype: int64

In [51]:
col = 'TIPO_DE_INCIDENTE'
raw_data_nov[col] = raw_data_nov[col].apply(lambda x: x.strip())
raw_data_nov[col].value_counts(dropna=False)

Accidente de tránsito con heridos/Muertos    5577
Inconsciente/Paro Cardiorrespiratorio        1587
Dificultad Respiratoria                      1400
Enfermo                                      1066
Convulsiones                                  979
Heridos                                       729
Lesiones personales                           675
Trastorno mental                              601
Intento de suicidio                           600
Dolor torácico                                577
Patología Gineco - obstétrica                 373
Síntomas gastrointestinales                   355
Caída                                         346
Accidente cerebro vascular                    318
Intoxicaciones                                137
SIN_DATO                                      122
Ideas de suicidio                              90
Solicitud Apoyo / Desacato                     83
Incendio estructural                           48
Muerte Natural                                 41
Violencia Sexual                               24
Quemaduras                                     21
Sangrado Vaginal                               18
Rescates                                       16
MATPEL (Materiales peligrosos)                 15
Incidente rescate acuático                     13
Riña                                           13
Electrocución / Rescate                         9
Accidente Tránsito Simple                       9
Incendio Vehicular                              8
Elemento caído y/o en peligro de caer.          7
Explosión                                       7
Persona Pidiendo Auxilio                        7
Fuga de Gas Natural o Propano                   6
Manifestación / Motín                           6
Atraco / Hurto en Proces                        6
Abrir domicilio                                 6
Animal Peligroso                                5
Menor o persona Abandonada                      4
Persona tendida en la vía                       4
Muerto                                          4
Disparos                                        4
Embriaguez                                      3
PSICOLOGIA                                      2
Maltrato                                        2
Verificar Situación                             1
Delincuente capturado por civil                 1
Deslizamiento                                   1
Name: TIPO_DE_INCIDENTE, dtype: int64

In [52]:
col = 'UNIDAD'
raw_data_nov[col].value_counts(dropna=False) 
raw_data_nov[col].fillna('SIN_DATO').value_counts()

Años        8820
SIN_DATO    7020
Meses         66
Dias          11
Horas          9
Name: UNIDAD, dtype: int64

In [53]:
col = 'RED'
raw_data_nov[col] = raw_data_nov[col].apply(lambda x: x.strip())
raw_data_nov[col].value_counts(dropna=False)

Norte      6859
Sur        6000
Privada    3067
Name: RED, dtype: int64

In [54]:
col = 'PRIORIDAD'
raw_data_nov[col] = raw_data_nov[col].apply(lambda x: x.strip())
raw_data_nov[col].value_counts(dropna=False) 
raw_data_nov[col].fillna('SIN_DATO, SIN_D').value_counts()

ALTA        13281
MEDIA        2349
BAJA          209
SIN_DATO       87
Name: PRIORIDAD, dtype: int64

In [55]:
print('Number of rows before cleaning:', raw_data_nov.shape[0] )
raw_data_nov.drop_duplicates(inplace=True)
print('Number of rows after cleaning:', raw_data_nov.shape[0] )

Number of rows before cleaning: 15926
Number of rows after cleaning: 15886

In [56]:
raw_data_dic = get_input_data(bucket='especializacion_daba',filename ='datos_abiertos_cons_diciembre_2019.csv')
print(raw_data_dic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16243 entries, 0 to 16242
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NUMERO_INCIDENTE     16243 non-null  object
 1   FECHA_DESPACHO_518   16243 non-null  object
 2   CODIGO DE LOCALIDAD  16243 non-null  int64
 3   LOCALIDAD            16243 non-null  object
 4   EDAD                 16243 non-null  int64
 5   UNIDAD               16243 non-null  object
 6   GENERO               16243 non-null  object
 7   RED                  16243 non-null  object
 8   TIPO_INCIDENTE       16243 non-null  object
 9   PRIORIDAD            16243 non-null  object
dtypes: int64(2), object(8)
memory usage: 1.2+ MB
None

In [57]:
raw_data_dic.rename(
    columns = {
        'FECHA_INICIO_DESPLAZAMIENTO-MOVIL' : 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL',
        'CODIGO DE LOCALIDAD'               : 'CODIGO_DE_LOCALIDAD',
        'TIPO_INCIDENTE'               : 'TIPO_DE_INCIDENTE',
        'CLASIFICACION FINAL'               : 'CLASIFICACION_FINAL',
        'FECHA_DESPACHO_518'               : 'FECHA_DE_DESPACHO'
    },
    inplace=True
)
raw_data_dic.head()

,NUMERO_INCIDENTE,FECHA_DE_DESPACHO,CODIGO_DE_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_DE_INCIDENTE,PRIORIDAD
0,1178693196,2019-12-01 03:18:23,8,Kennedy,14,Años,MASCULINO,Privada,Accidente Tránsito con Heridos/Muertos,ALTA
1,1176480196,2019-12-01 00:05:59,5,Usme,0,SIN/DATO,SIN/DATO,Sur,Accidente Tránsito con Heridos/Muertos,ALTA
2,1180282196,2019-12-01 05:37:10,7,Bosa,32,Años,MASCULINO,Privada,Accidente Tránsito con Heridos/Muertos,ALTA
3,1176520196,2019-12-01 00:07:43,3,Santa Fe,0,SIN/DATO,SIN/DATO,Norte,Lesiones Personales,ALTA
4,1180873196,2019-12-01 07:14:08,5,Usme,53,Años,FEMENINO,Privada,Accidente Tránsito con Heridos/Muertos,ALTA

In [58]:
raw_data_dic['LOCALIDAD'].value_counts(dropna=False)

raw_data_dic['LOCALIDAD'].apply(
    lambda x: x.strip()        
).value_counts()

Kennedy               2317
Engativá              1644
Suba                  1471
Bosa                  1182
Ciudad Bolívar        1121
Puente Aranda          904
Fontibón               864
San Cristóbal          838
Rafael Uribe Uribe     772
Usaquén                770
Usme                   630
Tunjuelito             616
Santa Fe               589
Chapinero              556
Los Mártires           525
Barrios Unidos         513
Teusaquillo            497
Antonio Nariño         373
La Candelaria           60
Sumapaz                  1
Name: LOCALIDAD, dtype: int64

In [59]:
raw_data_dic['FECHA_DE_DESPACHO'].value_counts(dropna=False)

2019-12-20 22:05:02    9
2019-12-24 15:02:30    6
2019-12-24 21:08:00    6
2019-12-31 17:39:10    6
2019-12-26 21:34:05    5
                      ..
2019-12-09 14:50:55    1
2019-12-09 15:52:58    1
2019-12-09 15:37:33    1
2019-12-09 16:02:42    1
2019-12-01 07:12:34    1
Name: FECHA_DE_DESPACHO, Length: 15804, dtype: int64

In [60]:
date_time='2019/09/01 12:00:00'
date_time=pd.to_datetime(date_time, format='%Y/%m/%d %H:%M:%S')
print (date_time, type (date_time))

col = 'FECHA_DE_DESPACHO'
raw_data_dic[col] = pd.to_datetime(raw_data_dic[col], format='%Y/%m/%d %H:%M:%S') 
raw_data_dic[col].value_counts
# raw_data_ago.head()

2019-09-01 12:00:00 <class 'pandas._libs.tslibs.timestamps.Timestamp'>

<bound method IndexOpsMixin.value_counts of 0       2019-12-01 03:18:23
1       2019-12-01 00:05:59
2       2019-12-01 05:37:10
3       2019-12-01 00:07:43
4       2019-12-01 07:14:08
                ...
16238   2019-12-01 05:22:10
16239   2019-12-01 07:48:13
16240   2019-12-01 08:04:29
16241   2019-12-01 06:22:44
16242   2019-12-01 07:12:34
Name: FECHA_DE_DESPACHO, Length: 16243, dtype: datetime64[ns]>

In [61]:
col = 'GENERO'
raw_data_dic[col].value_counts(dropna=False) 
raw_data_dic[col].fillna('SIN_DATO').value_counts()

SIN/DATO     8286
MASCULINO    4405
FEMENINO     3552
Name: GENERO, dtype: int64

In [62]:
col = 'TIPO_DE_INCIDENTE'
raw_data_dic[col] = raw_data_dic[col].apply(lambda x: x.strip())
raw_data_dic[col].value_counts(dropna=False)

Heridos accidentales                      7390
Inconsciente / paro cardiorespiratorio    1743
Evento respiratorio                       1404
Convulsión                                1027
Enfermo                                    873
Trastorno mental                           650
Dolor torácico                             611
Intento de Suicidio                        543
Caída de Altura                            377
Patología ginecobstétrica                  371
Accidente Cerebro\nVascular                365
Síntomas gastrointestinales                275
Intoxicación                               153
S/D                                        138
Accidente Tránsito con Heridos/Muertos     108
Amenaza de\nSuicidio                        95
Violencia Sexual                            28
Sangrado Vaginal                            24
Lesiones Personales                         23
Quemaduras                                  16
Electrocución / Rescate                     10
Accidente Cerebro Vascular (ACV)             7
Maltrato                                     7
Incendio estructural                         2
Muerte Natural                               2
Accidente de Aviación                        1
Name: TIPO_DE_INCIDENTE, dtype: int64

In [63]:
col = 'UNIDAD'
raw_data_dic[col].value_counts(dropna=False) 
raw_data_dic[col].fillna('SIN_DATO').value_counts()

SIN/DATO    8286
Años        7889
Meses         45
Horas         13
Dias          10
Name: UNIDAD, dtype: int64

In [64]:
col = 'RED'
raw_data_dic[col] = raw_data_dic[col].apply(lambda x: x.strip())
raw_data_dic[col].value_counts(dropna=False)

Norte      7114
Sur        6282
Privada    2847
Name: RED, dtype: int64

In [65]:
col = 'PRIORIDAD'
raw_data_dic[col] = raw_data_dic[col].apply(lambda x: x.strip())
raw_data_dic[col].value_counts(dropna=False) 
raw_data_dic[col].fillna('SIN_DATO, SIN_D').value_counts()

2        10668
1         3128
3         1922
ALTA       300
4          197
MEDIA       23
BAJA         5
Name: PRIORIDAD, dtype: int64

In [66]:
print('Number of rows before cleaning:', raw_data_dic.shape[0] )
raw_data_dic.drop_duplicates(inplace=True)
print('Number of rows after cleaning:', raw_data_dic.shape[0] )

Number of rows before cleaning: 16243
Number of rows after cleaning: 16162

In [67]:
raw_data_jul = get_input_data(bucket='especializacion_daba',filename ='datos-abiertos-julio-2019.csv')
print(raw_data_jul.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14560 entries, 0 to 14559
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   FECHA_INCIDENTE                    14560 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO-MOVIL  14560 non-null  object
 2   CODIGO DE LOCALIDAD                14560 non-null  int64
 3   LOCALIDAD                          14560 non-null  object
 4   EDAD                               14560 non-null  object
 5   UNIDAD                             14560 non-null  object
 6   GENERO                             14560 non-null  object
 7   RED                                14560 non-null  object
 8   TIPO_INCIDENTE                     14560 non-null  object
 9   PRIORIDAD                          14560 non-null  object
 10  MES                                14560 non-null  object
 11  CLASIFICACION FINAL                13035 non-null  object
dtypes: int64(1), object(11)
memory usage: 1.3+ MB
None

In [68]:
raw_data_jul.rename(
    columns = {
        'FECHA_INICIO_DESPLAZAMIENTO-MOVIL' : 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL',
        'CODIGO DE LOCALIDAD'               : 'CODIGO_DE_LOCALIDAD',
        'TIPO_INCIDENTE'               : 'TIPO_DE_INCIDENTE',
        'CLASIFICACION FINAL'               : 'CLASIFICACION_FINAL',
        'FECHA_DESPACHO_518'               : 'FECHA_DE_DESPACHO'
    },
    inplace=True
)
raw_data_jul.head()

,FECHA_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_DE_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_DE_INCIDENTE,PRIORIDAD,MES,CLASIFICACION_FINAL
0,2019-07-01 00:05:08,2019-07-01 00:11:02,8,Kennedy,39,Años,FEMENINO,Norte,Dificultad Respiratoria,ALTA,JULIO,Traslado
1,2019-07-01 00:06:57,2019-07-01 00:12:56,19,Ciudad Bolivar,69,Años,MASCULINO,Sur,Inconsciente/Paro Cardiorrespiratorio,ALTA,JULIO,NaN
2,2019-07-01 00:09:26,2019-07-01 00:10:26,6,Tunjuelito,25,Años,MASCULINO,Sur,Enfermo,MEDIA,JULIO,Traslado
3,2019-07-01 00:14:42,2019-07-01 00:15:47,8,Kennedy,65,Años,MASCULINO,Sur,Lesiones personales,MEDIA,JULIO,Traslado
4,2019-07-01 00:17:13,2019-07-01 00:31:13,10,Engativa,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Enfermo,MEDIA,JULIO,Cancelado

In [69]:
raw_data_jul['LOCALIDAD'].value_counts(dropna=False)

raw_data_jul['LOCALIDAD'].apply(
    lambda x: x.strip()        
).value_counts()

Kennedy               1593
Suba                  1548
Engativa              1521
Bosa                  1122
Ciudad Bolivar         994
Usaquen                786
San Cristobal          776
Rafael Uribe Uribe     741
Fontibon               723
Puente Aranda          690
Usme                   636
Chapinero              599
Barrios Unidos         516
Los Martires           516
Santa Fe               489
Teusaquillo            464
Tunjuelito             462
Antonio Nariño         292
La Candelaria           91
Sumapaz                  1
Name: LOCALIDAD, dtype: int64

In [70]:
raw_data_jul['FECHA_INICIO_DESPLAZAMIENTO_MOVIL'].value_counts(dropna=False)

date_time='01/08/2019 12:00:00'
date_time=pd.to_datetime(date_time, format='%d/%m/%Y %H:%M:%S')
print (date_time, type (date_time))

2019-08-01 12:00:00 <class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [71]:
col = 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL'
raw_data_jul[col] = pd.to_datetime(raw_data_jul[col], format='%Y/%m/%d %H:%M') 
raw_data_jul[col].value_counts
# raw_data_ago.head()

<bound method IndexOpsMixin.value_counts of 0       2019-07-01 00:11:02
1       2019-07-01 00:12:56
2       2019-07-01 00:10:26
3       2019-07-01 00:15:47
4       2019-07-01 00:31:13
                ...
14555   2019-07-31 23:21:39
14556   2019-07-31 23:28:20
14557   2019-07-31 23:27:43
14558   2019-07-31 23:29:43
14559   2019-07-31 23:50:43
Name: FECHA_INICIO_DESPLAZAMIENTO_MOVIL, Length: 14560, dtype: datetime64[ns]>

In [72]:
col = 'GENERO'
raw_data_jul[col] = raw_data_jul[col].apply(lambda x: x.strip())
raw_data_jul[col].value_counts(dropna=False)

SIN_DATO     6621
MASCULINO    4190
FEMENINO     3749
Name: GENERO, dtype: int64

In [73]:
col = 'TIPO_DE_INCIDENTE'
raw_data_jul[col] = raw_data_jul[col].apply(lambda x: x.strip())
raw_data_jul[col].value_counts(dropna=False)

Accidente de tránsito con heridos/Muertos    4261
Inconsciente/Paro Cardiorrespiratorio        1623
Dificultad Respiratoria                      1398
Enfermo                                      1131
Convulsiones                                 1011
Heridos                                       747
Trastorno mental                              709
Dolor torácico                                611
Lesiones personales                           547
Intento de suicidio                           534
Patología Gineco - obstétrica                 425
Síntomas gastrointestinales                   344
Accidente cerebro vascular                    323
Caída                                         318
Intoxicaciones                                141
Ideas de suicidio                             111
Violencia Sexual                               41
Muerte Natural                                 39
SIN_DATO                                       39
Incendio estructural                           29
Solicitud Apoyo / Desacato                     28
Sangrado Vaginal                               21
Accidente Tránsito Simple                      14
Quemaduras                                     12
Riña                                           11
Amenaza de Ruina                               10
Rescates                                        7
Incendio Vehicular                              7
Abrir domicilio                                 7
Elemento caído y/o en peligro de caer.          7
Electrocución / Rescate                         5
Fuga de Gas Natural o Propano                   5
MATPEL (Materiales peligrosos)                  5
Animal Peligroso                                5
Maltrato                                        5
Explosión                                       4
Disparos                                        4
Muerto                                          3
Persona Pidiendo Auxilio                        3
Deslizamiento                                   3
Embriaguez                                      3
Persona tendida en la vía                       2
Habitante de la Calle                           2
Extraviados / Desaparecidos                     1
Incidente rescate acuático                      1
Venta o Consumo alcohol u otro en Menor         1
Atraco / Hurto en Proces                        1
Rescates Montaña                                1
Name: TIPO_DE_INCIDENTE, dtype: int64

In [74]:
col = 'UNIDAD'
raw_data_jul[col] = raw_data_jul[col].apply(lambda x: x.strip())
raw_data_jul[col].value_counts(dropna=False)

Años        7886
SIN_DATO    6621
Meses         39
Dias           7
Horas          7
Name: UNIDAD, dtype: int64

In [75]:
col = 'RED'
raw_data_jul[col] = raw_data_jul[col].apply(lambda x: x.strip())
raw_data_jul[col].value_counts(dropna=False)

Norte    8078
Sur      6482
Name: RED, dtype: int64

In [76]:
col = 'PRIORIDAD'
raw_data_jul[col] = raw_data_jul[col].apply(lambda x: x.strip())
raw_data_jul[col].value_counts(dropna=False)

ALTA        11842
MEDIA        2432
BAJA          270
SIN_DATO       16
Name: PRIORIDAD, dtype: int64

In [77]:
col = 'MES'
raw_data_jul[col] = raw_data_jul[col].apply(lambda x: x.strip())
raw_data_jul[col].value_counts(dropna=False)

JULIO    14560
Name: MES, dtype: int64

In [78]:
col = 'CLASIFICACION_FINAL'
raw_data_jul[col].value_counts(dropna=False) 
raw_data_jul[col].fillna('SIN_DATO').value_counts()

col = 'CLASIFICACION_FINAL'
raw_data_jul[col].fillna('SIN_DATO', inplace=True)
raw_data_jul[col] = raw_data_jul[col].apply(lambda x: x.strip())
raw_data_jul.head()

,FECHA_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_DE_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_DE_INCIDENTE,PRIORIDAD,MES,CLASIFICACION_FINAL
0,2019-07-01 00:05:08,2019-07-01 00:11:02,8,Kennedy,39,Años,FEMENINO,Norte,Dificultad Respiratoria,ALTA,JULIO,Traslado
1,2019-07-01 00:06:57,2019-07-01 00:12:56,19,Ciudad Bolivar,69,Años,MASCULINO,Sur,Inconsciente/Paro Cardiorrespiratorio,ALTA,JULIO,SIN_DATO
2,2019-07-01 00:09:26,2019-07-01 00:10:26,6,Tunjuelito,25,Años,MASCULINO,Sur,Enfermo,MEDIA,JULIO,Traslado
3,2019-07-01 00:14:42,2019-07-01 00:15:47,8,Kennedy,65,Años,MASCULINO,Sur,Lesiones personales,MEDIA,JULIO,Traslado
4,2019-07-01 00:17:13,2019-07-01 00:31:13,10,Engativa,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Enfermo,MEDIA,JULIO,Cancelado

In [79]:
print('Number of rows before cleaning:', raw_data_jul.shape[0] )
raw_data_jul.drop_duplicates(inplace=True)
print('Number of rows after cleaning:', raw_data_jul.shape[0] )

Number of rows before cleaning: 14560
Number of rows after cleaning: 13842

In [80]:
raw_data_ene = get_input_data(bucket='especializacion_daba',filename ='datos-abiertos-enero_2020.csv')
print(raw_data_ene.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15304 entries, 0 to 15303
Data columns (total 37 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NUMERO_INCIDENTE     15304 non-null  object
 1   FECHA_DESPACHO_518   15304 non-null  object
 2   CODIGO DE LOCALIDAD  15304 non-null  int64
 3   LOCALIDAD            15304 non-null  object
 4   EDAD                 15304 non-null  int64
 5   UNIDAD               15304 non-null  object
 6   GENERO               15304 non-null  object
 7   RED                  15304 non-null  object
 8   TIPO_INCIDENTE       15304 non-null  object
 9   PRIORIDAD            15304 non-null  int64
 10  Unnamed: 10          0 non-null      float64
 11  Unnamed: 11          0 non-null      float64
 12  Unnamed: 12          0 non-null      float64
 13  Unnamed: 13          0 non-null      float64
 14  Unnamed: 14          0 non-null      float64
 15  Unnamed: 15          0 non-null      float64
 16  Unnamed: 16          0 non-null      float64
 17  Unnamed: 17          0 non-null      float64
 18  Unnamed: 18          0 non-null      float64
 19  Unnamed: 19          0 non-null      float64
 20  Unnamed: 20          0 non-null      float64
 21  Unnamed: 21          0 non-null      float64
 22  Unnamed: 22          0 non-null      float64
 23  Unnamed: 23          0 non-null      float64
 24  Unnamed: 24          0 non-null      float64
 25  Unnamed: 25          0 non-null      float64
 26  Unnamed: 26          0 non-null      float64
 27  Unnamed: 27          0 non-null      float64
 28  Unnamed: 28          0 non-null      float64
 29  Unnamed: 29          0 non-null      float64
 30  Unnamed: 30          0 non-null      float64
 31  Unnamed: 31          0 non-null      float64
 32  Unnamed: 32          0 non-null      float64
 33  Unnamed: 33          0 non-null      float64
 34  Unnamed: 34          0 non-null      float64
 35  Unnamed: 35          0 non-null      float64
 36  Unnamed: 36          0 non-null      float64
dtypes: float64(27), int64(3), object(7)
memory usage: 4.3+ MB
None

In [81]:
raw_data_ene.rename(
    columns = {
        'FECHA_INICIO_DESPLAZAMIENTO-MOVIL' : 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL',
        'CODIGO DE LOCALIDAD'               : 'CODIGO_DE_LOCALIDAD',
        'TIPO_INCIDENTE'               : 'TIPO_DE_INCIDENTE',
        'CLASIFICACION FINAL'               : 'CLASIFICACION_FINAL',
        'FECHA_DESPACHO_518'               : 'FECHA_DE_DESPACHO'        
    },
    inplace=True
)
raw_data_ene.head()

,NUMERO_INCIDENTE,FECHA_DE_DESPACHO,CODIGO_DE_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_DE_INCIDENTE,PRIORIDAD,...,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,CRU-00000002-20,2020-01-01 00:13:40,19,Ciudad Bolívar,0,SIN_DATO,SIN_DATO,Sur,Heridos,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CRU-00000002-20,2020-01-01 00:13:40,19,Ciudad Bolívar,0,SIN_DATO,SIN_DATO,Sur,Heridos,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CRU-00000005-20,2020-01-01 00:15:14,14,Los Mártires,0,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,CRU-00000024-20,2020-01-01 00:20:50,11,Suba,58,Años,MASCULINO,Norte,Inconsciente/Paro Cardiorrespiratorio,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CRU-00000036-20,2020-01-01 00:26:05,10,Engativá,0,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
raw_data_ene['LOCALIDAD'].value_counts(dropna=False)

raw_data_ene['LOCALIDAD'].apply(
    lambda x: x.strip()        
).value_counts()

Kennedy               2116
Engativá              1473
Suba                  1465
Bosa                  1072
Ciudad Bolívar        1022
Puente Aranda          942
Fontibón               812
Usaquén                786
San Cristóbal          746
Rafael Uribe Uribe     737
Usme                   678
Tunjuelito             550
Santa Fe               541
Teusaquillo            527
Barrios Unidos         506
Chapinero              498
Los Mártires           446
Antonio Nariño         320
La Candelaria           64
Sumapaz                  3
Name: LOCALIDAD, dtype: int64

In [83]:
raw_data_ene['FECHA_DE_DESPACHO'].value_counts(dropna=False)

date_time='2019/09/01 12:00:00'
date_time=pd.to_datetime(date_time, format='%Y/%m/%d %H:%M:%S')
print (date_time, type (date_time))

col = 'FECHA_DE_DESPACHO'
raw_data_ene[col] = pd.to_datetime(raw_data_ene[col], format='%Y/%m/%d %H:%M:%S') 
raw_data_ene[col].value_counts
# raw_data_ago.head()

2019-09-01 12:00:00 <class 'pandas._libs.tslibs.timestamps.Timestamp'>

<bound method IndexOpsMixin.value_counts of 0       2020-01-01 00:13:40
1       2020-01-01 00:13:40
2       2020-01-01 00:15:14
3       2020-01-01 00:20:50
4       2020-01-01 00:26:05
                ...
15299   2020-02-01 00:03:14
15300   2020-02-01 00:03:58
15301   2020-02-01 00:10:45
15302   2020-02-01 00:55:15
15303   2020-02-01 01:19:50
Name: FECHA_DE_DESPACHO, Length: 15304, dtype: datetime64[ns]>

In [84]:
col = 'GENERO'
raw_data_ene[col].value_counts(dropna=False) 
raw_data_ene[col].fillna('SIN_DATO').value_counts()

SIN_DATO     7003
MASCULINO    4521
FEMENINO     3780
Name: GENERO, dtype: int64

In [85]:
col = 'TIPO_DE_INCIDENTE'
raw_data_ene[col] = raw_data_ene[col].apply(lambda x: x.strip())
raw_data_ene[col].value_counts(dropna=False)

Heridos                                  6849
Inconsciente/Paro Cardiorrespiratorio    1520
Dificultad Respiratoria                  1359
Enfermo                                  1045
Convulsiones                              994
Trastorno mental                          661
Dolor torácico                            634
Intento de suicidio                       503
Accidente cerebro vascular                374
Patología Gineco - obstétrica             331
Síntomas gastrointestinales               331
Caída                                     320
Intoxicaciones                            138
Ideas de suicidio                          99
SIN_DATO                                   80
Violencia Sexual                           34
Quemaduras                                 10
Sangrado Vaginal                            8
Maltrato                                    7
Electrocución / Rescate                     7
Name: TIPO_DE_INCIDENTE, dtype: int64

In [86]:
col = 'UNIDAD'
raw_data_ene[col].value_counts(dropna=False) 
raw_data_ene[col].fillna('SIN_DATO').value_counts()

Años        8259
SIN_DATO    7003
Meses         34
Horas          5
Dias           3
Name: UNIDAD, dtype: int64

In [87]:
col = 'RED'
raw_data_ene[col] = raw_data_ene[col].apply(lambda x: x.strip())
raw_data_ene[col].value_counts(dropna=False)

Norte      6155
Sur        5291
Privada    3858
Name: RED, dtype: int64

In [88]:
col = 'PRIORIDAD'
raw_data_ene[col].value_counts(dropna=False) 
raw_data_ene[col].fillna('SIN_DATO, SIN_D').value_counts()

2    10084
1     3017
3     2048
4      155
Name: PRIORIDAD, dtype: int64

In [89]:
print('Number of rows before cleaning:', raw_data_ene.shape[0] )
raw_data_ene.drop_duplicates(inplace=True)
print('Number of rows after cleaning:', raw_data_ene.shape[0] )

Number of rows before cleaning: 15304
Number of rows after cleaning: 15240

In [90]:
data_total = pd.concat([raw_data_jul, raw_data_ago, raw_data_sep, raw_data_oct, raw_data_nov, raw_data_dic, raw_data_ene], names=['FECHA_INCIDENTE', 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL', 'FECHA_DE_DESPACHO',  'CODIGO_DE_LOCALIDAD', 'LOCALIDAD', 'EDAD', 'UNIDAD', 'GENERO', 'RED', 'TIPO_DE_INCIDENTE', 'PRIORIDAD', 'MES', 'CLASIFICACION_FINAL'])
display(data_total)

,FECHA_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_DE_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_DE_INCIDENTE,PRIORIDAD,...,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,2019-07-01 00:05:08,2019-07-01 00:11:02,8,Kennedy,39,Años,FEMENINO,Norte,Dificultad Respiratoria,ALTA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-07-01 00:06:57,2019-07-01 00:12:56,19,Ciudad Bolivar,69,Años,MASCULINO,Sur,Inconsciente/Paro Cardiorrespiratorio,ALTA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-07-01 00:09:26,2019-07-01 00:10:26,6,Tunjuelito,25,Años,MASCULINO,Sur,Enfermo,MEDIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-07-01 00:14:42,2019-07-01 00:15:47,8,Kennedy,65,Años,MASCULINO,Sur,Lesiones personales,MEDIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-07-01 00:17:13,2019-07-01 00:31:13,10,Engativa,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Enfermo,MEDIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15299,NaN,NaT,18,Rafael Uribe Uribe,89,Años,FEMENINO,Sur,Síntomas gastrointestinales,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15300,NaN,NaT,1,Usaquén,0,SIN_DATO,SIN_DATO,Norte,Intento de suicidio,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15301,NaN,NaT,19,Ciudad Bolívar,46,Años,MASCULINO,Sur,Trastorno mental,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15302,NaN,NaT,19,Ciudad Bolívar,0,SIN_DATO,SIN_DATO,Sur,Trastorno mental,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15303,NaN,NaT,8,Kennedy,16,Años,MASCULINO,Sur,Trastorno mental,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
print('Number of rows before cleaning:', data_total.shape[0] )
data_total.drop_duplicates(inplace=True)
print('Number of rows after cleaning:', data_total.shape[0] )

Number of rows before cleaning: 112097
Number of rows after cleaning: 110763

In [92]:
profile = ProfileReport(df=data_total)
profile.to_file(output_file=project_dir + '/reports/'+'profile_data_total.html')

Summarize dataset:   0%|          | 0/55 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

FileNotFoundError: [Errno 2] No such file or directory: '/home/jupyter/ESEIT_BigData/reports/profile_data_total.html'

In [ ]:
# saving in a local directory
data_total.to_csv(project_dir + '/processed/' +'tablaPrimerLimpieza.csv', encoding='latin1', sep=';', index=False)