# Datos abiertos agosto 2019

In [1]:
import os
import sys
import logging
import pandas as pd

from pandas_profiling import ProfileReport


project_dir = os.path.dirname(os.path.abspath('.')) # get the path of the project, if doesn't work use os.getcwd() instead and use rfind to find the project dir
sys.path.append(os.path.join(project_dir, 'src', 'data'))

from data_manipulator import get_input_data

bucket = 'fredo7'
directory = 'BigData'

## Get raw data

In [2]:
raw_data = get_input_data(
    bucket=bucket,
    initial_directory=directory,
    filename = 'datos-abiertos-agosto-2019.csv')
print(raw_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18141 entries, 0 to 18140
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   18141 non-null  int64
 1   FECHA_INICIO_DESPLAZAMIENTO-MOVIL  18141 non-null  object
 2   CODIGO DE LOCALIDAD                18141 non-null  int64
 3   LOCALIDAD                          18141 non-null  object
 4   EDAD                               18141 non-null  object
 5   UNIDAD                             18141 non-null  object
 6   GENERO                             18141 non-null  object
 7   RED                                18141 non-null  object
 8   TIPO DE INCIDIDENT                 18141 non-null  object
 9   PRIORIDAD                          18141 non-null  object
 10  MES                                18141 non-null  object
 11  CLASIFICACION FINAL                18138 non-null  object
dtypes: int64(2), object(10)
memory usage: 1.7+ MB
None

In [4]:
raw_data.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO-MOVIL,CODIGO DE LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO DE INCIDIDENT,PRIORIDAD,MES,CLASIFICACION FINAL
0,809224194,1/08/2019 0:28,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA,AGOSTO,Cancelado
1,809224194,1/08/2019 0:28,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA,AGOSTO,Cancelado
2,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado
3,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado
4,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado

VERIFIQUE EL NOMBRE DE LAS COLUMNAS PARA AJUSTARLO AL ESTANDAR

### Rename Columns

In [3]:
raw_data.rename(
    columns = {
        'FECHA_INICIO_DESPLAZAMIENTO-MOVIL' : 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL',
        'CODIGO DE LOCALIDAD'               : 'CODIGO_LOCALIDAD',
        'TIPO DE INCIDIDENT': 'TIPO_INCIDENTE',
        'CLASIFICACION FINAL' : 'CLASIFICACION_FINAL'
    },
    inplace=True
)
raw_data.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,MES,CLASIFICACION_FINAL
0,809224194,1/08/2019 0:28,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA,AGOSTO,Cancelado
1,809224194,1/08/2019 0:28,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA,AGOSTO,Cancelado
2,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado
3,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado
4,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado

### Check values per field
--------
1. CODIGO LOCALIDAD
2. LOCALIDAD
3. EDAD
4. UNIDAD
5. GENERO
6. RED
7. TIPO_INCIDENTE
8. PRIORIDAD
9. MES
10.CLASIFICACION _ FINAL

In [4]:
# Columna CODIGO LOCALIDAD
# Se validan hay datos nullos 
# Si hay datos nullos se reemplazan por SIN_DATO
# Retiramos todos los espacios en blanco que existan


raw_data['CODIGO_LOCALIDAD'].value_counts(dropna=False)

8     2717
10    1805
11    1678
7     1264
19    1220
16     977
4      906
1      894
18     892
9      878
2      707
3      682
5      637
12     608
13     599
6      595
14     593
15     369
17     119
20       1
Name: CODIGO_LOCALIDAD, dtype: int64

In [5]:
# Columna CODIGO LOCALIDAD
# Se validan hay datos nullos 
# Si hay datos nullos se reemplazan por SIN_DATO
# Retiramos todos los espacios en blanco que existan
raw_data['LOCALIDAD'].value_counts(dropna=False)

Kennedy                2717
 Engativa              1805
 Suba                  1678
 Bosa                  1264
Ciudad Bolivar         1220
Puente Aranda           977
 San Cristobal          906
Usaquen                 894
 Rafael Uribe Uribe     892
Fontibon                878
Chapinero               707
Santa Fe                682
 Usme                   637
 Barrios Unidos         608
 Teusaquillo            599
Tunjuelito              595
Los Martires            593
 Antonio Nariño         369
 La Candelaria          119
 Sumapaz                  1
Name: LOCALIDAD, dtype: int64

In [32]:
# Retiro espacios en blanco
raw_data['LOCALIDAD'].apply(
    lambda x: x.strip()        
).value_counts()

Kennedy               2717
Engativa              1805
Suba                  1678
Bosa                  1264
Ciudad Bolivar        1220
Puente Aranda          977
San Cristobal          906
Usaquen                894
Rafael Uribe Uribe     892
Fontibon               878
Chapinero              707
Santa Fe               682
Usme                   637
Barrios Unidos         608
Teusaquillo            599
Tunjuelito             595
Los Martires           593
Antonio Nariño         369
La Candelaria          119
Sumapaz                  1
Name: LOCALIDAD, dtype: int64

In [6]:
# Columna "EDAD"
# Se validan hay datos nullos 
# Si hay datos nullos se reemplazan por SIN_DATO
# Retiramos todos los espacios en blanco que existan
raw_data['EDAD'].value_counts(dropna=False)

SIN_DATO    8637
22           323
23           280
25           272
24           271
            ...
99            19
6             18
4             17
97            15
98            12
Name: EDAD, Length: 100, dtype: int64

In [7]:
# Columna "UNIDAD"
# Se validan hay datos nullos 
# Si hay datos nullos se reemplazan por SIN_DATO
# Retiramos todos los espacios en blanco que existan

raw_data['UNIDAD'].value_counts(dropna=False)

Años        9447
SIN_DATO    8637
Meses         42
Dias           9
Horas          6
Name: UNIDAD, dtype: int64

In [8]:
raw_data['UNIDAD'].apply(
    lambda x: x.strip()        
).value_counts()

Años        9447
SIN_DATO    8637
Meses         42
Dias           9
Horas          6
Name: UNIDAD, dtype: int64

In [9]:
# Columna "GENERO"
# Se validan hay datos nullos 
# Si hay datos nullos se reemplazan por SIN_DATO
# Retiramos todos los espacios en blanco que existan

raw_data['GENERO'].value_counts(dropna=False)

SIN_DATO     8617
MASCULINO    5143
FEMENINO     4381
Name: GENERO, dtype: int64

In [10]:
raw_data['GENERO'].apply(
    lambda x: x.strip()        
).value_counts()

SIN_DATO     8617
MASCULINO    5143
FEMENINO     4381
Name: GENERO, dtype: int64

In [11]:
# Columna "RED"
# Se validan hay datos nullos 
# Si hay datos nullos se reemplazan por SIN_DATO
# Retiramos todos los espacios en blanco que existan


raw_data['RED'].value_counts(dropna=False)

Norte      7925
Sur        6507
Privada    3709
Name: RED, dtype: int64

In [12]:
raw_data['RED'].apply(
    lambda x: x.strip()        
).value_counts()

Norte      7925
Sur        6507
Privada    3709
Name: RED, dtype: int64

In [13]:
# Columna "TIPO_INCIDENTE"
# Se validan hay datos nullos 
# Si hay datos nullos se reemplazan por SIN_DATO
# Retiramos todos los espacios en blanco que existan


raw_data['TIPO_INCIDENTE'].value_counts(dropna=False)

Accidente de tránsito con heridos/Muertos    6827
Inconsciente/Paro Cardiorrespiratorio        1875
Dificultad Respiratoria                      1504
Enfermo                                      1233
Convulsiones                                 1135
Heridos                                       847
Lesiones personales                           718
Trastorno mental                              670
Dolor torácico                                628
Intento de suicidio                           555
Síntomas gastrointestinales                   418
Accidente cerebro vascular                    401
Patología Gineco - obstétrica                 353
Caída                                         295
Intoxicaciones                                181
Ideas de suicidio                             102
SIN_DATO                                       58
Incendio estructural                           51
Muerte Natural                                 35
Violencia Sexual                               33
Riña                                           24
Solicitud Apoyo / Desacato                     21
Accidente Tránsito Simple                      20
Sangrado Vaginal                               15
Quemaduras                                     15
MATPEL (Materiales peligrosos)                  9
Fuga de Gas Natural o Propano                   9
Elemento caído y/o en peligro de caer.          9
Electrocución / Rescate                         9
Abrir domicilio                                 8
Incidente rescate acuático                      7
Manifestación / Motín                           7
Embriaguez                                      6
Maltrato                                        6
Animal Peligroso                                5
Rescates                                        5
Incendio con MATPEL                             4
Menor o persona Abandonada                      4
Explosión                                       4
Extraviados / Desaparecidos                     3
Deslizamiento                                   3
Disparos                                        3
Persona Pidiendo Auxilio                        3
Hurto Efectuado                                 3
Incendio Vehicular                              3
Persona tendida en la vía                       3
Habitante de la Calle                           3
Muerto                                          3
Abejas                                          3
Amenaza de Ruina                                2
Atraco / Hurto en Proces                        2
Incendio                                        1
Name: TIPO_INCIDENTE, dtype: int64

In [14]:
raw_data['TIPO_INCIDENTE'].apply(
    lambda x: x.strip()        
).value_counts()

Accidente de tránsito con heridos/Muertos    6827
Inconsciente/Paro Cardiorrespiratorio        1875
Dificultad Respiratoria                      1504
Enfermo                                      1233
Convulsiones                                 1135
Heridos                                       847
Lesiones personales                           718
Trastorno mental                              670
Dolor torácico                                628
Intento de suicidio                           555
Síntomas gastrointestinales                   418
Accidente cerebro vascular                    401
Patología Gineco - obstétrica                 353
Caída                                         295
Intoxicaciones                                181
Ideas de suicidio                             102
SIN_DATO                                       58
Incendio estructural                           51
Muerte Natural                                 35
Violencia Sexual                               33
Riña                                           24
Solicitud Apoyo / Desacato                     21
Accidente Tránsito Simple                      20
Sangrado Vaginal                               15
Quemaduras                                     15
MATPEL (Materiales peligrosos)                  9
Fuga de Gas Natural o Propano                   9
Elemento caído y/o en peligro de caer.          9
Electrocución / Rescate                         9
Abrir domicilio                                 8
Incidente rescate acuático                      7
Manifestación / Motín                           7
Embriaguez                                      6
Maltrato                                        6
Animal Peligroso                                5
Rescates                                        5
Incendio con MATPEL                             4
Menor o persona Abandonada                      4
Explosión                                       4
Extraviados / Desaparecidos                     3
Deslizamiento                                   3
Disparos                                        3
Persona Pidiendo Auxilio                        3
Hurto Efectuado                                 3
Incendio Vehicular                              3
Persona tendida en la vía                       3
Habitante de la Calle                           3
Muerto                                          3
Abejas                                          3
Amenaza de Ruina                                2
Atraco / Hurto en Proces                        2
Incendio                                        1
Name: TIPO_INCIDENTE, dtype: int64

In [15]:
# Columna "PRIORIDAD"
# Se validan hay datos nullos 
# Si hay datos nullos se reemplazan por SIN_DATO
# Retiramos todos los espacios en blanco que existan

raw_data['PRIORIDAD'].value_counts(dropna=False)

ALTA        15314
MEDIA        2539
BAJA          246
SIN_DATO       42
Name: PRIORIDAD, dtype: int64

In [16]:
raw_data['PRIORIDAD'].apply(
    lambda x: x.strip()        
).value_counts()

ALTA        15314
MEDIA        2539
BAJA          246
SIN_DATO       42
Name: PRIORIDAD, dtype: int64

In [17]:
# Columna "MES
# Se validan hay datos nullos 
# Si hay datos nullos se reemplazan por SIN_DATO
# Retiramos todos los espacios en blanco que existan

raw_data['MES'].value_counts(dropna=False)

AGOSTO    18141
Name: MES, dtype: int64

In [18]:
raw_data['MES'].apply(
    lambda x: x.strip()        
).value_counts()

AGOSTO    18141
Name: MES, dtype: int64

In [21]:
# Columna "CLASIFICACION_FINAL"
# Se validan hay datos nullos 
# Si hay datos nullos se reemplazan por SIN_DATO
# Retiramos todos los espacios en blanco que existan

raw_data['CLASIFICACION_FINAL'].value_counts(dropna=False)

Traslado                       7311
Cancelado                      4935
Trasladado por Otro Recurso    1813
Falsa Alarma                   1738
Desistimiento                  1449
No Amerita Traslado             452
No Ubica                        235
Fallecido                       205
NaN                               3
Name: CLASIFICACION_FINAL, dtype: int64

In [23]:
col = 'CLASIFICACION_FINAL'
raw_data[col].value_counts(dropna=False) # Contamos los NA

Traslado                       7311
Cancelado                      4935
Trasladado por Otro Recurso    1813
Falsa Alarma                   1738
Desistimiento                  1449
No Amerita Traslado             452
No Ubica                        235
Fallecido                       205
NaN                               3
Name: CLASIFICACION_FINAL, dtype: int64

In [24]:
# Reemplazamos el nombre nan por SIN_Dato. No utilizamos la función fillna,
# ya que no lo reconocía como un null.
raw_data[col] = raw_data[col].replace('nan', 'SIN_DATO')
raw_data['CLASIFICACION_FINAL'].value_counts(dropna=False)

Traslado                       7311
Cancelado                      4935
Trasladado por Otro Recurso    1813
Falsa Alarma                   1738
Desistimiento                  1449
No Amerita Traslado             452
No Ubica                        235
Fallecido                       205
NaN                               3
Name: CLASIFICACION_FINAL, dtype: int64

In [25]:
raw_data.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,MES,CLASIFICACION_FINAL
0,809224194,1/08/2019 0:28,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA,AGOSTO,Cancelado
1,809224194,1/08/2019 0:28,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA,AGOSTO,Cancelado
2,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado
3,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado
4,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado

In [26]:
#la fecha de incidente no existe, por lo que se incluye una nueva columna
# y se deja la misma de '0FECHA_INICIO_DESPLAZAMIENTO_MOVIL'


raw_data = raw_data.assign(FECHA_INCIDENTE= raw_data['FECHA_INICIO_DESPLAZAMIENTO_MOVIL'])
raw_data.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,MES,CLASIFICACION_FINAL,FECHA_INCIDENTE
0,809224194,1/08/2019 0:28,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA,AGOSTO,Cancelado,1/08/2019 0:28
1,809224194,1/08/2019 0:28,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA,AGOSTO,Cancelado,1/08/2019 0:28
2,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado,1/08/2019 0:15
3,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado,1/08/2019 0:15
4,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado,1/08/2019 0:15

In [27]:
# Reordenamos las columnas en el orden establecido para todos
#los archivos

raw_data = raw_data.reindex(columns=['NUMERO_INCIDENTE',
                                     'FECHA_INCIDENTE',
'FECHA_INICIO_DESPLAZAMIENTO_MOVIL',
'CODIGO_LOCALIDAD',
'LOCALIDAD',
'EDAD',
'UNIDAD',
'GENERO',
'RED',
'TIPO_INCIDENTE',
'PRIORIDAD',
'MES',
'CLASIFICACION_FINAL',

])
raw_data.head()

,NUMERO_INCIDENTE,FECHA_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,MES,CLASIFICACION_FINAL
0,809224194,1/08/2019 0:28,1/08/2019 0:28,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA,AGOSTO,Cancelado
1,809224194,1/08/2019 0:28,1/08/2019 0:28,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA,AGOSTO,Cancelado
2,809240194,1/08/2019 0:15,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado
3,809240194,1/08/2019 0:15,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado
4,809240194,1/08/2019 0:15,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado

In [28]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18141 entries, 0 to 18140
Data columns (total 13 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   18141 non-null  int64
 1   FECHA_INCIDENTE                    18141 non-null  object
 2   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  18141 non-null  object
 3   CODIGO_LOCALIDAD                   18141 non-null  int64
 4   LOCALIDAD                          18141 non-null  object
 5   EDAD                               18141 non-null  object
 6   UNIDAD                             18141 non-null  object
 7   GENERO                             18141 non-null  object
 8   RED                                18141 non-null  object
 9   TIPO_INCIDENTE                     18141 non-null  object
 10  PRIORIDAD                          18141 non-null  object
 11  MES                                18141 non-null  object
 12  CLASIFICACION_FINAL                18138 non-null  object
dtypes: int64(2), object(11)
memory usage: 1.8+ MB

# Profile of the Data

In [29]:
profile = ProfileReport(df=raw_data)
profile.to_file(output_file=project_dir + '/reports/'+'profile_raw_data_agosto_2019.html')

Summarize dataset:   0%|          | 0/26 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Form the initial report of the file we see that are duplicates rows in the table, we need to subtract them

### Remove duplicates

In [64]:
print('Number of rows before cleaning:', raw_data.shape[0] )
raw_data.drop_duplicates(inplace=True)
print('Number of rows after cleaning:', raw_data.shape[0] )

Number of rows before cleaning: 18141
Number of rows after cleaning: 16807

### Save the final table
use to_csv to save the table

In [65]:
# saving in a local directory
raw_data.to_csv(project_dir + '/data/process/' +'prueba_llamadas_123_agosto_2019.csv', encoding='latin1', sep=';', index=False)