In [1]:
#FABIO GARCIA ALVAREZ - DESARROLLADOR

import os
import sys
import logging
import pandas as pd
import numpy as np

from pandas_profiling import ProfileReport


project_dir = os.path.dirname(os.path.abspath('.')) # get the path of the project, if doesn't work use os.getcwd() instead and use rfind to find the project dir
sys.path.append(os.path.join(project_dir, 'src', 'data'))

from data_manipulator import get_input_data

bucket = 'esp_big_data'
directory = 'BigData'

In [2]:
#Defino funciones a utilizar
def limpiar_vacias(data,ini=10,fin=37):
 listado_columnas_eliminar=['Unnamed: {}'.format(i) for i in range(ini,fin)] #Creamos la listado automatica con for
 data_procesada = data.drop(listado_columnas_eliminar, axis='columns')
 return data_procesada

def reemplazar_guion(data):
    data.rename(
    columns = {
        'FECHA_INICIO_DESPLAZAMIENTO-MOVIL' : 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL',
        'FECHA_DESPACHO_518': 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL',
        'CODIGO DE LOCALIDAD'               : 'CODIGO_LOCALIDAD',
        'TIPO DE INCIDIDENT'                : 'TIPO_INCIDENTE',
        'CLASIFICACION FINAL'               : 'CLASIFICACION_FINAL'
    },inplace=True)
    return(data)

def quitar_espacios_finales(data,cols):
    for col in cols:
        data[col] = data[col].apply(lambda x: x.strip())
    #Fin for
    return data

def quitar_na(data,cols):
    for col in cols:
        data[col] = data[col].fillna('SIN_DATO', inplace=True)
    #data[col].fillna('SIN_DATO', inplace=True)
    return data

def quitar_tildes(s):
    replacements = (
        ("á", "a"),
        ("é", "e"),
        ("í", "i"),
        ("ó", "o"),
        ("ú", "u"),
    )
    for a, b in replacements:
        s = s.replace(a, b).replace(a.upper(), b.upper())
    return s

In [15]:
#Datas
data_ls = ['datos-abiertos-enero_2020.csv',
           'datos-abiertos-julio-2019.csv',
           'datos-abiertos-agosto-2019.csv',
           'datos-abiertos-septiembre-2019.csv',
           'datos-abiertos-octubre-2019.csv',
           'datos-abiertos-noviembre_2019.csv',
           'datos_abiertos_cons_diciembre_2019.csv']

In [3]:
#Enero
filename = 'datos-abiertos-enero_2020.csv'
enero = get_input_data(bucket=bucket, filename = filename) #Tomamos
enero = limpiar_vacias(enero) # Limpiar vacias
enero = reemplazar_guion(enero) #Reemplazar guiones

enero.info()
columnas_padres = np.array(['NUMERO_INCIDENTE', 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL',
       'CODIGO_LOCALIDAD', 'LOCALIDAD', 'EDAD', 'UNIDAD', 'GENERO', 'RED',
       'TIPO_INCIDENTE', 'PRIORIDAD'])
columnas = np.array(['NUMERO_INCIDENTE', 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL','LOCALIDAD','UNIDAD', 'GENERO', 'RED',
       'TIPO_INCIDENTE',])
enero = quitar_espacios_finales(enero,columnas)

for col in columnas:
       enero[col] = enero[col].apply(lambda x: quitar_tildes(x)) #Quitamos las tildes dee los datos

#QUITAR DUPLICADOS
print('Number of rows before cleaning:', enero.shape[0] )
enero.drop_duplicates(inplace=True)
print('Number of rows after cleaning:', enero.shape[0] )

enero.info()
#enero.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15304 entries, 0 to 15303
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   15304 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  15304 non-null  object
 2   CODIGO_LOCALIDAD                   15304 non-null  int64
 3   LOCALIDAD                          15304 non-null  object
 4   EDAD                               15304 non-null  int64
 5   UNIDAD                             15304 non-null  object
 6   GENERO                             15304 non-null  object
 7   RED                                15304 non-null  object
 8   TIPO_INCIDENTE                     15304 non-null  object
 9   PRIORIDAD                          15304 non-null  int64
dtypes: int64(3), object(7)
memory usage: 1.2+ MB
Number of rows before cleaning: 15304
Number of rows after cleaning: 15240
<class 'pandas.core.frame.DataFrame'>
Int64Index: 15240 entries, 0 to 15303
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   15240 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  15240 non-null  object
 2   CODIGO_LOCALIDAD                   15240 non-null  int64
 3   LOCALIDAD                          15240 non-null  object
 4   EDAD                               15240 non-null  int64
 5   UNIDAD                             15240 non-null  object
 6   GENERO                             15240 non-null  object
 7   RED                                15240 non-null  object
 8   TIPO_INCIDENTE                     15240 non-null  object
 9   PRIORIDAD                          15240 non-null  int64
dtypes: int64(3), object(7)
memory usage: 1.3+ MB

In [4]:
#julio
filename = 'datos-abiertos-julio-2019.csv'
julio = get_input_data(bucket=bucket, filename = filename) #Tomamos
#julio = limpiar_vacias(julio) # Limpiar vacias
julio = reemplazar_guion(julio) #Reemplazar guiones

julio.info()
columnas_padres = np.array(['FECHA_INCIDENTE', 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL',
       'CODIGO_LOCALIDAD', 'LOCALIDAD', 'EDAD', 'UNIDAD', 'GENERO', 'RED',
       'TIPO_INCIDENTE', 'PRIORIDAD','MES','CLASIFICACION_FINAL'])
columnas = np.array(['FECHA_INCIDENTE', 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL','LOCALIDAD','UNIDAD', 'GENERO', 'RED',
       'TIPO_INCIDENTE', 'PRIORIDAD'])
julio = quitar_espacios_finales(julio,columnas)

for col in columnas:
       julio[col] = julio[col].apply(lambda x: quitar_tildes(x)) #Quitamos las tildes dee los datos

#QUITAR DUPLICADOS
print('Number of rows before cleaning:', julio.shape[0] )
julio.drop_duplicates(inplace=True)
print('Number of rows after cleaning:', julio.shape[0] )
julio.info()
#julio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14560 entries, 0 to 14559
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   FECHA_INCIDENTE                    14560 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  14560 non-null  object
 2   CODIGO_LOCALIDAD                   14560 non-null  int64
 3   LOCALIDAD                          14560 non-null  object
 4   EDAD                               14560 non-null  object
 5   UNIDAD                             14560 non-null  object
 6   GENERO                             14560 non-null  object
 7   RED                                14560 non-null  object
 8   TIPO_INCIDENTE                     14560 non-null  object
 9   PRIORIDAD                          14560 non-null  object
 10  MES                                14560 non-null  object
 11  CLASIFICACION_FINAL                13035 non-null  object
dtypes: int64(1), object(11)
memory usage: 1.3+ MB
Number of rows before cleaning: 14560
Number of rows after cleaning: 13842
<class 'pandas.core.frame.DataFrame'>
Int64Index: 13842 entries, 0 to 14559
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   FECHA_INCIDENTE                    13842 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13842 non-null  object
 2   CODIGO_LOCALIDAD                   13842 non-null  int64
 3   LOCALIDAD                          13842 non-null  object
 4   EDAD                               13842 non-null  object
 5   UNIDAD                             13842 non-null  object
 6   GENERO                             13842 non-null  object
 7   RED                                13842 non-null  object
 8   TIPO_INCIDENTE                     13842 non-null  object
 9   PRIORIDAD                          13842 non-null  object
 10  MES                                13842 non-null  object
 11  CLASIFICACION_FINAL                12333 non-null  object
dtypes: int64(1), object(11)
memory usage: 1.4+ MB

In [5]:
#agosto
filename = 'datos-abiertos-agosto-2019.csv'
agosto = get_input_data(bucket=bucket, filename = filename) #Tomamos
#agosto = limpiar_vacias(agosto) # Limpiar vacias
agosto = reemplazar_guion(agosto) #Reemplazar guiones

agosto.info()
columnas_padres = np.array(['NUMERO_INCIDENTE', 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL',
       'CODIGO_LOCALIDAD', 'LOCALIDAD', 'EDAD', 'UNIDAD', 'GENERO', 'RED',
       'TIPO_INCIDENTE', 'PRIORIDAD'])
columnas = np.array(['FECHA_INICIO_DESPLAZAMIENTO_MOVIL','LOCALIDAD','UNIDAD', 'GENERO', 'RED',
       'TIPO_INCIDENTE',])
agosto = quitar_espacios_finales(agosto,columnas)

for col in columnas:
       agosto[col] = agosto[col].apply(lambda x: quitar_tildes(x)) #Quitamos las tildes dee los datos

#QUITAR DUPLICADOS
print('Number of rows before cleaning:', agosto.shape[0] )
agosto.drop_duplicates(inplace=True)
print('Number of rows after cleaning:', agosto.shape[0] )
agosto.info()
#agosto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18141 entries, 0 to 18140
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   18141 non-null  int64
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  18141 non-null  object
 2   CODIGO_LOCALIDAD                   18141 non-null  int64
 3   LOCALIDAD                          18141 non-null  object
 4   EDAD                               18141 non-null  object
 5   UNIDAD                             18141 non-null  object
 6   GENERO                             18141 non-null  object
 7   RED                                18141 non-null  object
 8   TIPO_INCIDENTE                     18141 non-null  object
 9   PRIORIDAD                          18141 non-null  object
 10  MES                                18141 non-null  object
 11  CLASIFICACION_FINAL                18138 non-null  object
dtypes: int64(2), object(10)
memory usage: 1.7+ MB
Number of rows before cleaning: 18141
Number of rows after cleaning: 16807
<class 'pandas.core.frame.DataFrame'>
Int64Index: 16807 entries, 0 to 18140
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   16807 non-null  int64
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  16807 non-null  object
 2   CODIGO_LOCALIDAD                   16807 non-null  int64
 3   LOCALIDAD                          16807 non-null  object
 4   EDAD                               16807 non-null  object
 5   UNIDAD                             16807 non-null  object
 6   GENERO                             16807 non-null  object
 7   RED                                16807 non-null  object
 8   TIPO_INCIDENTE                     16807 non-null  object
 9   PRIORIDAD                          16807 non-null  object
 10  MES                                16807 non-null  object
 11  CLASIFICACION_FINAL                16804 non-null  object
dtypes: int64(2), object(10)
memory usage: 1.7+ MB

In [6]:
#septiembre
filename = 'datos-abiertos-septiembre-2019.csv'
septiembre = get_input_data(bucket=bucket, filename = filename) #Tomamos
#septiembre = limpiar_vacias(septiembre) # Limpiar vacias
septiembre = reemplazar_guion(septiembre) #Reemplazar guiones

septiembre.info()
columnas_padres = np.array(['NUMERO_INCIDENTE', 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL',
       'CODIGO_LOCALIDAD', 'LOCALIDAD', 'EDAD', 'UNIDAD', 'GENERO', 'RED',
       'TIPO_INCIDENTE', 'PRIORIDAD'])
columnas = np.array(['FECHA_INICIO_DESPLAZAMIENTO_MOVIL','LOCALIDAD','GENERO', 'RED',
       'TIPO_INCIDENTE'])
septiembre = quitar_espacios_finales(septiembre,columnas)

for col in columnas:
       septiembre[col] = septiembre[col].apply(lambda x: quitar_tildes(x)) #Quitamos las tildes dee los datos

#QUITAR DUPLICADOS
print('Number of rows before cleaning:', septiembre.shape[0] )
septiembre.drop_duplicates(inplace=True)
print('Number of rows after cleaning:', septiembre.shape[0] )
septiembre.info()
#septiembre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17018 entries, 0 to 17017
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   17018 non-null  int64
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  17018 non-null  object
 2   CODIGO_LOCALIDAD                   17018 non-null  int64
 3   LOCALIDAD                          17018 non-null  object
 4   EDAD                               17018 non-null  int64
 5   UNIDAD                             9371 non-null   object
 6   GENERO                             17018 non-null  object
 7   RED                                17018 non-null  object
 8   TIPO_INCIDENTE                     17018 non-null  object
 9   PRIORIDAD                          17018 non-null  object
dtypes: int64(3), object(7)
memory usage: 1.3+ MB
Number of rows before cleaning: 17018
Number of rows after cleaning: 16267
<class 'pandas.core.frame.DataFrame'>
Int64Index: 16267 entries, 0 to 17017
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   16267 non-null  int64
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  16267 non-null  object
 2   CODIGO_LOCALIDAD                   16267 non-null  int64
 3   LOCALIDAD                          16267 non-null  object
 4   EDAD                               16267 non-null  int64
 5   UNIDAD                             9346 non-null   object
 6   GENERO                             16267 non-null  object
 7   RED                                16267 non-null  object
 8   TIPO_INCIDENTE                     16267 non-null  object
 9   PRIORIDAD                          16267 non-null  object
dtypes: int64(3), object(7)
memory usage: 1.4+ MB

In [7]:
#octubre
filename = 'datos-abiertos-octubre-2019.csv'
octubre = get_input_data(bucket=bucket, filename = filename) #Tomamos
#octubre = limpiar_vacias(octubre) # Limpiar vacias
octubre = reemplazar_guion(octubre) #Reemplazar guiones

octubre.info()
columnas_padres = np.array(['NUMERO_INCIDENTE', 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL',
       'CODIGO_LOCALIDAD', 'LOCALIDAD', 'EDAD', 'UNIDAD', 'GENERO', 'RED',
       'TIPO_INCIDENTE', 'PRIORIDAD'])
columnas = np.array(['FECHA_INICIO_DESPLAZAMIENTO_MOVIL','LOCALIDAD', 'RED',
       'TIPO_INCIDENTE'])
octubre = quitar_espacios_finales(octubre,columnas)

for col in columnas:
       octubre[col] = octubre[col].apply(lambda x: quitar_tildes(x)) #Quitamos las tildes dee los datos

#QUITAR DUPLICADOS
print('Number of rows before cleaning:', octubre.shape[0] )
octubre.drop_duplicates(inplace=True)
print('Number of rows after cleaning:', octubre.shape[0] )
octubre.info()
#octubre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18195 entries, 0 to 18194
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   18195 non-null  int64
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  18195 non-null  object
 2   CODIGO_LOCALIDAD                   18195 non-null  int64
 3   LOCALIDAD                          18195 non-null  object
 4   EDAD                               18195 non-null  object
 5   UNIDAD                             9503 non-null   object
 6   GENERO                             9543 non-null   object
 7   RED                                18195 non-null  object
 8   TIPO_INCIDENTE                     18195 non-null  object
 9   PRIORIDAD                          18195 non-null  object
dtypes: int64(2), object(8)
memory usage: 1.4+ MB
Number of rows before cleaning: 18195
Number of rows after cleaning: 16559
<class 'pandas.core.frame.DataFrame'>
Int64Index: 16559 entries, 0 to 18194
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   16559 non-null  int64
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  16559 non-null  object
 2   CODIGO_LOCALIDAD                   16559 non-null  int64
 3   LOCALIDAD                          16559 non-null  object
 4   EDAD                               16559 non-null  object
 5   UNIDAD                             9460 non-null   object
 6   GENERO                             9495 non-null   object
 7   RED                                16559 non-null  object
 8   TIPO_INCIDENTE                     16559 non-null  object
 9   PRIORIDAD                          16559 non-null  object
dtypes: int64(2), object(8)
memory usage: 1.4+ MB

In [8]:
#noviembre
filename = 'datos-abiertos-noviembre_2019.csv'
noviembre = get_input_data(bucket=bucket, filename = filename) #Tomamos
#noviembre = limpiar_vacias(noviembre) # Limpiar vacias
noviembre = reemplazar_guion(noviembre) #Reemplazar guiones

noviembre.info()
columnas_padres = np.array(['NUMERO_INCIDENTE', 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL',
       'CODIGO_LOCALIDAD', 'LOCALIDAD', 'EDAD', 'UNIDAD', 'GENERO', 'RED',
       'TIPO_INCIDENTE', 'PRIORIDAD'])
columnas = np.array(['FECHA_INICIO_DESPLAZAMIENTO_MOVIL','LOCALIDAD','UNIDAD', 'GENERO', 'RED',
       'TIPO_INCIDENTE',])
noviembre = quitar_espacios_finales(noviembre,columnas)

for col in columnas:
       noviembre[col] = noviembre[col].apply(lambda x: quitar_tildes(x)) #Quitamos las tildes dee los datos

#QUITAR DUPLICADOS
print('Number of rows before cleaning:', noviembre.shape[0] )
noviembre.drop_duplicates(inplace=True)
print('Number of rows after cleaning:', noviembre.shape[0] )
noviembre.info()
#noviembre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15926 entries, 0 to 15925
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   15926 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  15926 non-null  object
 2   CODIGO_LOCALIDAD                   15926 non-null  int64
 3   LOCALIDAD                          15926 non-null  object
 4   EDAD                               15926 non-null  int64
 5   UNIDAD                             15926 non-null  object
 6   GENERO                             15926 non-null  object
 7   RED                                15926 non-null  object
 8   TIPO_INCIDENTE                     15926 non-null  object
 9   PRIORIDAD                          15926 non-null  object
dtypes: int64(2), object(8)
memory usage: 1.2+ MB
Number of rows before cleaning: 15926
Number of rows after cleaning: 15886
<class 'pandas.core.frame.DataFrame'>
Int64Index: 15886 entries, 0 to 15925
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   15886 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  15886 non-null  object
 2   CODIGO_LOCALIDAD                   15886 non-null  int64
 3   LOCALIDAD                          15886 non-null  object
 4   EDAD                               15886 non-null  int64
 5   UNIDAD                             15886 non-null  object
 6   GENERO                             15886 non-null  object
 7   RED                                15886 non-null  object
 8   TIPO_INCIDENTE                     15886 non-null  object
 9   PRIORIDAD                          15886 non-null  object
dtypes: int64(2), object(8)
memory usage: 1.3+ MB

In [9]:
#diciembre
filename = 'datos_abiertos_cons_diciembre_2019.csv'
diciembre = get_input_data(bucket=bucket, filename = filename) #Tomamos
#diciembre = limpiar_vacias(diciembre) # Limpiar vacias
diciembre = reemplazar_guion(diciembre) #Reemplazar guiones

diciembre.info()
columnas_padres = np.array(['NUMERO_INCIDENTE', 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL',
       'CODIGO_LOCALIDAD', 'LOCALIDAD', 'EDAD', 'UNIDAD', 'GENERO', 'RED',
       'TIPO_INCIDENTE', 'PRIORIDAD'])
columnas = np.array(['FECHA_INICIO_DESPLAZAMIENTO_MOVIL','LOCALIDAD','UNIDAD', 'GENERO', 'RED',
       'TIPO_INCIDENTE',])
diciembre = quitar_espacios_finales(diciembre,columnas)

for col in columnas:
       diciembre[col] = diciembre[col].apply(lambda x: quitar_tildes(x)) #Quitamos las tildes dee los datos

#QUITAR DUPLICADOS
print('Number of rows before cleaning:', diciembre.shape[0] )
diciembre.drop_duplicates(inplace=True)
print('Number of rows after cleaning:', diciembre.shape[0] )
diciembre.info()
#diciembre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16243 entries, 0 to 16242
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   16243 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  16243 non-null  object
 2   CODIGO_LOCALIDAD                   16243 non-null  int64
 3   LOCALIDAD                          16243 non-null  object
 4   EDAD                               16243 non-null  int64
 5   UNIDAD                             16243 non-null  object
 6   GENERO                             16243 non-null  object
 7   RED                                16243 non-null  object
 8   TIPO_INCIDENTE                     16243 non-null  object
 9   PRIORIDAD                          16243 non-null  object
dtypes: int64(2), object(8)
memory usage: 1.2+ MB
Number of rows before cleaning: 16243
Number of rows after cleaning: 16162
<class 'pandas.core.frame.DataFrame'>
Int64Index: 16162 entries, 0 to 16242
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   16162 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  16162 non-null  object
 2   CODIGO_LOCALIDAD                   16162 non-null  int64
 3   LOCALIDAD                          16162 non-null  object
 4   EDAD                               16162 non-null  int64
 5   UNIDAD                             16162 non-null  object
 6   GENERO                             16162 non-null  object
 7   RED                                16162 non-null  object
 8   TIPO_INCIDENTE                     16162 non-null  object
 9   PRIORIDAD                          16162 non-null  object
dtypes: int64(2), object(8)
memory usage: 1.4+ MB

In [10]:
#Formatear fechas
meses = [enero,julio,agosto,septiembre,octubre,noviembre,diciembre]
n=0;
for m in meses:
  m['FECHA_INICIO_DESPLAZAMIENTO_MOVIL']=pd.to_datetime(m['FECHA_INICIO_DESPLAZAMIENTO_MOVIL'])
  #print(m.info())

julio['FECHA_INCIDENTE']=pd.to_datetime(julio['FECHA_INCIDENTE'])

#Imprimir info de los datas
for m in meses:
 print(m.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15240 entries, 0 to 15303
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   15240 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  15240 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   15240 non-null  int64
 3   LOCALIDAD                          15240 non-null  object
 4   EDAD                               15240 non-null  int64
 5   UNIDAD                             15240 non-null  object
 6   GENERO                             15240 non-null  object
 7   RED                                15240 non-null  object
 8   TIPO_INCIDENTE                     15240 non-null  object
 9   PRIORIDAD                          15240 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 1.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 13842 entries, 0 to 14559
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   FECHA_INCIDENTE                    13842 non-null  datetime64[ns]
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  13842 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   13842 non-null  int64
 3   LOCALIDAD                          13842 non-null  object
 4   EDAD                               13842 non-null  object
 5   UNIDAD                             13842 non-null  object
 6   GENERO                             13842 non-null  object
 7   RED                                13842 non-null  object
 8   TIPO_INCIDENTE                     13842 non-null  object
 9   PRIORIDAD                          13842 non-null  object
 10  MES                                13842 non-null  object
 11  CLASIFICACION_FINAL                12333 non-null  object
dtypes: datetime64[ns](2), int64(1), object(9)
memory usage: 1.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 16807 entries, 0 to 18140
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   16807 non-null  int64
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  16807 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   16807 non-null  int64
 3   LOCALIDAD                          16807 non-null  object
 4   EDAD                               16807 non-null  object
 5   UNIDAD                             16807 non-null  object
 6   GENERO                             16807 non-null  object
 7   RED                                16807 non-null  object
 8   TIPO_INCIDENTE                     16807 non-null  object
 9   PRIORIDAD                          16807 non-null  object
 10  MES                                16807 non-null  object
 11  CLASIFICACION_FINAL                16804 non-null  object
dtypes: datetime64[ns](1), int64(2), object(9)
memory usage: 1.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 16267 entries, 0 to 17017
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   16267 non-null  int64
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  16267 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   16267 non-null  int64
 3   LOCALIDAD                          16267 non-null  object
 4   EDAD                               16267 non-null  int64
 5   UNIDAD                             9346 non-null   object
 6   GENERO                             16267 non-null  object
 7   RED                                16267 non-null  object
 8   TIPO_INCIDENTE                     16267 non-null  object
 9   PRIORIDAD                          16267 non-null  object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 1.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 16559 entries, 0 to 18194
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   16559 non-null  int64
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  16559 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   16559 non-null  int64
 3   LOCALIDAD                          16559 non-null  object
 4   EDAD                               16559 non-null  object
 5   UNIDAD                             9460 non-null   object
 6   GENERO                             9495 non-null   object
 7   RED                                16559 non-null  object
 8   TIPO_INCIDENTE                     16559 non-null  object
 9   PRIORIDAD                          16559 non-null  object
dtypes: datetime64[ns](1), int64(2), object(7)
memory usage: 1.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 15886 entries, 0 to 15925
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   15886 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  15886 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   15886 non-null  int64
 3   LOCALIDAD                          15886 non-null  object
 4   EDAD                               15886 non-null  int64
 5   UNIDAD                             15886 non-null  object
 6   GENERO                             15886 non-null  object
 7   RED                                15886 non-null  object
 8   TIPO_INCIDENTE                     15886 non-null  object
 9   PRIORIDAD                          15886 non-null  object
dtypes: datetime64[ns](1), int64(2), object(7)
memory usage: 1.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 16162 entries, 0 to 16242
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   16162 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  16162 non-null  datetime64[ns]
 2   CODIGO_LOCALIDAD                   16162 non-null  int64
 3   LOCALIDAD                          16162 non-null  object
 4   EDAD                               16162 non-null  int64
 5   UNIDAD                             16162 non-null  object
 6   GENERO                             16162 non-null  object
 7   RED                                16162 non-null  object
 8   TIPO_INCIDENTE                     16162 non-null  object
 9   PRIORIDAD                          16162 non-null  object
dtypes: datetime64[ns](1), int64(2), object(7)
memory usage: 1.4+ MB
None

In [26]:
#Crear reporte por meses
meses = [enero,julio,agosto,septiembre,octubre,noviembre,diciembre]
n=0;
for m in meses:
    profile = ProfileReport(df=m)
    n=n+1;
    nombre_salida = '/reports/'+'profile_raw_data_mes_num {}_2019.html'.format(n)
    profile.to_file(output_file=project_dir +nombre_salida )

Summarize dataset:   0%|          | 0/24 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Summarize dataset:   0%|          | 0/26 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Summarize dataset:   0%|          | 0/26 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Summarize dataset:   0%|          | 0/24 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Summarize dataset:   0%|          | 0/24 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Summarize dataset:   0%|          | 0/24 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Summarize dataset:   0%|          | 0/24 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [28]:
#Guardar meses procesados
n=0;
for m in meses:
    profile = ProfileReport(df=m)
    n=n+1;
    nombre_salida = '/processed/'+'clean_llamadas_123_mes_num {}_2019.csv'.format(n)
    m.to_csv(project_dir + '/src' +nombre_salida, encoding='latin1', sep=';', index=False)

In [29]:
#Unificar meses
informe_final = pd.concat([enero,julio,agosto,septiembre,octubre,noviembre,diciembre])

In [30]:
#Guardar el final BD
nombre_salida = '/processed/'+'clean_llamadas_123_final_2019.csv'.format(n)
informe_final.to_csv(project_dir + '/src' +nombre_salida, encoding='latin1', sep=';', index=False)

In [31]:
#Crear informe fnal
nombre_salida = '/reports/'+'profile_raw_data_final_2019.html'.format(n)
profile = ProfileReport(df=informe_final)
profile.to_file(output_file=project_dir +nombre_salida )

Summarize dataset:   0%|          | 0/27 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]