In [1]:
import pandas as pd

# Agosto

## Get raw data

In [2]:
df_agosto = pd.read_csv(r"C:\Users\Envy\Dropbox\8. PERSONAL\DTEC\46. ESEIT\4. LENGUAJE Y HERRAMIENTAS\DATA\1. RAW\datos-abiertos-agosto-2019.csv",encoding = "latin1",delimiter = ";")

In [3]:
print(df_agosto.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18141 entries, 0 to 18140
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   18141 non-null  int64
 1   FECHA_INICIO_DESPLAZAMIENTO-MOVIL  18141 non-null  object
 2   CODIGO DE LOCALIDAD                18141 non-null  int64
 3   LOCALIDAD                          18141 non-null  object
 4   EDAD                               18141 non-null  object
 5   UNIDAD                             18141 non-null  object
 6   GENERO                             18141 non-null  object
 7   RED                                18141 non-null  object
 8   TIPO DE INCIDIDENT                 18141 non-null  object
 9   PRIORIDAD                          18141 non-null  object
 10  MES                                18141 non-null  object
 11  CLASIFICACION FINAL                18138 non-null  object
dtypes: int64(2), object(10)
memory usage: 1.7+ MB
None

## Rename columns

In [4]:
df_agosto.rename(
    columns = {"FECHA_INICIO_DESPLAZAMIENTO-MOVIL" :  "FECHA_INICIO_DESPLAZAMIENTO_MOVIL",
               "CODIGO DE LOCALIDAD"               :  "CODIGO_LOCALIDAD",
               "CLASIFICACION FINAL"               :   "CLASIFICACION_FINAL",
               "TIPO DE INCIDIDENT"                :   "TIPO_INCIDENTE"
        
    },
    inplace = True
)
df_agosto.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,MES,CLASIFICACION_FINAL
0,809224194,1/08/2019 0:28,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA,AGOSTO,Cancelado
1,809224194,1/08/2019 0:28,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA,AGOSTO,Cancelado
2,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado
3,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado
4,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado

## Check values per field

1. LOCALIDAD
2. GENERO

In [5]:
df_agosto["LOCALIDAD"].value_counts(dropna = False)

Kennedy                2717
 Engativa              1805
 Suba                  1678
 Bosa                  1264
Ciudad Bolivar         1220
Puente Aranda           977
 San Cristobal          906
Usaquen                 894
 Rafael Uribe Uribe     892
Fontibon                878
Chapinero               707
Santa Fe                682
 Usme                   637
 Barrios Unidos         608
 Teusaquillo            599
Tunjuelito              595
Los Martires            593
 Antonio Nari√±o         369
 La Candelaria          119
 Sumapaz                  1
Name: LOCALIDAD, dtype: int64

In [6]:
df_agosto["LOCALIDAD"].apply(
    lambda x:x.strip()
).value_counts()

Kennedy               2717
Engativa              1805
Suba                  1678
Bosa                  1264
Ciudad Bolivar        1220
Puente Aranda          977
San Cristobal          906
Usaquen                894
Rafael Uribe Uribe     892
Fontibon               878
Chapinero              707
Santa Fe               682
Usme                   637
Barrios Unidos         608
Teusaquillo            599
Tunjuelito             595
Los Martires           593
Antonio Nari√±o         369
La Candelaria          119
Sumapaz                  1
Name: LOCALIDAD, dtype: int64

In [7]:
df_agosto["LOCALIDAD"] = df_agosto["LOCALIDAD"].apply(lambda x:x.strip())

In [8]:
df_agosto.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,MES,CLASIFICACION_FINAL
0,809224194,1/08/2019 0:28,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA,AGOSTO,Cancelado
1,809224194,1/08/2019 0:28,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA,AGOSTO,Cancelado
2,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado
3,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado
4,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado

In [9]:
col = "GENERO"
df_agosto[col] = df_agosto[col].apply(lambda x:x.strip())
df_agosto[col].value_counts(dropna = False)

SIN_DATO     8617
MASCULINO    5143
FEMENINO     4381
Name: GENERO, dtype: int64

In [10]:
col = "TIPO_INCIDENTE"
df_agosto[col] = df_agosto[col].apply(lambda x:x.strip())
df_agosto[col].value_counts(dropna = False)

Accidente de tr√°nsito con heridos/Muertos    6827
Inconsciente/Paro Cardiorrespiratorio        1875
Dificultad Respiratoria                      1504
Enfermo                                      1233
Convulsiones                                 1135
Heridos                                       847
Lesiones personales                           718
Trastorno mental                              670
Dolor tor√°cico                                628
Intento de suicidio                           555
S√≠ntomas gastrointestinales                   418
Accidente cerebro vascular                    401
Patolog√≠a Gineco - obst√©trica                 353
Ca√≠da                                         295
Intoxicaciones                                181
Ideas de suicidio                             102
SIN_DATO                                       58
Incendio estructural                           51
Muerte Natural                                 35
Violencia Sexual                               33
Ri√±a                                           24
Solicitud Apoyo / Desacato                     21
Accidente Tr√°nsito Simple                      20
Sangrado Vaginal                               15
Quemaduras                                     15
MATPEL (Materiales peligrosos)                  9
Fuga de Gas Natural o Propano                   9
Elemento ca√≠do y/o en peligro de caer.          9
Electrocuci√≥n / Rescate                         9
Abrir domicilio                                 8
Incidente rescate acu√°tico                      7
Manifestaci√≥n / Mot√≠n                           7
Embriaguez                                      6
Maltrato                                        6
Animal Peligroso                                5
Rescates                                        5
Incendio con MATPEL                             4
Menor o persona Abandonada                      4
Explosi√≥n                                       4
Extraviados / Desaparecidos                     3
Deslizamiento                                   3
Disparos                                        3
Persona Pidiendo Auxilio                        3
Hurto Efectuado                                 3
Incendio Vehicular                              3
Persona tendida en la v√≠a                       3
Habitante de la Calle                           3
Muerto                                          3
Abejas                                          3
Amenaza de Ruina                                2
Atraco / Hurto en Proces                        2
Incendio                                        1
Name: TIPO_INCIDENTE, dtype: int64

In [11]:
df_agosto=df_agosto.fillna("SIN_DATO")

In [12]:
col = "CLASIFICACION_FINAL"
df_agosto[col] = df_agosto[col].apply(lambda x:x.strip())
df_agosto[col].value_counts(dropna = False)

Traslado                       7311
Cancelado                      4935
Trasladado por Otro Recurso    1813
Falsa Alarma                   1738
Desistimiento                  1449
No Amerita Traslado             452
No Ubica                        235
Fallecido                       205
SIN_DATO                          3
Name: CLASIFICACION_FINAL, dtype: int64

In [13]:
df_agosto[col].fillna("SIN_DATO").value_counts()

Traslado                       7311
Cancelado                      4935
Trasladado por Otro Recurso    1813
Falsa Alarma                   1738
Desistimiento                  1449
No Amerita Traslado             452
No Ubica                        235
Fallecido                       205
SIN_DATO                          3
Name: CLASIFICACION_FINAL, dtype: int64

In [14]:
df_agosto.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,MES,CLASIFICACION_FINAL
0,809224194,1/08/2019 0:28,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA,AGOSTO,Cancelado
1,809224194,1/08/2019 0:28,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA,AGOSTO,Cancelado
2,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado
3,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado
4,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado

## Remove duplicates

In [15]:
print("Number of rows before cleaning: ",df_agosto.shape[0])
df_agosto.drop_duplicates(inplace = True)
print("Number of rows after cleaning: ",df_agosto.shape[0])

Number of rows before cleaning:  18141
Number of rows after cleaning:  16807

In [16]:
#df-agosto.to_csv(project_dir + "/data/processed"+"",encoding = "latin1",sep = ";", index = False)

## Septiembre

## Get raw data

In [17]:
df_septiembre = pd.read_csv(r"C:\Users\Envy\Dropbox\8. PERSONAL\DTEC\46. ESEIT\4. LENGUAJE Y HERRAMIENTAS\DATA\1. RAW\datos-abiertos-septiembre-2019.csv",encoding = "latin1",delimiter = ";")

In [18]:
print(df_septiembre.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17018 entries, 0 to 17017
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   17018 non-null  int64
 1   FECHA_INICIO_DESPLAZAMIENTO-MOVIL  17018 non-null  object
 2   CODIGO DE LOCALIDAD                17018 non-null  int64
 3   LOCALIDAD                          17018 non-null  object
 4   EDAD                               17018 non-null  int64
 5   UNIDAD                             9371 non-null   object
 6   GENERO                             17018 non-null  object
 7   RED                                17018 non-null  object
 8   TIPO_INCIDENTE                     17018 non-null  object
 9   PRIORIDAD                          17018 non-null  object
dtypes: int64(3), object(7)
memory usage: 1.3+ MB
None

## Rename columns

In [19]:
df_septiembre.rename(
    columns = {"FECHA_INICIO_DESPLAZAMIENTO-MOVIL" :  "FECHA_INICIO_DESPLAZAMIENTO_MOVIL",
               "CODIGO DE LOCALIDAD"               :  "CODIGO_LOCALIDAD",
               "CLASIFICACION FINAL"               :   "CLASIFICACION_FINAL"
        
    },
    inplace = True
)
df_agosto.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,MES,CLASIFICACION_FINAL
0,809224194,1/08/2019 0:28,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA,AGOSTO,Cancelado
2,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado
5,809244194,1/08/2019 0:10,13,Teusaquillo,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente de tr√°nsito con heridos/Muertos,ALTA,AGOSTO,Cancelado
7,809253194,1/08/2019 0:12,8,Kennedy,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente de tr√°nsito con heridos/Muertos,ALTA,AGOSTO,Cancelado
9,809261194,1/08/2019 0:13,11,Suba,71,A√±os,FEMENINO,Norte,Dificultad Respiratoria,ALTA,AGOSTO,Traslado

## Check values per field

1. LOCALIDAD
2. GENERO

In [20]:
df_septiembre["LOCALIDAD"].value_counts(dropna = False)

 Kennedy               2398
 Suba                  1634
Engativa               1631
 Bosa                  1294
 Ciudad Bolivar        1138
 Puente Aranda          938
 Rafael Uribe Uribe     854
 Usaquen                829
 San Cristobal          826
Fontibon                809
 Chapinero              749
 Barrios Unidos         616
Tunjuelito              603
Los Martires            593
Usme                    572
 Santa Fe               549
 Teusaquillo            540
 Antonio Nari√±o         362
 La Candelaria           83
Name: LOCALIDAD, dtype: int64

In [21]:
df_septiembre["LOCALIDAD"].apply(
    lambda x:x.strip()
).value_counts()

Kennedy               2398
Suba                  1634
Engativa              1631
Bosa                  1294
Ciudad Bolivar        1138
Puente Aranda          938
Rafael Uribe Uribe     854
Usaquen                829
San Cristobal          826
Fontibon               809
Chapinero              749
Barrios Unidos         616
Tunjuelito             603
Los Martires           593
Usme                   572
Santa Fe               549
Teusaquillo            540
Antonio Nari√±o         362
La Candelaria           83
Name: LOCALIDAD, dtype: int64

In [22]:
df_septiembre["LOCALIDAD"] = df_agosto["LOCALIDAD"].apply(lambda x:x.strip())

In [23]:
df_septiembre.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD
0,538006196,2019-09-01 00:05:32,18,Usaquen,53,A√±os,MASCULINO,Sur,ACCIDENTE DE TR√ÅNSITO CON HERIDOS/MUERTOS,ALTA
1,538024196,2019-09-01 00:12:07,11,NaN,0,NaN,SIN_DATO,Norte,ACCIDENTE DE TR√ÅNSITO CON HERIDOS/MUERTOS,ALTA
2,538031196,2019-09-01 00:05:39,8,Suba,26,A√±os,MASCULINO,Norte,ACCIDENTE DE TR√ÅNSITO CON HERIDOS/MUERTOS,ALTA
3,538084196,2019-09-01 00:13:39,11,NaN,24,A√±os,MASCULINO,Norte,ACCIDENTE DE TR√ÅNSITO CON HERIDOS/MUERTOS,ALTA
4,538123196,2019-09-01 00:20:31,2,NaN,0,NaN,SIN_DATO,Norte,INCONSCIENTE/PARO CARDIORRESPIRATORIO,ALTA

In [24]:
col = "GENERO"
df_septiembre[col] = df_septiembre[col].apply(lambda x:x.strip())
df_septiembre[col].value_counts(dropna = False)

SIN_DATO     7632
MASCULINO    5082
FEMENINO     4304
Name: GENERO, dtype: int64

In [25]:
col = "TIPO_INCIDENTE"
df_septiembre[col] = df_septiembre[col].apply(lambda x:x.strip())
df_septiembre[col].value_counts(dropna = False)

ACCIDENTE DE TR√ÅNSITO CON HERIDOS/MUERTOS    6333
INCONSCIENTE/PARO CARDIORRESPIRATORIO        1720
DIFICULTAD RESPIRATORIA                      1386
ENFERMO                                      1137
CONVULSIONES                                 1039
HERIDOS                                       834
INTENTO DE SUICIDIO                           653
DOLOR TOR√ÅCICO                                629
TRASTORNO MENTAL                              621
LESIONES PERSONALES                           593
PATOLOG√çA GINECO - OBST√âTRICA                 421
S√çNTOMAS GASTROINTESTINALES                   360
ACCIDENTE CEREBRO VASCULAR                    352
CA√çDA                                         334
INTOXICACIONES                                156
IDEAS DE SUICIDIO                             113
VIOLENCIA SEXUAL                               48
INCENDIO ESTRUCTURAL                           40
SIN_DATO                                       32
SANGRADO VAGINAL                               25
ACCIDENTE TR√ÅNSITO SIMPLE                      23
RESCATES                                       20
MUERTE NATURAL                                 18
ELEMENTO CA√çDO Y/O EN PELIGRO DE CAER.         16
SOLICITUD APOYO / DESACATO                     15
RI√ëA                                           13
EXPLOSI√ìN                                      10
ABRIR DOMICILIO                                 8
QUEMADURAS                                      8
FUGA DE GAS NATURAL O PROPANO                   6
MALTRATO                                        6
ANIMAL PELIGROSO                                5
ELECTROCUCI√ìN / RESCATE                         5
PERSONA PIDIENDO AUXILIO                        5
MANIFESTACI√ìN / MOT√çN                           4
INCIDENTE RESCATE ACU√ÅTICO                      4
INCENDIO VEHICULAR                              3
EMBRIAGUEZ                                      3
ATRACO / HURTO EN PROCES                        3
INCENDIO                                        2
INUNDACI√ìN                                      2
PERSONA TENDIDA EN LA V√çA                       2
DA√ëOS EN SERVICIOS                              2
MUERTO                                          2
VERIFICAR SITUACI√ìN                             1
RESCATES MONTA√ëA                                1
HABITANTE DE LA CALLE                           1
PREVENCI√ìN                                      1
INCENDIO FORESTAL                               1
DESLIZAMIENTO                                   1
DELINCUENTE CAPTURADO POR CIVIL                 1
Name: TIPO_INCIDENTE, dtype: int64

In [26]:
df_septiembre=df_septiembre.fillna("SIN_DATO")

## Remove duplicates

In [27]:
print("Number of rows before cleaning: ",df_septiembre.shape[0])
df_agosto.drop_duplicates(inplace = True)
print("Number of rows after cleaning: ",df_septiembre.shape[0])

Number of rows before cleaning:  17018
Number of rows after cleaning:  17018

## Octubre

## Get raw data

In [28]:
df_octubre = pd.read_csv(r"C:\Users\Envy\Dropbox\8. PERSONAL\DTEC\46. ESEIT\4. LENGUAJE Y HERRAMIENTAS\DATA\1. RAW\datos-abiertos-octubre-2019.csv",encoding = "latin1",delimiter = ";")

In [29]:
print(df_octubre.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18195 entries, 0 to 18194
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NUMERO_INCIDENTE     18195 non-null  int64
 1   FECHA_DESPACHO_518   18195 non-null  object
 2   CODIGO DE LOCALIDAD  18195 non-null  int64
 3   LOCALIDAD            18195 non-null  object
 4   EDAD                 18195 non-null  object
 5   UNIDAD               9503 non-null   object
 6   GENERO               9543 non-null   object
 7   RED                  18195 non-null  object
 8   TIPO_INCIDENTE       18195 non-null  object
 9   PRIORIDAD            18195 non-null  object
dtypes: int64(2), object(8)
memory usage: 1.4+ MB
None

## Rename columns

In [30]:
df_octubre.rename(
    columns = {"FECHA_DESPACHO_518"                :  "FECHA_INICIO_DESPLAZAMIENTO_MOVIL",
               "CODIGO DE LOCALIDAD"               :  "CODIGO_LOCALIDAD",
               "CLASIFICACION FINAL"               :   "CLASIFICACION_FINAL"
        
    },
    inplace = True
)
df_octubre.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD
0,868419196,2019-10-01 00:06:29,9,Fontibon,SIN_DATO,NaN,NaN,Norte,Dolor tor√°cico,ALTA
1,868421196,2019-10-01 00:19:40,10,Engativa,67,A√±os,MASCULINO,Norte,Heridos,ALTA
2,868438196,2019-10-01 00:13:20,4,San Cristobal,SIN_DATO,NaN,NaN,Sur,Inconsciente/Paro Cardiorrespiratorio,ALTA
3,944374194,2019-10-01 05:30:23,16,Puente Aranda,SIN_DATO,NaN,NaN,Privada,Convulsiones,ALTA
4,868476196,2019-10-01 00:42:45,5,Usme,5,A√±os,FEMENINO,Sur,Dificultad Respiratoria,ALTA

## Check values per field

1. LOCALIDAD
2. GENERO

In [31]:
df_octubre["LOCALIDAD"].value_counts(dropna = False)

 Kennedy               2546
 Engativa              1791
 Suba                  1742
 Bosa                  1334
 Ciudad Bolivar        1141
 Puente Aranda          989
 Rafael Uribe Uribe     949
Usaquen                 888
 Fontibon               863
San Cristobal           844
 Chapinero              763
 Los Martires           697
 Santa Fe               689
 Barrios Unidos         680
 Usme                   609
 Tunjuelito             589
 Teusaquillo            536
 Antonio Nari√±o         419
 La Candelaria          120
 Sumapaz                  6
Name: LOCALIDAD, dtype: int64

In [32]:
df_octubre["LOCALIDAD"].apply(
    lambda x:x.strip()
).value_counts()

Kennedy               2546
Engativa              1791
Suba                  1742
Bosa                  1334
Ciudad Bolivar        1141
Puente Aranda          989
Rafael Uribe Uribe     949
Usaquen                888
Fontibon               863
San Cristobal          844
Chapinero              763
Los Martires           697
Santa Fe               689
Barrios Unidos         680
Usme                   609
Tunjuelito             589
Teusaquillo            536
Antonio Nari√±o         419
La Candelaria          120
Sumapaz                  6
Name: LOCALIDAD, dtype: int64

In [33]:
df_octubre["LOCALIDAD"] = df_octubre["LOCALIDAD"].apply(lambda x:x.strip())

In [34]:
df_octubre.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD
0,868419196,2019-10-01 00:06:29,9,Fontibon,SIN_DATO,NaN,NaN,Norte,Dolor tor√°cico,ALTA
1,868421196,2019-10-01 00:19:40,10,Engativa,67,A√±os,MASCULINO,Norte,Heridos,ALTA
2,868438196,2019-10-01 00:13:20,4,San Cristobal,SIN_DATO,NaN,NaN,Sur,Inconsciente/Paro Cardiorrespiratorio,ALTA
3,944374194,2019-10-01 05:30:23,16,Puente Aranda,SIN_DATO,NaN,NaN,Privada,Convulsiones,ALTA
4,868476196,2019-10-01 00:42:45,5,Usme,5,A√±os,FEMENINO,Sur,Dificultad Respiratoria,ALTA

In [35]:
df_octubre=df_octubre.fillna("SIN_DATO")

In [36]:
col = "GENERO"
df_octubre[col] = df_octubre[col].apply(lambda x:x.strip())
df_septiembre[col].value_counts(dropna = False)

SIN_DATO     7632
MASCULINO    5082
FEMENINO     4304
Name: GENERO, dtype: int64

In [37]:
col = "TIPO_INCIDENTE"
df_octubre[col] = df_octubre[col].apply(lambda x:x.strip())
df_octubre[col].value_counts(dropna = False)

Accidente de tr√°nsito con heridos/Muertos    6778
Inconsciente/Paro Cardiorrespiratorio        1768
Dificultad Respiratoria                      1497
Enfermo                                      1276
Convulsiones                                 1130
Heridos                                       828
Dolor tor√°cico                                735
Intento de suicidio                           668
Lesiones personales                           657
Trastorno mental                              654
Accidente cerebro vascular                    396
Patolog√≠a Gineco - obst√©trica                 378
S√≠ntomas gastrointestinales                   375
Ca√≠da                                         322
Intoxicaciones                                179
Ideas de suicidio                             111
SIN_DATO                                       60
Incendio estructural                           51
Muerte Natural                                 39
Violencia Sexual                               32
Quemaduras                                     32
Solicitud Apoyo / Desacato                     30
Electrocuci√≥n / Rescate                        20
Sangrado Vaginal                               20
Explosi√≥n                                      18
Rescates                                       16
Ri√±a                                           15
Accidente Tr√°nsito Simple                      10
Verificar Situaci√≥n                            10
Persona Pidiendo Auxilio                       10
Fuga de Gas Natural o Propano                   9
Incendio Vehicular                              8
Abrir domicilio                                 7
Incidente rescate acu√°tico                      7
MATPEL (Materiales peligrosos)                  6
Atraco / Hurto en Proces                        6
Muerto                                          5
Maltrato                                        5
Menor o persona Abandonada                      4
Disparos                                        3
Incendio con MATPEL                             3
Manifestaci√≥n / Mot√≠n                           3
Elemento ca√≠do y/o en peligro de caer.          3
Prevenci√≥n                                      2
PSICOLOGIA                                      2
Vehiculo Hurtado                                2
Abejas                                          1
Embriaguez                                      1
Incendio                                        1
Animal Peligroso                                1
Extraviados / Desaparecidos                     1
Name: TIPO_INCIDENTE, dtype: int64

## Remove duplicates

In [38]:
print("Number of rows before cleaning: ",df_octubre.shape[0])
df_octubre.drop_duplicates(inplace = True)
print("Number of rows after cleaning: ",df_octubre.shape[0])

Number of rows before cleaning:  18195
Number of rows after cleaning:  16559

## Noviembre

## Get raw data

In [39]:
df_noviembre = pd.read_csv(r"C:\Users\Envy\Dropbox\8. PERSONAL\DTEC\46. ESEIT\4. LENGUAJE Y HERRAMIENTAS\DATA\1. RAW\datos-abiertos-noviembre_2019.csv",encoding = "latin1",delimiter = ";")

In [40]:
print(df_noviembre.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15926 entries, 0 to 15925
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   15926 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO-MOVIL  15926 non-null  object
 2   CODIGO DE LOCALIDAD                15926 non-null  int64
 3   LOCALIDAD                          15926 non-null  object
 4   EDAD                               15926 non-null  int64
 5   UNIDAD                             15926 non-null  object
 6   GENERO                             15926 non-null  object
 7   RED                                15926 non-null  object
 8   TIPO_INCIDENTE                     15926 non-null  object
 9   PRIORIDAD                          15926 non-null  object
dtypes: int64(2), object(8)
memory usage: 1.2+ MB
None

In [41]:
df_noviembre.rename(
    columns = {"FECHA_INICIO_DESPLAZAMIENTO-MOVIL" :  "FECHA_INICIO_DESPLAZAMIENTO_MOVIL",
               "CODIGO DE LOCALIDAD"               :  "CODIGO_LOCALIDAD",
               "CLASIFICACION FINAL"               :   "CLASIFICACION_FINAL"
        
    },
    inplace = True
)
df_noviembre.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD
0,1129118194,2019-11-01 00:01:16,18,Rafael Uribe Uribe,0,SIN_DATO,SIN_DATO,Sur,Lesiones personales,ALTA
1,1129198194,2019-11-01 00:14:45,11,Suba,47,A√±os,MASCULINO,Norte,Accidente cerebro vascular,ALTA
2,1129241194,2019-11-01 00:16:15,2,Chapinero,33,A√±os,MASCULINO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA
3,1129253194,2019-11-01 00:11:37,7,Bosa,5,A√±os,FEMENINO,Sur,Dificultad Respiratoria,ALTA
4,1129258194,2019-11-01 00:16:28,11,Suba,43,A√±os,FEMENINO,Norte,Dolor tor√°cico,ALTA

## Check values per field

1. LOCALIDAD
2. GENERO

In [42]:
df_noviembre["LOCALIDAD"].value_counts(dropna = False)

 Kennedy              2192
Engativa              1571
Suba                  1424
 Bosa                 1189
 Ciudad Bolivar       1123
 Puente Aranda         854
Rafael Uribe Uribe     835
Usaquen                808
Fontibon               787
San Cristobal          758
 Santa Fe              613
 Chapinero             577
 Usme                  577
Los Martires           560
 Tunjuelito            551
 Teusaquillo           546
 Barrios Unidos        520
 Antonio Nari√±o        338
 La Candelaria         102
 Sumapaz                 1
Name: LOCALIDAD, dtype: int64

In [43]:
df_noviembre["LOCALIDAD"].apply(
    lambda x:x.strip()
).value_counts()

Kennedy               2192
Engativa              1571
Suba                  1424
Bosa                  1189
Ciudad Bolivar        1123
Puente Aranda          854
Rafael Uribe Uribe     835
Usaquen                808
Fontibon               787
San Cristobal          758
Santa Fe               613
Chapinero              577
Usme                   577
Los Martires           560
Tunjuelito             551
Teusaquillo            546
Barrios Unidos         520
Antonio Nari√±o         338
La Candelaria          102
Sumapaz                  1
Name: LOCALIDAD, dtype: int64

In [44]:
df_noviembre["LOCALIDAD"] = df_noviembre["LOCALIDAD"].apply(lambda x:x.strip())

In [45]:
df_noviembre.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD
0,1129118194,2019-11-01 00:01:16,18,Rafael Uribe Uribe,0,SIN_DATO,SIN_DATO,Sur,Lesiones personales,ALTA
1,1129198194,2019-11-01 00:14:45,11,Suba,47,A√±os,MASCULINO,Norte,Accidente cerebro vascular,ALTA
2,1129241194,2019-11-01 00:16:15,2,Chapinero,33,A√±os,MASCULINO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA
3,1129253194,2019-11-01 00:11:37,7,Bosa,5,A√±os,FEMENINO,Sur,Dificultad Respiratoria,ALTA
4,1129258194,2019-11-01 00:16:28,11,Suba,43,A√±os,FEMENINO,Norte,Dolor tor√°cico,ALTA

In [46]:
df_noviembre=df_noviembre.fillna("SIN_DATO")

In [47]:
col = "GENERO"
df_noviembre[col] = df_noviembre[col].apply(lambda x:x.strip())
df_noviembre[col].value_counts(dropna = False)

SIN_DATO     7011
MASCULINO    4856
FEMENINO     4059
Name: GENERO, dtype: int64

In [48]:
col = "TIPO_INCIDENTE"
df_noviembre[col] = df_noviembre[col].apply(lambda x:x.strip())
df_noviembre[col].value_counts(dropna = False)

Accidente de tr√°nsito con heridos/Muertos    5577
Inconsciente/Paro Cardiorrespiratorio        1587
Dificultad Respiratoria                      1400
Enfermo                                      1066
Convulsiones                                  979
Heridos                                       729
Lesiones personales                           675
Trastorno mental                              601
Intento de suicidio                           600
Dolor tor√°cico                                577
Patolog√≠a Gineco - obst√©trica                 373
S√≠ntomas gastrointestinales                   355
Ca√≠da                                         346
Accidente cerebro vascular                    318
Intoxicaciones                                137
SIN_DATO                                      122
Ideas de suicidio                              90
Solicitud Apoyo / Desacato                     83
Incendio estructural                           48
Muerte Natural                                 41
Violencia Sexual                               24
Quemaduras                                     21
Sangrado Vaginal                               18
Rescates                                       16
MATPEL (Materiales peligrosos)                 15
Incidente rescate acu√°tico                     13
Ri√±a                                           13
Electrocuci√≥n / Rescate                         9
Accidente Tr√°nsito Simple                       9
Incendio Vehicular                              8
Elemento ca√≠do y/o en peligro de caer.          7
Explosi√≥n                                       7
Persona Pidiendo Auxilio                        7
Fuga de Gas Natural o Propano                   6
Manifestaci√≥n / Mot√≠n                           6
Atraco / Hurto en Proces                        6
Abrir domicilio                                 6
Animal Peligroso                                5
Menor o persona Abandonada                      4
Persona tendida en la v√≠a                       4
Muerto                                          4
Disparos                                        4
Embriaguez                                      3
PSICOLOGIA                                      2
Maltrato                                        2
Verificar Situaci√≥n                             1
Delincuente capturado por civil                 1
Deslizamiento                                   1
Name: TIPO_INCIDENTE, dtype: int64

## Remove duplicates

In [49]:
print("Number of rows before cleaning: ",df_noviembre.shape[0])
df_noviembre.drop_duplicates(inplace = True)
print("Number of rows after cleaning: ",df_noviembre.shape[0])

Number of rows before cleaning:  15926
Number of rows after cleaning:  15886

In [50]:
df_consolidado = pd.concat([df_agosto,df_septiembre,df_octubre,df_noviembre],ignore_index = True)

In [51]:
df_consolidado.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,MES,CLASIFICACION_FINAL
0,809224194,1/08/2019 0:28,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA,AGOSTO,Cancelado
1,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado
2,809244194,1/08/2019 0:10,13,Teusaquillo,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente de tr√°nsito con heridos/Muertos,ALTA,AGOSTO,Cancelado
3,809253194,1/08/2019 0:12,8,Kennedy,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente de tr√°nsito con heridos/Muertos,ALTA,AGOSTO,Cancelado
4,809261194,1/08/2019 0:13,11,Suba,71,A√±os,FEMENINO,Norte,Dificultad Respiratoria,ALTA,AGOSTO,Traslado

In [52]:
df_consolidado.shape

(66270, 12)

In [53]:
print(df_consolidado.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66270 entries, 0 to 66269
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   NUMERO_INCIDENTE                   66270 non-null  object
 1   FECHA_INICIO_DESPLAZAMIENTO_MOVIL  66270 non-null  object
 2   CODIGO_LOCALIDAD                   66270 non-null  int64
 3   LOCALIDAD                          66270 non-null  object
 4   EDAD                               66270 non-null  object
 5   UNIDAD                             66270 non-null  object
 6   GENERO                             66270 non-null  object
 7   RED                                66270 non-null  object
 8   TIPO_INCIDENTE                     66270 non-null  object
 9   PRIORIDAD                          66270 non-null  object
 10  MES                                16807 non-null  object
 11  CLASIFICACION_FINAL                16807 non-null  object
dtypes: int64(1), object(11)
memory usage: 6.1+ MB
None

In [54]:
df_consolidado["LOCALIDAD"] = df_consolidado["LOCALIDAD"].apply(lambda x:x.strip())

In [55]:
df_consolidado.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,MES,CLASIFICACION_FINAL
0,809224194,1/08/2019 0:28,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA,AGOSTO,Cancelado
1,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado
2,809244194,1/08/2019 0:10,13,Teusaquillo,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente de tr√°nsito con heridos/Muertos,ALTA,AGOSTO,Cancelado
3,809253194,1/08/2019 0:12,8,Kennedy,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente de tr√°nsito con heridos/Muertos,ALTA,AGOSTO,Cancelado
4,809261194,1/08/2019 0:13,11,Suba,71,A√±os,FEMENINO,Norte,Dificultad Respiratoria,ALTA,AGOSTO,Traslado

In [56]:
col = "GENERO"
df_consolidado[col].value_counts(dropna=False)

SIN_DATO     29043
MASCULINO    20161
FEMENINO     17066
Name: GENERO, dtype: int64

In [59]:
df_consolidado[col].fillna("SIN-DATO",inplace = True)
df_consolidado[col] = df_consolidado[col].apply(lambda x:x.strip())
df_consolidado[col].value_counts(dropna=False)

SIN_DATO     29043
MASCULINO    20161
FEMENINO     17066
Name: GENERO, dtype: int64

In [61]:
col = "TIPO_INCIDENTE"
df_consolidado[col] = df_consolidado[col].apply(lambda x:x.strip())
df_consolidado[col].value_counts(dropna = False)

Accidente de tr√°nsito con heridos/Muertos    17764
ACCIDENTE DE TR√ÅNSITO CON HERIDOS/MUERTOS     6333
Inconsciente/Paro Cardiorrespiratorio         4969
Dificultad Respiratoria                       4262
Enfermo                                       3424
                                             ...
PREVENCI√ìN                                       1
HABITANTE DE LA CALLE                            1
RESCATES MONTA√ëA                                 1
VERIFICAR SITUACI√ìN                              1
Delincuente capturado por civil                  1
Name: TIPO_INCIDENTE, Length: 107, dtype: int64

In [64]:
col = "CLASIFICACION_FINAL"
df_consolidado[col].value_counts(dropna = False)

NaN                            49463
Traslado                        7287
Cancelado                       4147
Trasladado por Otro Recurso     1573
Falsa Alarma                    1503
Desistimiento                   1442
No Amerita Traslado              443
Fallecido                        205
No Ubica                         204
SIN_DATO                           3
Name: CLASIFICACION_FINAL, dtype: int64

In [73]:
df_consolidado[col].fillna("SIN-DATO").value_counts()

SIN-DATO                       49463
Traslado                        7287
Cancelado                       4147
Trasladado por Otro Recurso     1573
Falsa Alarma                    1503
Desistimiento                   1442
No Amerita Traslado              443
Fallecido                        205
No Ubica                         204
SIN_DATO                           3
Name: CLASIFICACION_FINAL, dtype: int64

In [78]:
col = "CLASIFICACION_FINAL"
df_consolidado[col].fillna("SIN-DATO",inplace = True)
df_consolidado[col] = df_consolidado[col].apply(lambda x:x.strip())
df_consolidado.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,MES,CLASIFICACION_FINAL
0,809224194,1/08/2019 0:28,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA,AGOSTO,Cancelado
1,809240194,1/08/2019 0:15,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado
2,809244194,1/08/2019 0:10,13,Teusaquillo,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente de tr√°nsito con heridos/Muertos,ALTA,AGOSTO,Cancelado
3,809253194,1/08/2019 0:12,8,Kennedy,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente de tr√°nsito con heridos/Muertos,ALTA,AGOSTO,Cancelado
4,809261194,1/08/2019 0:13,11,Suba,71,A√±os,FEMENINO,Norte,Dificultad Respiratoria,ALTA,AGOSTO,Traslado

In [81]:
df_consolidado["FECHA_INICIO_DESPLAZAMIENTO_MOVIL"] = pd.to_datetime(df_consolidado["FECHA_INICIO_DESPLAZAMIENTO_MOVIL"],dayfirst = True)
df_consolidado.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,MES,CLASIFICACION_FINAL
0,809224194,2019-08-01 00:28:00,1,Usaquen,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Inconsciente/Paro Cardiorrespiratorio,ALTA,AGOSTO,Cancelado
1,809240194,2019-08-01 00:15:00,11,Suba,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente cerebro vascular,BAJA,AGOSTO,Cancelado
2,809244194,2019-08-01 00:10:00,13,Teusaquillo,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente de tr√°nsito con heridos/Muertos,ALTA,AGOSTO,Cancelado
3,809253194,2019-08-01 00:12:00,8,Kennedy,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Accidente de tr√°nsito con heridos/Muertos,ALTA,AGOSTO,Cancelado
4,809261194,2019-08-01 00:13:00,11,Suba,71,A√±os,FEMENINO,Norte,Dificultad Respiratoria,ALTA,AGOSTO,Traslado

In [82]:
df_consolidado["FECHA_INICIO_DESPLAZAMIENTO_MOVIL"].max()

Timestamp('2019-12-01 01:39:40')

## Remove duplicates

In [91]:
print("Number of rows before cleaning",df_consolidado.shape[0])
df_consolidado.drop_duplicates(inplace = True)
print("Number of rows after cleaning",df_consolidado.shape[0])

Number of rows before cleaning 66142
Number of rows after cleaning 66142